{% extends 'v13/layout.html' %}

{% block beforeContent %}
{#
{{ backLink({
  "href": "javascript:history.go(-1);",
  "text": "Go back"
}) }}
#}
{% endblock %}

{% block content %}

{% from '../includes/choose-template-table-row.njk' import choose_template_row %}
{% from '../includes/choose-template-table-row-language.njk' import choose_template_row_language %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-u-reading-width">

        <span class="nhsuk-caption-l">{{ data['message-name-1'] }}</span>
        <h1 class="nhsuk-heading-xl">  
          {% if data['message-type'] == 'NHS App' %}Choose an NHS App template{%endif%}
          {% if data['message-type'] == 'Email' %}Choose an email template{%endif%}
          {% if data['message-type'] == 'Text message (SMS)' %}Choose a text message (SMS) template{%endif%}
          {% if data['message-type'] == 'Letter' %}Choose a standard English letter template{%endif%}
          {% if data['message-type'] == 'Large print' %}Choose a large print letter template{%endif%}
          {% if data['message-type'] == 'Braille' %}Choose a braille letter template{%endif%}
          {% if data['message-type'] == 'Other language' %}Choose other language templates{%endif%}
        </h1>

      </div>

      {#
      {% if data['show-templates'] == '1' and data['show-folders'] == '1' %}

      <div class="nhsuk-form-group">

        <label class="nhsuk-label" for="filter-folders">
          Filter templates by folder
        </label>

        <select class="nhsuk-select" id="filter-folders" name="filter-folders" onchange="toggleTable();">
          <option value="0" selected>All templates</option>
          <option value="1">{{ data['template-folder-1-name'] }}</option>
          <option value="2">{{ data['template-folder-2-name'] }}</option>
        </select>

      </div>

      {% endif %}
      #}

      {% if data['show-templates'] == '1' %}

      <form action="create-message" method="post" autocomplete="off">


        



        {% if data['message-type'] == 'NHS App' %}

        {% if data['channel-1-template'] %}

        <table role="table" class="notify-template-content nhsuk-u-margin-bottom-6">
          <tbody class="nhsuk-table__body">

            <tr role="row" class="nhsuk-table__row">
              <th role="cell" class="nhsuk-table__cell" style="width:25%;">
                {#Current template#}
                Previously selected template
              </th>
              <td role="cell" class="nhsuk-table__cell">
                {{ data['channel-1-template'] }}
              </td>
            </tr>

          </tbody>
        </table>

        {% endif %}

        <p class="nhsuk-hint">Choose one option.</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">
 
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">

              <th role="columnheader" class="" scope="col">
                Select
              </th>

              <th role="columnheader" class="" scope="col">

                <button class="nhsnotify-sort-button">
                  Name
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">
                
                <button class="nhsnotify-sort-button">
                  Type
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">

                <button class="nhsnotify-sort-button">
                  Last edited
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">
              </th>
              
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            {{choose_template_row(
              templateName=data['template-1-name'], 
              templateNumber='1', 
              templateTypeName='NHS App', 
              templateType='app', 
              channelNumber=data['channel-number'], 
              selectedTemplate=data['channel-1-template']
            )}}

            {{choose_template_row(
              templateName=data['template-2-name'], 
              templateNumber='2', 
              templateTypeName='NHS App', 
              templateType='app', 
              channelNumber=data['channel-number'], 
              selectedTemplate=data['channel-1-template']
            )}}

            {{choose_template_row(
              templateName=data['template-3-name'], 
              templateNumber='3', 
              templateTypeName='NHS App', 
              templateType='app', 
              channelNumber=data['channel-number'], 
              selectedTemplate=data['channel-1-template']
            )}}

            {% if data['show-folders'] == '1' %}

            {{choose_template_row(templateName=data['template-10-name'], templateNumber='10', templateTypeName='NHS App', templateType='app', channelNumber=data["channel-number"], templateFolder='1', templateFolderName=data['template-folder-1-name'] )}}

            {{choose_template_row(templateName=data['template-13-name'], templateNumber='13', templateTypeName='NHS App', templateType='app', channelNumber=data["channel-number"], templateFolder='2', templateFolderName=data['template-folder-2-name'] )}}

            {% endif %}

          </tbody>
        </table>

        <div class="nhsuk-form-group" style="float: right;">
          <label class="nhsuk-label" for="select-1" style="display: inline-block;">
            Show
          </label>
          <select class="nhsuk-select" id="number-templates" name="number-templates" style="display: inline-block; min-width: auto;">
            <option value="18">18</option>
            <option value="36">36</option>
            <option value="all">All</option>
          </select>
        </div>

        <nav class="nhsnotify-pagination">
          <span class="nhsnotify-pagination_item nhsnotify-pagination_item_current">1</span>
          <a href="/404">
            <span class="nhsnotify-pagination_item">2</span>
          </a>
          <a href="/404">
            <span class="nhsnotify-pagination_item nhsnotify-pagination_item_arrow nhsnotify-pagination_item_arrow_next">
              Next
              <svg class="nhsuk-icon nhsuk-icon--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
              </svg>
            </span>
          </a>
          <p class="nhsnotify-pagination_count">1 to 18 of 36 templates</p>
        </nav>

        {% endif %}






        {% if data['message-type'] == 'Text message (SMS)' %}

        {% if data['channel-3-template'] %}

        <table role="table" class="notify-template-content nhsuk-u-margin-bottom-6">
          <tbody class="nhsuk-table__body">

            <tr role="row" class="nhsuk-table__row">
              <th role="cell" class="nhsuk-table__cell" style="width:25%;">
                Current template
              </th>
              <td role="cell" class="nhsuk-table__cell">
                {{ data['channel-3-template'] }}
              </td>
            </tr>

          </tbody>
        </table>

        {% endif %}

        <p class="nhsuk-hint">Choose one option.</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">
 
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">

              <th role="columnheader" class="" scope="col">
                Select
              </th>

              <th role="columnheader" class="" scope="col">

                <button class="nhsnotify-sort-button">
                  Name
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">
                
                <button class="nhsnotify-sort-button">
                  Type
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">

                <button class="nhsnotify-sort-button">
                  Last edited
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">
              </th>

            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            {{choose_template_row(
              templateName=data['template-4-name'], 
              templateNumber='4', 
              templateTypeName='Text message (SMS)', 
              templateType='sms', 
              channelNumber=data['channel-number'], 
              selectedTemplate=data['channel-3-template']
            )}}

            {{choose_template_row(
              templateName=data['template-5-name'], 
              templateNumber='5', 
              templateTypeName='Text message (SMS)', 
              templateType='sms', 
              channelNumber=data['channel-number'], 
              selectedTemplate=data['channel-3-template']
            )}}

            {{choose_template_row(
              templateName=data['template-6-name'], 
              templateNumber='6', 
              templateTypeName='Text message (SMS)', 
              templateType='sms', 
              channelNumber=data['channel-number'], 
              selectedTemplate=data['channel-3-template']
            )}}

            {% if data['show-folders'] == '1' %}

            {{choose_template_row(templateName=data['template-12-name'], templateNumber='12', templateTypeName='Text message (SMS)', templateType='sms', channelNumber=data["channel-number"], templateFolder='1', templateFolderName=data['template-folder-1-name'] )}}

            {% endif %}

          </tbody>
        </table>

        {% endif %}







        {% if data['message-type'] == 'Email' %}

        {% if data['channel-2-template'] %}

        <table role="table" class="notify-template-content nhsuk-u-margin-bottom-6">
          <tbody class="nhsuk-table__body">

            <tr role="row" class="nhsuk-table__row">
              <th role="cell" class="nhsuk-table__cell" style="width:25%;">
                Current template
              </th>
              <td role="cell" class="nhsuk-table__cell">
                {{ data['channel-2-template'] }}
              </td>
            </tr>

          </tbody>
        </table>

        {% endif %}

        <p class="nhsuk-hint">Choose one option.</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">
 
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">

              <th role="columnheader" class="" scope="col">
                Select
              </th>

              <th role="columnheader" class="" scope="col">

                <button class="nhsnotify-sort-button">
                  Name
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">
                
                <button class="nhsnotify-sort-button">
                  Type
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">

                <button class="nhsnotify-sort-button">
                  Last edited
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">
              </th>

            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            {{choose_template_row(
              templateName=data['template-7-name'], 
              templateNumber='7', 
              templateTypeName='Email', 
              templateType='email', 
              channelNumber=data['channel-number'], 
              selectedTemplate=data['channel-2-template']
            )}}

            {{choose_template_row(
              templateName=data['template-8-name'], 
              templateNumber='8', 
              templateTypeName='Email', 
              templateType='email', 
              channelNumber=data['channel-number'], 
              selectedTemplate=data['channel-2-template']
            )}}

            {{choose_template_row(
              templateName=data['template-9-name'], 
              templateNumber='9', 
              templateTypeName='Email', 
              templateType='email', 
              channelNumber=data['channel-number'], 
              selectedTemplate=data['channel-2-template']
            )}}

            {% if data['show-folders'] == '1' %}

            {{choose_template_row(templateName=data['template-11-name'], templateNumber='11', templateTypeName='Email', templateType='email', channelNumber=data["channel-number"], templateFolder='1', templateFolderName=data['template-folder-1-name'] )}}

            {{choose_template_row(templateName=data['template-14-name'], templateNumber='14', templateTypeName='Email', templateType='email', channelNumber=data["channel-number"], templateFolder='2', templateFolderName=data['template-folder-2-name'] )}}

            {% endif %}

          </tbody>
        </table>

        {% endif %}







        {% if data['message-type'] == 'Letter' %}

        {% if data['channel-4-template'] %}

        <table role="table" class="notify-template-content nhsuk-u-margin-bottom-6">
          <tbody class="nhsuk-table__body">

            <tr role="row" class="nhsuk-table__row">
              <th role="cell" class="nhsuk-table__cell" style="width:25%;">
                Current template
              </th>
              <td role="cell" class="nhsuk-table__cell">
                {{ data['channel-4-template'] }}
              </td>
            </tr>

          </tbody>
        </table>

        {% endif %}

        <p class="nhsuk-hint">Choose one option.</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">
 
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">

              <th role="columnheader" class="" scope="col">
                Select
              </th>
              
              <th role="columnheader" class="" scope="col">

                <button class="nhsnotify-sort-button">
                  Name
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">
                
                <button class="nhsnotify-sort-button">
                  Type
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">

                <button class="nhsnotify-sort-button">
                  Last edited
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">
              </th>

            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            {{choose_template_row(
              templateName=data['template-10-name'], 
              templateNumber='10', 
              templateTypeName='Standard letter', 
              templateType='letter', 
              channelNumber=data['channel-number'], 
              selectedTemplate=data['channel-4-template']
            )}}

            {{choose_template_row(
              templateName=data['template-11-name'], 
              templateNumber='11', 
              templateTypeName='Standard letter', 
              templateType='letter', 
              channelNumber=data['channel-number'], 
              selectedTemplate=data['channel-4-template'] 
            )}}

            {{choose_template_row(
              templateName=data['template-12-name'], 
              templateNumber='12', 
              templateTypeName='Standard letter', 
              templateType='letter', 
              channelNumber=data['channel-number'], 
              selectedTemplate=data['channel-4-template'] 
            )}}

            <!--{% if data['show-folders'] == '1' %}

            {{choose_template_row(templateName=data['template-11-name'], templateNumber='11', templateTypeName='Email', templateType='email', channelNumber=data["channel-number"], templateFolder='1', templateFolderName=data['template-folder-1-name'] )}}

            {{choose_template_row(templateName=data['template-14-name'], templateNumber='14', templateTypeName='Email', templateType='email', channelNumber=data["channel-number"], templateFolder='2', templateFolderName=data['template-folder-2-name'] )}}

            {% endif %}-->

          </tbody>
        </table>

        {% endif %}






        {% if data['message-type'] == 'Large print' %}

        {% if data['channel-4-large-print-template'] %}

        <table role="table" class="notify-template-content nhsuk-u-margin-bottom-6">
          <tbody class="nhsuk-table__body">

            <tr role="row" class="nhsuk-table__row">
              <th role="cell" class="nhsuk-table__cell" style="width:25%;">
                Current template
              </th>
              <td role="cell" class="nhsuk-table__cell">
                {{ data['channel-4-large-print-template'] }}
              </td>
            </tr>

          </tbody>
        </table>

        {% endif %}

        <p class="nhsuk-hint">Choose one option.</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">
 
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">

              <th role="columnheader" class="" scope="col">
                Select
              </th>
              
              <th role="columnheader" class="" scope="col">

                <button class="nhsnotify-sort-button">
                  Name
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">
                
                <button class="nhsnotify-sort-button">
                  Type
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">

                <button class="nhsnotify-sort-button">
                  Last edited
                  <svg class="sort-icon" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                    <path d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z"></path>
                  </svg>
                </button>

              </th>

              <th role="columnheader" class="" scope="col">
              </th>

            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            
            {{choose_template_row(templateName=data['template-13-name'], templateNumber='13', templateTypeName='Large print letter', templateType='letter-large-print', channelNumber=data["channel-number"] )}}

            {{choose_template_row(templateName=data['template-14-name'], templateNumber='14', templateTypeName='Large print letter', templateType='letter-large-print', channelNumber=data["channel-number"] )}}

            {{choose_template_row(templateName=data['template-15-name'], templateNumber='15', templateTypeName='Large print letter', templateType='letter-large-print', channelNumber=data["channel-number"] )}}

          </tbody>
        </table>

        {% endif %}



        <div class="nhsuk-form-group">

          {{ button({
            text: 'Save and continue'
          }) }}

          <a href="javascript:history.go(-1);" class="nhsuk-u-font-size-19 nhsuk-u-padding-top-3 nhsuk-u-margin-left-3" style="display: inline-block;">Go back</a>

        </div>

      </form>

      {% else%}

      <p>You do not have any templates yet.</p>
      
      <div class="nhsuk-form-group">

        <p><a href="folder-templates">Go to templates</a></p>

        <p><a href="create-message">Go back</a></p>

      </div>

      {% endif %}

    </div>
  </div>
{% endblock %}