{% extends 'v13/layout.html' %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="create-message" method="post" autocomplete="off" onsubmit="return checkFormCreateMessage();">

          <div class="nhsuk-form-group">

            <h1 class="nhsuk-heading-xl">
              {% if data['rename-message'] == '1' %}
                Rename message plan
              {% else %}
                Create a message plan
              {% endif %}
            </h1>

          </div>
        
          <div class="nhsuk-form-group nhsuk-u-margin-bottom-6">

            <label class="nhsuk-label nhsuk-label--s" for="template-app-name-1">
              Message plan name
            </label>
            <div class="nhsuk-hint">
              This will not be visible to recipients.
            </div>

            {% include "../includes/details-message-plan-name.html" %}

            <input class="nhsuk-input" name="message-name-1" id="message-name-1" type="text" value="{{ data['message-name-1'] }}">

            <span class="nhsuk-error-message nhsuk-u-margin-top-2" id="message-name-1--error">
              <span class="nhsuk-u-visually-hidden">Error:</span> Enter a message plan name
            </span>

          </div>

          <div class="nhsuk-form-group nhsuk-u-margin-bottom-6">

            <label class="nhsuk-label nhsuk-label--s" for="template-app-name-1">
              Campaign
            </label>
            <div class="nhsuk-hint">
              This message plan will link to your only campaign:
            </div>

            <input type="hidden" name="message-plan-campaign" value="Campaign 1">
            <p>Campaign 1</p>

          </div>
        
          <div class="nhsuk-form-group">

            <input type="hidden" name="messages-draft" value="1">

            {{ button({
              text: 'Save and continue'
            }) }}

            <a href="javascript:history.go(-1);" class="nhsuk-u-font-size-19 nhsuk-u-margin-left-3 nhsuk-u-padding-top-3" style="display: inline-block;">Go back</a>

          </div>

      </form>

    </div>
  </div>
{% endblock %}
