{% extends 'v13/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% from '../includes/template-folder-table-row.njk' import row %}
{% from '../includes/template-folder-table-row-letter.njk' import row_letter %}
{% from '../includes/template-folder-table-row-folder.njk' import row_folder %}

{% set templates = [
  { number: "1", type: "app", typeName: "NHS App", name: data['template-1-name'] },
  { number: "2", type: "app", typeName: "NHS App", name: data['template-2-name'] },
  { number: "3", type: "app", typeName: "NHS App", name: data['template-3-name'] },
  { number: "4", type: "sms", typeName: "Text message (SMS)", name: data['template-4-name'] },
  { number: "5", type: "sms", typeName: "Text message (SMS)", name: data['template-5-name'] },
  { number: "6", type: "sms", typeName: "Text message (SMS)", name: data['template-6-name'] },
  { number: "7", type: "email", typeName: "Email", name: data['template-7-name'] },
  { number: "8", type: "email", typeName: "Email", name: data['template-8-name'] },
  { number: "9", type: "email", typeName: "Email", name: data['template-9-name'] },
  { number: "10", type: "letter", typeName: "Letter", name: data['template-10-name'] },
  { number: "11", type: "letter", typeName: "Letter", name: data['template-11-name'] },
  { number: "12", type: "letter", typeName: "Letter", name: data['template-12-name'] },
  { number: "13", type: "letter", typeName: "Large print letter", name: data['template-13-name'] },
  { number: "14", type: "letter", typeName: "Large print letter", name: data['template-14-name'] },
  { number: "15", type: "letter", typeName: "Large print letter", name: data['template-15-name'] },
  { number: "16", type: "letter", typeName: "Letter - French", name: data['template-16-name'] },
  { number: "17", type: "letter", typeName: "Letter - Italian", name: data['template-17-name'] },
  { number: "18", type: "letter", typeName: "Letter - German", name: data['template-18-name'] }
]
%}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!--<span class="nhsuk-caption-l">{{ data['folder-name-1'] }}</span>-->
      <h1 class="nhsuk-heading-xl">
        Templates
      </h1>

      <!--{{ details({
        text: "Organising your templates",
        HTML: "
        <p>Use folders to group related templates so it's easier to add them to your <a href='folder-messages'>message plans</a>.</p>
        <p>For example, a folder could contain the templates used in a specific message plan.</p>
        "
      }) }}-->

      {{ details({
        text: "What the template statuses mean",
        classes: "nhsuk-u-reading-width",
        HTML: "
        <h2 class='nhsuk-heading-s nhsuk-u-margin-bottom-1'>Draft</h2>
        <p>Templates you can edit. You're still working on these templates.</p>

        <h2 class='nhsuk-heading-s nhsuk-u-margin-bottom-1'>Locked</h2>
        <p>Templates you cannot edit. These templates are:</p>
        <ul>
          <li>part of a message plan in production</li>
          <li>ready to be sent</li>
        </ul>

        <h2 class='nhsuk-heading-s nhsuk-u-margin-bottom-1'>Checking files</h2>
        <p>These are automatic checks on your letter template files.</p>

        <h2 class='nhsuk-heading-s nhsuk-u-margin-bottom-1'>Files uploaded</h2>
        <p>Our automated checks are complete. Your letter template files have successfully uploaded.</p>

        <h2 class='nhsuk-heading-s nhsuk-u-margin-bottom-1'>Checks failed</h2>
        <p>Your letter template files have failed our automated checks. Open the template to find out why.</p>

        <h2 class='nhsuk-heading-s nhsuk-u-margin-bottom-1'>Waiting for proof</h2>
        <p>We are waiting for letter template proofs from our letter supplier. </p>

        <h2 class='nhsuk-heading-s nhsuk-u-margin-bottom-1'>Proof available</h2>
        <p>Letter template proofs are available for you to review. You can now add them to a message plan.</p>
        "
      }) }}

      <form action="" method="post">
        <input type="hidden" name="show-templates" value="1">
        <!--<input type="hidden" name="show-folders" value="1">-->
        {{ button({
          text: 'New template',
          classes: 'nhsuk-u-margin-right-2'
        }) }}

        <!--{{ button({
          text: 'New folder'
        }) }}-->
      </form>

      {% if data['show-templates'] == '1' or data['show-folders'] == '1' %}

      <table role="table" class="nhsuk-table-responsive">

        <caption class="nhsuk-table__caption">Your 18 templates</caption>

        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <!--<th role="columnheader" class="" scope="col">
              {% if data['show-templates'] == '1' %}
              <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input checkboxes" id="" name="" type="checkbox" value="" onclick="selectAll(this); toggleActionsByCheckboxes();">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for=""></label>
              </div>
              {% endif %}
            </th>-->
            <th role="columnheader" class="" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
              Type
            </th>
            <th role="columnheader" class="" scope="col">
              Status
            </th>
            <th role="columnheader" class="" scope="col">
              Date and <br />time created
            </th>
            <th role="columnheader" class="" scope="col">
              Action
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">

          {% if data['show-templates'] == '1' %}

            {% for template in templates %}
              
              {% if 
                data['messages-prod'] == '1' and 
                template.name in data['channel-1-template'] or 
                data['messages-prod'] == '1' and 
                template.name in data['channel-2-template'] or 
                data['messages-prod'] == '1' and 
                template.name in data['channel-3-template'] or 
                data['messages-prod'] == '1' and 
                template.name in data['channel-4-template'] or 
                data['messages-prod'] == '1' and 
                template.name in data['channel-4-large-print-template'] or 
                data['messages-prod'] == '1' and 
                template.name in data['channel-4-language-template'] 
              %}

                {{row(templateName=template.name, templateNumber=template.number, locked='1', templateTypeName=template.typeName, templateType=template.type)}}

              {% else %}

                {{row(templateName=template.name, templateNumber=template.number, locked='', templateTypeName=template.typeName, templateType=template.type)}}

              {% endif %}

            {% endfor %}

          {% endif %}

        </tbody>
      </table>

      <div class="notify-sticky-actions" id="notify-sticky-actions">
        <div class="nhsuk-width-container">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter">&nbsp;</div>
            <div class="nhsuk-grid-column-three-quarters">

              <a href="/404" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0">Move to folder</a>

            </div>
          </div>
        </div>
      </div>

      {% else %}
 
      <p>You do not have any templates yet.</p>

      {% endif %}
      
    </div>
  </div>
{% endblock %}