{% extends 'v13/layout.html' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Create a draft copy of '{{ data['message-name-1'] }}'?</h1>

      <p>This will create a new, editable draft of this message plan. It will link to the same templates as this message plan.</p>

      <div class="nhsuk-form-group">

        <a href="folder-messages" class="nhsuk-button nhsuk-u-margin-right-3">Yes, copy message plan</a>

        <a href="folder-messages" class="nhsuk-button nhsuk-button--secondary">No, go back</a>

      </div>

      </form>

    </div>
  </div>
{% endblock %}