{% extends 'v13/layout.html' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Delete '{{ data['message-name-1'] }}'?</h1>

      <p>This will permanently delete this message plan. You cannot undo this action.</p>
      <p>This will not delete any templates linked to this message plan.</p>

      <a href="folder-messages?messages-draft=0&message-name-1=" class="nhsuk-button nhsuk-button--warning nhsuk-u-margin-right-2">Yes, delete message plan</a>

      <a href="folder-messages" class="nhsuk-button nhsuk-button--secondary">No, go back</a>

    </div>
  </div>
{% endblock %}
