{% extends 'v11/layout.html' %}





{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Move message plan to production</h1>

      <table role="table" class="notify-template-content nhsuk-u-margin-bottom-6">
        <tbody class="nhsuk-table__body">

          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell" style="width:20%;">
              Name
            </th>
            <td role="cell" class="nhsuk-table__cell">
              {{ data['message-name-1'] }}
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <a href="move-message-preview">Preview</a>
            </td>
          </tr>

          <!--<tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell" style="width:20%;">
              Name
            </th>
            <td role="cell" class="nhsuk-table__cell">
              {{ data['message-name-1'] }}
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <a href="">Preview</a>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell" style="width:20%;">
              Name
            </th>
            <td role="cell" class="nhsuk-table__cell">
              {{ data['message-name-1'] }}
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <a href="">Preview</a>
            </td>
          </tr>-->

        </tbody>
      </table>

      <p>Moving message plans from draft to production means that they are ready to send.</p>
      
      <p>Messages will only be sent to recipients when you make a request with <a href='https://digital.nhs.uk/developer/api-catalogue/nhs-notify'>NHS Notify API</a> or <a href='https://digital.nhs.uk/developer/api-catalogue/nhs-notify-mesh'>NHS Notify MESH</a>.</p>

      {#
      {{ details({
        summaryText: "What moving messages plans to production means",
        html: "
        <p>Moving message plans from draft to production means that they are ready to send.</p>
        <p>Messages will only be sent to recipients when you make a request with <a href='https://digital.nhs.uk/developer/api-catalogue/nhs-notify'>NHS Notify API</a> or <a href='https://digital.nhs.uk/developer/api-catalogue/nhs-notify-mesh'>NHS Notify MESH</a>.</p>
        "
      }) }}
      #}

      <h2 class="nhsuk-heading-m">Before you move message plans to production</h2>

      <p>Any templates used in these message plans will be locked.</p>

      <p>Make sure:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>the relevant stakeholders in your team have approved your templates and message plan</li>
        <li>your templates have no errors</li>
      </ul>

      {{ warningCallout({
        heading: "Important",
        html: "
        <p>You cannot edit anything that is in production.</p>
        <p>If you need to edit your templates or message plans, you can copy and replace them.</p>
          "
      }) }}

      <div class="nhsuk-form-group">

        <a href="folder-messages" class="nhsuk-button nhsuk-button--secondary">Keep in draft</a>

        <a href="folder-messages?messages-draft=0&messages-prod=1" class="nhsuk-button nhsuk-button--warning nhsuk-u-margin-left-3">Move to production</a>

      </div>

    </div>
  </div>
{% endblock %}
