{% set protoVersion = 'v13' %}

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/css/main.css" rel="stylesheet">
  <script src="/nhsuk-frontend/nhsuk.min.js" defer type="module"></script>
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  NHS Notify prototype
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}

{{ header({
  service: {
    text: "Notify",
    href: "folder"
  },
  navigation: {
    items: [
      {
        text: "Templates",
        href: "folder-templates"
      },
      {
        text: 'Message plans',
        href: 'folder-messages'
      }
    ]
  },
  account: {
    items: [
      {
        text: "Florence Nightingale",
        icon: "true"
      },
      {
        text: "My team name"
      },
      {
        text: 'Sign out',
        href: 'login?auth='
      }
    ]
  }
  })
}}

{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    'links': [
      {
        'URL': '/',
        'label': 'Home'
      },
      {
        "URL": "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
        "label": "Reset data"
      },
      {
        'URL': '/',
        'label': 'Prototype version: ' + protoVersion + ''
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include 'includes/scripts.html' %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
