{% macro choose_templates_channels_row(templateName, templateNumber, templateType, templateTypeName, templateFolder, templateFolderName) %}

<tr role="row" class="nhsuk-table__row {% if templateFolder %}template-folder-{{templateFolder}}{% endif %}">
    
    <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Select </span>
        <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input checkboxes" id="template-{{ templateNumber }}" name="" type="checkbox" value="{{templateName}}">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="template-{{ templateNumber }}"></label>
        </div>
    </td>
    
    <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Name </span>
        {{templateName}}
        {% if templateFolder %}<span class="notify-body-s-grey">Folder: {{templateFolderName}}</span>{% endif %}
    </td>

    <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Type </span>
        {{templateTypeName}}
    </td>

    <td role="cell" class="nhsuk-table__cell nhsuk-body-s">
        <span class="nhsuk-table-responsive__heading">Date and time created </span>30 Apr 2024<br />09:34
    </td>

    <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Action </span>
        <p class="nhsuk-u-margin-bottom-2 nhsuk-body-s"><a href="create-message-preview-template-{{templateType}}?preview-template-name={{templateName}}">Preview</a></p>
    </td>

</tr>

{% endmacro %}