{% macro choose_template_row(templateName, templateNumber, templateTypeName, templateType, channelNumber, templateFolder, templateFolderName) %}

<tr role="row" class="nhsuk-table__row {% if templateFolder %}template-folder-{{templateFolder}}{% endif %}">

    <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Select </span>
        <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="template-{{templateNumber}}" name="channel-{{channelNumber}}-template" type="radio" value="{{templateName}}">
            <label class="nhsuk-label nhsuk-radios__label" for="template-{{templateNumber}}"></label>
        </div>
    </td>

    <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Name </span>
        {{templateName}}
        {% if templateFolder %}<span class="notify-body-s-grey">Folder: {{templateFolderName}}</span>{% endif %}
    </td>

    <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Type </span>
        {{templateTypeName}}
        </td>
        <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />09:34
    </td>

    <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Action </span>
        <p class="nhsuk-u-margin-bottom-2"><a href="create-message-preview-template-{{templateType}}?preview-template-name={{templateName}}">Preview</a></p>
    </td>
    
</tr>

{% endmacro %}