// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/side-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////


a:visited{
    color:$nhsuk-link-color;
}

.notify-button-blue{
    background-color: $color_nhsuk-blue;
    color: $color_nhsuk-white;

    &:hover,
    &:active {
        background-color: $color_nhsuk-blue;
        color: $color_nhsuk-white;
    }
}

.notify-template-borderbox{
    border: 4px solid $nhsuk-border-color;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
}

.notify-template-content{
    background-color: $color_nhsuk-white;
    border: 1px solid $nhsuk-border-color;

    tr{
        border-bottom: 1px solid $nhsuk-border-color;
    }

    th,td{
        padding: 1rem;
    }

    th{
        color: $nhsuk-secondary-text-color;
    }

    .nhsuk-table__row:hover{
        background-color: $color_nhsuk-white !important;
    }
}

.notify-confirmation-panel{
    color: $color_nhsuk-white;
    background-color:  $color_nhsuk-green;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.nhsuk-error-message{
    display: none;
}

.nhsuk-button--cis2{
    background-color: #005eb8;
    vertical-align: middle;
    &:hover{
        background-color: #7C2855;
    }
    img{
        width: 80px;
        vertical-align: middle;
        margin-right:10px;
    }
}

.nhsuk-button--microsoft {
    max-width: 280px;
    border:$nhsuk-form-border-color 1px solid;
}

.nhsuk-header__search {
    float: left;
    margin-left: 8px;
    position: relative;
    text-align: right;
}

.nhsuk-account__login {
    float: right;
    margin-left: 1em;
    margin-top: 9px;
    padding: 0;
    position: relative;
    z-index: 2;

    .nhsuk-account__login--link {
        color: #fff;
        padding: 0;

        &:focus,
        &:visited,
        &:hover {
            background-color: none;
            box-shadow: none;
            outline: none;
        }
    }

    .nhsuk-account__login--icon {
        fill: #fff;
        height: 1.6em;
        margin-left: .6em;
        position: relative;
        top: .4em;
        width: 1.6em;
    }
}

.nhsuk-code-block{
    display: inline-block;
    padding: 0.6rem;
    background-color: $color_nhsuk-grey-4;
}

.message-body{
    min-height: 350px;
}

.message-body-letter{
    min-height: 600px;
}

.nhsuk-warning-callout-nhs-notify{
    border: $color_nhsuk-yellow 1px solid;
    background-color: #fff9c4;
}

// Hide the text area that contains the raw markdown before it's converted
#sourceTA,
.hidden{
    display: none;
}

// Hide the right-hand column on the create template pages when the page loads
#column-right{
    display: none;
}


.nhsuk-button--warning {
    background-color: #d5281b;
    box-shadow: 0 4px 0 #6b140e;
    
    &:active{
        background-color: #6b140e;
    }
    
    &:hover{
        background-color: #a82015;
    }
}

// Custom styles for the email preview to closely match the GOV Notify preview
.notify-template-email-message{
    h1{
        font-size: 27px;
        margin-bottom: 15px;
    }

    h2{
        font-size: 19px;
        margin-bottom: 15px;
        padding-top: 0;
    }

    h3,h4,h5,h6{
        font-size: 19px;
        margin-bottom: 15px;
        font-weight: normal;
    }

}



// Custom styles for the routing plan creation


.notify-channel-block {

    margin-bottom: 50px;
    position: relative;

    &::after{
        content: "";
        height: 105%;
        display: block;
        border: dashed 2px $nhsuk-link-color;
        position: absolute;
        top: 40px;
        left: 19px;
    }

    &:last-of-type::after{
        display: none;
    }

    .notify-channel-block-channel {

        .notify-channel-block-number{
            width: 40px;
            height: 40px;
            padding-top:5px;
            margin-right:20px;
            background-color: $nhsuk-link-color;
            border-radius: 20px;
            color: $color_nhsuk-white;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            display: inline-block;
            float: left;
        }

        h3{
            padding-top: 5px;
        }
        
    }



    .notify-channel-block-outer {
        padding: 20px;
        margin-left: 60px;
        background-color: $color_nhsuk-white;
        border:1px solid $nhsuk-border-color;
    }

        .notify-channel-move-up{
            margin-top: 10px;
            font-size: 19px;
            display: inline-block;

            .nhsuk-icon__chevron-left{
                width: 38px;
                height: 38px;
                vertical-align: middle;
                text-decoration: none;
            }
        }

        .notify-channel-move-down{
            margin-top: 10px;
            font-size: 19px;
            display: inline-block;

            .nhsuk-icon__chevron-left{
                width: 38px;
                height: 38px;
                vertical-align: middle;
                text-decoration: none;
            }
        }

    .notify-channel-block-inner {
        padding: 20px;
        background-color: $color_nhsuk-white;
        border:1px solid $nhsuk-border-color;

        p:last-of-type{
            margin-bottom: 0;
        }
    }

}

.notify-channel-add-fallback{
    margin-bottom: 50px;

    .nhsuk-icon__plus{
        width: 48px;
        height: 48px;
        margin-right:12px;
        vertical-align: middle;
        fill: $nhsuk-secondary-text-color;
        text-decoration: none;
    }
}


.notify-summary-list {
    background-color: $color_nhsuk-white;
    border: 1px solid $nhsuk-border-color;

    .nhsuk-summary-list__key{
        width: 20%;
        padding: 20px;
        color: $nhsuk-secondary-text-color;
    }
    
    .nhsuk-summary-list__value{
        padding: 20px;
    }
}


.notify-sticky-actions{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    padding: 20px 0;
    background-color: $color_nhsuk-white;
    border-top: solid 2px $nhsuk-border-color;
    display: none;
}


// Fixing bug with checkbox tick icons inside an expander component

.nhsuk-expander{

    .nhsuk-checkboxes__input + .nhsuk-checkboxes__label::after {
        border-width: 0 0 4px 4px;
        height: 6px;
        left: 9px;
        top: 13px;
        width: 19px;
    }
}