// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/side-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////


a:visited,
a:not(.nhsuk-button):not(:hover):not(:focus):not(:active):visited {
    color:$nhsuk-link-color;
}

.notify-button-blue{
    background-color: $color_nhsuk-blue;
    color: $color_nhsuk-white;

    &:hover,
    &:active {
        background-color: $color_nhsuk-blue;
        color: $color_nhsuk-white;
    }
}

.notify-template-borderbox{
    border: 4px solid $nhsuk-border-color;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
}

.notify-template-content{
    background-color: $color_nhsuk-white;
    border: 1px solid $nhsuk-border-color;

    tr{
        border-bottom: 1px solid $nhsuk-border-color;
    }

    th,td{
        padding: 1rem;
    }

    th{
        color: $nhsuk-secondary-text-color;
    }

    .nhsuk-table__row:hover{
        background-color: $color_nhsuk-white !important;
    }
}

.notify-confirmation-panel{
    color: $color_nhsuk-white;
    background-color:  $color_nhsuk-green;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.nhsuk-error-message{
    display: none;
}

.nhsuk-button--cis2{
    background-color: #005eb8;
    vertical-align: middle;
    &:hover{
        background-color: #7C2855;
    }
    img{
        width: 80px;
        vertical-align: middle;
        margin-right:10px;
    }
}

.nhsuk-button--microsoft {
    max-width: 280px;
    border:$nhsuk-form-border-color 1px solid;
}

.nhsuk-header__search {
    float: left;
    margin-left: 8px;
    position: relative;
    text-align: right;
}

.nhsuk-account__login {
    float: right;
    margin-left: 1em;
    margin-top: 9px;
    padding: 0;
    position: relative;
    z-index: 2;

    .nhsuk-account__login--link {
        color: #fff;
        padding: 0;

        &:focus,
        &:visited,
        &:hover {
            background-color: none;
            box-shadow: none;
            outline: none;
        }
    }

    .nhsuk-account__login--icon {
        fill: #fff;
        height: 1.6em;
        margin-left: .6em;
        position: relative;
        top: .4em;
        width: 1.6em;
    }
}


/*
.nhsuk-header__container:after {
    content: "Sign out";
    display: block;
    color: #fff;
    position: relative;
    top: 10px;
    font-size: 1rem;
}
*/



.nhsuk-code-block{
    display: inline-block;
    padding: 0.6rem;
    background-color: $color_nhsuk-grey-4;
}

.message-body{
    min-height: 350px;
}

.message-body-letter{
    min-height: 600px;
}

.nhsuk-warning-callout-nhs-notify{
    border: $color_nhsuk-yellow 1px solid;
    background-color: #fff9c4;
}

// Hide the text area that contains the raw markdown before it's converted
#sourceTA,
.hidden{
    display: none;
}


.nhsuk-button--warning {
    background-color: #d5281b;
    box-shadow: 0 4px 0 #6b140e;
    
    &:active{
        background-color: #6b140e;
    }
    
    &:hover{
        background-color: #a82015;
    }
}

// Custom styles for the email preview to closely match the GOV Notify preview
.notify-template-email-message{
    h1{
        font-size: 27px;
        margin-bottom: 15px;
    }

    h2{
        font-size: 19px;
        margin-bottom: 15px;
        padding-top: 0;
    }

    h3,h4,h5,h6{
        font-size: 19px;
        margin-bottom: 15px;
        font-weight: normal;
    }

}



// Custom styles for the routing plan creation


.notify-routing-plan{
    list-style: none;
    padding: 0;
    margin: 0 0 nhsuk-spacing(7) 0;
}

.notify-channel-block {

    margin-bottom: 70px;
    position: relative;

    &::after{
        content: "";
        height: calc(100% + 30px);
        display: block;
        border: dashed 2px $nhsuk-link-color;
        position: absolute;
        top: 40px;
        left: 18px;
    }

    &:last-of-type::after{
        display: none;
    }

    .notify-channel-block-channel {

        .notify-channel-block-number{
            width: 40px;
            height: 40px;
            padding-top:5px;
            margin-right:20px;
            background-color: $nhsuk-link-color;
            border-radius: 20px;
            color: $color_nhsuk-white;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            display: inline-block;
            float: left;
        }

        h3{
            padding-top: 5px;
            margin-bottom: 8px;
        }
        
    }



    .notify-channel-block-outer {
        padding: 20px;
        margin-left: 60px;
        background-color: $color_nhsuk-white;
        border:1px solid $nhsuk-border-color;
    }

        .notify-channel-move-up{
            margin-top: 10px;
            margin-right: 15px;
            font-size: 19px;
            display: inline-block;

            .nhsuk-icon__chevron-left{
                width: 38px;
                height: 38px;
                vertical-align: middle;
                text-decoration: none;
            }
        }

        .notify-channel-move-down{
            margin-top: 10px;
            font-size: 19px;
            display: inline-block;

            .nhsuk-icon__chevron-left{
                width: 38px;
                height: 38px;
                vertical-align: middle;
                text-decoration: none;
            }
        }

    .notify-channel-block-inner {
        padding: 20px;
        background-color: $color_nhsuk-white;
        border:2px solid $nhsuk-border-color;

        p:last-of-type{
            margin-bottom: 0;
        }
    }

}



.notify-channel-block__between {

    &::after{
        content: "";
        height: calc(100% + 50px);
        top: 20px;
        left: 18px;
    }

    .notify-channel-block-channel {

        padding-left: 60px;

        /*.notify-channel-block-oval{
            width: 20px;
            height: 20px;
            margin:3px 29px 0 11px;
            background-color: $nhsuk-secondary-text-color;
            border-radius: 10px;
            color: $color_nhsuk-white;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            display: inline-block;
            float: left;
        }

        p{
            margin: 0;
        }*/

        // details ul{
        //     margin-bottom: 24px;
        //     margin-top: 0;
        // }
        
    }

}


.notify-channel-block__rules {

    &::after{
        content: "";
        height: calc(100% + 45px);
        top: 40px;
    }

    .notify-channel-block-outer{
        background: none;
        border: none;
        padding: 6px 0 0 0;
    }

    .notify-channel-block-channel{

        .notify-channel-block-number{
            content: "";
            width: 25px;
            height: 25px;
            margin-right:20px;
            margin-left: 8px;
            background-color: $color_nhsuk-grey-5;
            border: $nhsuk-link-color 3px solid;
        }

        .notify-channel-block-icon-branch{
            content: "";
            width: 40px;
            height: 40px;
            margin-right:20px;
            padding-top: 5px;
            background-color: $color_nhsuk-grey-5;
            border: $nhsuk-link-color 3px solid;
            border-radius: 20px;
            text-align: center;
            display: inline-block;
            float: left;
            position: relative;
            z-index: 999;

            svg {
                width: 75%;
                height: 75%;

                path{
                    fill: $nhsuk-link-color;
                }
            }
        }
    }
}


.notify-channel-accessible{
    margin: 70px 0 0 60px;

    .notify-channel-block__rules{

        &::before{
            display: none !important;
        }

        &::after{
            content: "";
            height: calc(100% + 140px) !important;
            top: -70px !important;
        }

    }

    .notify-channel-block {

        &::before{
            content: "";
            width: 42px;
            height: 0;
            display: block;
            border: dashed 2px $nhsuk-link-color;
            position: absolute;
            top: 56px;
            left: 18px;
        }

        &::after{
            height: calc(100% + 66px);
            top: 4px;
        }

        &:last-of-type::after{
            display: block;
            height: 50px;
        }
    }
}








.notify-channel-add-fallback{
    position: relative;

    .nhsuk-icon__plus{
        width: 48px;
        height: 48px;
        margin-right:12px;
        vertical-align: middle;
        fill: $nhsuk-secondary-text-color;
        text-decoration: none;
    }

    &.notify-channel-add-fallback_first{
    }

    &.notify-channel-add-fallback_second{
        padding-left: 60px;
        padding-top: 10px;
        
        .nhsuk-icon__plus{
            position: absolute;
            top: 5px;
            left: -5px;
            z-index: 0;
        }

        .notify-add-second{
            top: 0;
            left: 0;
            z-index: 1;
        }

    }
    
}


.notify-summary-list {
    background-color: $color_nhsuk-white;
    border: 1px solid $nhsuk-border-color;

    .nhsuk-summary-list__key{
        width: 20%;
        padding: 20px;
        color: $nhsuk-secondary-text-color;
    }
    
    .nhsuk-summary-list__value{
        padding: 20px;
    }
}


.notify-sticky-actions{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    padding: 20px 0;
    background-color: $color_nhsuk-white;
    border-top: solid 2px $nhsuk-border-color;
    display: none;
}


// Fixing bug with checkbox tick icons inside an expander component

.nhsuk-expander{

    .nhsuk-checkboxes__input + .nhsuk-checkboxes__label::after {
        border-width: 0 0 4px 4px;
        height: 6px;
        left: 9px;
        top: 13px;
        width: 19px;
    }
}


.notify-button-small {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
}

.notify-message-button-container{
    margin-left: 60px;
}

.notify-icon-folder{
    width: 34px;
    height: 34px;
    vertical-align: middle;
    margin-right: 5px;
}

.notify-icon-folder-small{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.notify-icon-file{
    width: 20px;
    height: 26px;
    vertical-align: text-bottom;
    margin-right: 10px;

    path{
        fill: $nhsuk-link-color;
    }
}

.notify-link-red{
    color: #d5281b !important;
}

.notify-body-s-grey {
    margin-top: 5px;
    font-size: 1rem;
    color: #4c6272;
    display: block;
}

.nhsnotify-sort-button{
    font-weight: 600;
    font-size: 1.1875rem;
    color: $nhsuk-link-color;
    text-decoration: none;
    border: none;
    background: none;
    padding: 0;
    text-align: left;

    &:hover{
        cursor: pointer;
    }

    .sort-icon{
        fill: $nhsuk-link-color;
        width: 16px;
        height: 16px;
        //margin-left: .2rem;
        vertical-align: middle;
    }

    
}


// Fix error links appearing blue.
.nhsuk-error-summary__list a:link,
.nhsuk-error-summary__list a:visited,
.nhsuk-error-summary__list a:hover,
.nhsuk-error-summary__list a:active {
    color: $nhsuk-error-color !important;
}




.nhsnotify-pagination{
    padding-bottom: 16px;

    a{
        text-decoration: none;

        &:focus {
            outline: none;
            background: none;
            box-shadow: none;
        }

        &:focus span{
            color: $nhsuk-link-color;
            background-color: $color_nhsuk-yellow;
            box-shadow: 0 -2px $color_nhsuk-yellow, 0 4px $color_nhsuk-black;
        }
    }

    .nhsnotify-pagination_item{
        width: 44px;
        height: 44px;
        padding-top: 5px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: $nhsuk-link-color;
        background-color: $nhsuk-border-color;
        border-radius: 5px;

        &:hover{
            color: $nhsuk-link-color;
            background-color: $color_nhsuk-grey-3;
        }

    }

    .nhsnotify-pagination_item_current{
        background-color: $nhsuk-link-color;
        color: $color_nhsuk-white;

        &:hover{
            background-color: $nhsuk-link-color;
            color: $color_nhsuk-white;
        }
    }

    .nhsnotify-pagination_item_arrow{
        width: auto;
        font-size: 19px;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;

        svg {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .nhsnotify-pagination_item_arrow_next{
        padding-left: 12px;
        padding-right: 5px;
    }

    .nhsnotify-pagination_count{
        margin-top: 18px;
    }
}

.nhsnotify-subnav {
    position: relative;

    .nhsnotify-subnav-projects{
        color: $color_nhsuk-white;    
        text-align: right;
        position: absolute;
        top: -40px;
        right: 16px;

        a,
        a:visited,
        a:not(.nhsuk-button):not(:hover):not(:focus):not(:active):visited {
            color: $color_nhsuk-white;   
        }
    }
}


.nhsnotify-letter-preview{
    
    img {
        max-width: 80%;
        display: block;
        margin: 0 0 40px 0;
        box-shadow: 0px 3px 5px $nhsuk-border-color ;
    }
}


.nhsnotify-letter-markdown-preview{

    width: 794px;   /* A4 width at 96dpi */
    height: 1123px; /* A4 height at 96dpi */
    border: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    overflow: hidden;
    background: white;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
        margin: 10mm 15mm 16mm 15mm;
    }
}



/// Spinner

#spinner {
  animation-name: spin;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}
#spinner.done {
  animation-name: spinback;
  animation-duration: 1.25s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinback {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.uploader-container,
.loading-container,
#camera-container,
.preview-container {
  margin: 0;
  display: flex;
  justify-content: center;
}

.bar_container {
  margin-top: 0 !important;
}

.progress-pie-chart,
.progress-spinner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  margin: 50px auto 0;
}

.progress-spinner {
  background-color: white;
}

.progress-pie-chart.gt-50,
.progress-spinner .gt-50 {
  background-color: #367c42;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}

.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #367c42;
  transform: rotate(60deg);
}

.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}

.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents,
.ppc-loading {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 86.95652px);
  top: calc(50% - 86.95652px);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ppc-percents span,
.ppc-loading span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #367c42;
}

.ppc-loading span {
  display: inline-block;
  position: relative;
  font-size: 1.4em;
  font-weight: normal;
  color: #000000;
  margin: 0;
}

.ppc-loading span.done {
  margin-top: 1.5em;
}
.ppc-loading span.done::before, .ppc-loading span.done::after {
  content: "";
  left: 20%;
  font-weight: bold;
  margin: 1.5em 0 0.25em;
  top: -2em;
  position: absolute;
  zoom: 1;
}
.ppc-loading span.done::before {
  background: transparent;
  border: solid;
  border-color: #417505;
  border-width: 0 0 10px 10px;
  height: 24px;
  top: -3.3em;
  transform: rotate(-45deg);
  width: 40px;
}
.ppc-loading span.done::active::before {
  height: 100%;
  top: 0;
}
.ppc-loading span.done ~ * {
  display: none;
}

.pcc-percents-wrapper {
  display: flex;
  vertical-align: middle;
}

.ppc-percents,
.ppc-loading {
  margin-top: 0 !important;
}

// Spinner on the template upload page

#spinner-container{
    min-height: 1200px;
}