{% extends 'v3/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
  <a class="nhsuk-back-link__link" href="/{{ protoVersion }}/manage/template-type">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        {% if data['mode'] == 'edit' %}
        Edit NHS app message template
        {% else %}
        Create NHS app message template
        {% endif %}
      </h1>

      <form action="/{{ protoVersion }}/manage/template-app-1" onsubmit="return checkFormApp();">

        {% if data['mode'] == 'edit' %}
 
        {{ input({
          "label": {
            "text": "Template name"
          },
          "hint": {
            "text": "This will not be visible to recipients."
          },
          "id": "template-app-name-1",
          "name": "template-app-name-1",
          "value": data['template-app-name-1']
        }) }}

        <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-app-name-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
        </span>

        {{ textarea({
          "name": "template-app-message-1",
          "id": "template-app-message-1",
          "label": {
            "text": "Message"
          },
          "value": data['template-app-message-1']
        }) }}

        <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-app-message-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a message
        </span>

        {% else %}

        {{ input({
          "label": {
            "text": "Template name"
          },
          "hint": {
            "text": "This will not be visible to recipients."
          },
          "id": "template-app-name-1",
          "name": "template-app-name-1"
        }) }}

        <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-app-name-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
        </span>

        {{ textarea({
          "name": "template-app-message-1",
          "id": "template-app-message-1",
          "label": {
            "text": "Message"
          }
        }) }}

        <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-app-message-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a message
        </span>

        {% endif %}

        <input type="hidden" name="message-type" value="app">
        <input type="hidden" name="continue-url" value="template-app-1">
        <input type="hidden" name="folder-1-app-templates" value="1">
        <input type="hidden" name="template-app-name-1-approved" value="">

        {{ button({
          "text": "Save"
        }) }}

      </form>

    </div>

    <div class="nhsuk-grid-column-one-third">

      <h2 class="nhsuk-heading-m">Personalisation</h2>

      {{ details({
        "text": "PDS fields",
        "HTML": ""
      }) }}

      {{ details({
        "text": "Your data fields",
        "HTML": ""
      }) }}

      <h2 class="nhsuk-heading-m">Message formatting</h2>

      {{ details({
        "text": "Bold text",
        "HTML": ""
      }) }}

      {{ details({
        "text": "Links",
        "HTML": ""
      }) }}

    </div>

  </div>
{% endblock %}
