{% extends 'v3/layout.html' %}



{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="notify-confirmation-panel">
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-0">Template submitted</h1>
      </div>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Template name</h2>
      <p>{{ data['approve-template-name']}}</p>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Template ID</h2>
      <p>a4b171b5-431f-4a5b-9d7a-9a4903c98e66</p>

      <h2 class="nhsuk-heading-m">What you need to do next</h2>

      <p>Make a note of the template name and ID. You'll also receive a confirmation email, which contains the template name and ID.</p>

      <h3 class="nhsuk-heading-s">If you're getting ready to go live</h3>

      <p>The onboarding team will ask you for your template names and IDs when you are planning how to send your messages.</p>

      <h3 class="nhsuk-heading-s">If your service is live</h3>

      <p>Tell NHS Notify what you want to do with your template by raising a service now request:</p>
      

      {{ button({
        "text": "Raise a service now request",
        "classes": "nhsuk-button--secondary"
      }) }}

      <p><a href="template-type">Create another template</a></p>

      <p><a href="templates">Go to saved templates</a></p>

    </div>
  </div>
{% endblock %}
