{% extends 'v3/layout.html' %}



{% block beforeContent %}

{#
{{ breadcrumb({
  items: [
    {
      href: '/' + protoVersion + '/',
      text: 'Home'
    },
    {
      href: '/' + protoVersion + '/pricing/',
      text: 'Pricing'
    }
  ]
}) }}
#}

{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="app-pane">

        <div class="app-pane__side-bar">

          <nav class="app-side-nav">

            <ul class="nhsuk-list app-side-nav__list nhsuk-u-margin-bottom-3">

            {{sideNavItem(title='Pricing', link='', active='0')}}

            </ul>

            {#
            {{sideNavBackLink(title='Back link', link='/')}}

            <h2 class="app-side-nav__heading">
              Section heading <span class="nhsuk-u-visually-hidden">navigation</span>
            </h2>
            #}

            <ul class="nhsuk-list app-side-nav__list nhsuk-u-margin-left-4">

              {{sideNavItem(title='Text messages', link='', active='0')}}

              {{sideNavItem(title='Letters', link='', active='1')}}

              {{sideNavItem(title='How to pay', link='', active='0')}}

            </ul>
            
          </nav>
          
        </div>

        <div class="app-pane__main-content">

          <h1 class="nhsuk-heading-xl">Letters</h1>

          <p>The cost of sending a standard letter depends on the postage you choose and how many sheets of paper you need.</p>
          <p>Prices include:</p>
          <ul>
            <li>paper</li>
            <li>postage</li>
            <li>double-sided black and white printing</li>
            <li>C5 size envelopes with an address window</li>
          </ul>

          {{ table({
            head: [
              {
                text: "Paper"
              },
              {
                text: "1st class"
              },
              {
                text: "2nd class"
              }
            ],
            rows: [
              [
                {
                  text: "1 sheet"
                },
                {
                  text: "Up to 82 pence + VAT"
                },
                {
                  text: "Up to 55 pence + VAT"
                }
              ],
              [
                {
                  text: "2 sheets"
                },
                {
                  text: "Up to 86 pence + VAT"
                },
                {
                  text: "Up to 60 pence + VAT"
                }
              ],
              [
                {
                  text: "3 sheets"
                },
                {
                  text: "Up to 90 pence + VAT"
                },
                {
                  text: "Up to 63 pence + VAT"
                }
              ],
              [
                {
                  text: "4 sheets"
                },
                {
                  text: "Up to 96 pence + VAT"
                },
                {
                  text: "Up to 68 pence + VAT"
                }
              ],
              [
                {
                  text: "5 sheets"
                },
                {
                  text: "Up to £1.00 + VAT"
                },
                {
                  text: "Up to 73 pence + VAT"
                }
              ]
            ]
          }) }}

          <h2 class="nhsuk-heading-m">Letters in accessible formats</h2>
          <p>You can use a range of accessible formats to send letters to people with accessibility needs.</p>
          <p><a href="">Learn more about NHS Notify's accessible letter formats</a>.</p>

          {{ table({
            head: [
              {
                text: "Accessible format"
              },
              {
                text: "Cost"
              }
            ],
            rows: [
              [
                {
                  text: "Large print (16 point font)"
                },
                {
                  text: "Same as a standard letter"
                }
              ],
              [
                {
                  text: "Easy read"
                },
                {
                  text: "£1.70 + VAT"
                }
              ],
              [
                {
                  text: "Braille"
                },
                {
                  text: "£1.98 + VAT"
                }
              ],
              [
                {
                  text: "Audio CD"
                },
                {
                  text: "£2.80 + VAT"
                }
              ]
            ]
          }) }}

          <h2 class="nhsuk-heading-m">Letter inserts</h2>
          <p>You can include an insert with letters to give recipients other information. For example, this could be a leaflet to a related service.</p>
          <p>If you include an insert with your letter, you will need to pay an insert fee of up to 1.08 pence + VAT for each letter.</p>
          <p>You can print your inserts elsewhere or use NHS Notify. If you use NHS Notify, you will need to pay the print cost.</p>

          {{ table({
            head: [
              {
                text: "Insert type"
              },
              {
                text: "Print cost"
              }
            ],
            rows: [
              [
                {
                  text: "Simplex colour sheet"
                },
                {
                  text: "Up to 2.47 pence + VAT"
                }
              ],
              [
                {
                  text: "Duplex colour sheet"
                },
                {
                  text: "Up to 2.65 pence + VAT"
                }
              ],
              [
                {
                  text: "Additional colour toner"
                },
                {
                  text: "Up to 0.031 pence + VAT"
                }
              ]
            ]
          }) }}

          <h2 class="nhsuk-heading-l">Returned letter costs</h2>
          <p>There is an 18 pence charge for each letter you send that is returned. Returned letters are then destroyed for data security, which costs £5.99 + VAT for every 10,000 letters.</p>
          <p>Letters are sometimes returned because:</p>
          <ul>
            <li>the address is invalid or does not exist</li>
            <li>it has been refused by the recipient</li>
            <li>the address is vacant or the recipient is no longer there</li>
          </ul>

        </div>

      </div>

    </div>
  </div>
{% endblock %}
