{% extends 'v12/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% from '../includes/choose-template-table-row.njk' import choose_template_row %}
{% from '../includes/choose-template-table-row-language.njk' import choose_template_row_language %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <span class="nhsuk-caption-l">{{ data['message-name-1'] }}</span>
      <h1 class="nhsuk-heading-xl">  
        {% if data['message-type'] == 'NHS App' %}Choose an NHS App template{%endif%}
        {% if data['message-type'] == 'Email' %}Choose an email template{%endif%}
        {% if data['message-type'] == 'Text message (SMS)' %}Choose a text message (SMS) template{%endif%}
        {% if data['message-type'] == 'Letter' %}Choose a letter template{%endif%}
        {% if data['message-type'] == 'Accessible' %}Choose accessible formats{%endif%}
        {% if data['message-type'] == 'Other language' %}Choose other language templates{%endif%}
      </h1>

      {#
      {% if data['show-templates'] == '1' and data['show-folders'] == '1' %}

      <div class="nhsuk-form-group">

        <label class="nhsuk-label" for="filter-folders">
          Filter templates by folder
        </label>

        <select class="nhsuk-select" id="filter-folders" name="filter-folders" onchange="toggleTable();">
          <option value="0" selected>All templates</option>
          <option value="1">{{ data['template-folder-1-name'] }}</option>
          <option value="2">{{ data['template-folder-2-name'] }}</option>
        </select>

      </div>

      {% endif %}
      #}

      {% if data['show-templates'] == '1' %}

      <form action="create-message" method="post" autocomplete="off">


        



        {% if data['message-type'] == 'NHS App' %}

        <p class="nhsuk-hint">Choose one option.</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">
 
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Select
              </th>
              <th role="columnheader" class="" scope="col">
                Name
              </th>
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                Date and <br />time created
              </th>
              <th role="columnheader" class="" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
              
            {{choose_template_row(templateName=data['template-1-name'], templateNumber='1', templateTypeName='NHS App', templateType='app', channelNumber=data["channel-number"] )}}

            {{choose_template_row(templateName=data['template-2-name'], templateNumber='2', templateTypeName='NHS App', templateType='app', channelNumber=data["channel-number"] )}}

            {{choose_template_row(templateName=data['template-3-name'], templateNumber='3', templateTypeName='NHS App', templateType='app', channelNumber=data["channel-number"] )}}

            {% if data['show-folders'] == '1' %}

            {{choose_template_row(templateName=data['template-10-name'], templateNumber='10', templateTypeName='NHS App', templateType='app', channelNumber=data["channel-number"], templateFolder='1', templateFolderName=data['template-folder-1-name'] )}}

            {{choose_template_row(templateName=data['template-13-name'], templateNumber='13', templateTypeName='NHS App', templateType='app', channelNumber=data["channel-number"], templateFolder='2', templateFolderName=data['template-folder-2-name'] )}}

            {% endif %}

          </tbody>
        </table>

        {% endif %}






        {% if data['message-type'] == 'Text message (SMS)' %}

        <p class="nhsuk-hint">Choose one option.</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">
 
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Select
              </th>
              <th role="columnheader" class="" scope="col">
                Name
              </th>
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                Date and <br />time created
              </th>
              <th role="columnheader" class="" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            {{choose_template_row(templateName=data['template-4-name'], templateNumber='4', templateTypeName='Text message (SMS)', templateType='sms', channelNumber=data["channel-number"] )}}

            {{choose_template_row(templateName=data['template-5-name'], templateNumber='5', templateTypeName='Text message (SMS)', templateType='sms', channelNumber=data["channel-number"] )}}

            {{choose_template_row(templateName=data['template-6-name'], templateNumber='6', templateTypeName='Text message (SMS)', templateType='sms', channelNumber=data["channel-number"] )}}

            {% if data['show-folders'] == '1' %}

            {{choose_template_row(templateName=data['template-12-name'], templateNumber='12', templateTypeName='Text message (SMS)', templateType='sms', channelNumber=data["channel-number"], templateFolder='1', templateFolderName=data['template-folder-1-name'] )}}

            {% endif %}

          </tbody>
        </table>

        {% endif %}







        {% if data['message-type'] == 'Email' %}

        <p class="nhsuk-hint">Choose one option.</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">
 
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Select
              </th>
              <th role="columnheader" class="" scope="col">
                Name
              </th>
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                Date and <br />time created
              </th>
              <th role="columnheader" class="" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            {{choose_template_row(templateName=data['template-7-name'], templateNumber='7', templateTypeName='Email', templateType='email', channelNumber=data["channel-number"] )}}

            {{choose_template_row(templateName=data['template-8-name'], templateNumber='8', templateTypeName='Email', templateType='email', channelNumber=data["channel-number"] )}}

            {{choose_template_row(templateName=data['template-9-name'], templateNumber='9', templateTypeName='Email', templateType='email', channelNumber=data["channel-number"] )}}

            {% if data['show-folders'] == '1' %}

            {{choose_template_row(templateName=data['template-11-name'], templateNumber='11', templateTypeName='Email', templateType='email', channelNumber=data["channel-number"], templateFolder='1', templateFolderName=data['template-folder-1-name'] )}}

            {{choose_template_row(templateName=data['template-14-name'], templateNumber='14', templateTypeName='Email', templateType='email', channelNumber=data["channel-number"], templateFolder='2', templateFolderName=data['template-folder-2-name'] )}}

            {% endif %}

          </tbody>
        </table>

        {% endif %}







        {% if data['message-type'] == 'Letter' %}

        <p class="nhsuk-hint">Choose one option.</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">
 
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Select
              </th>
              <th role="columnheader" class="" scope="col">
                Name
              </th>
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                Date and <br />time created
              </th>
              <th role="columnheader" class="" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            {{choose_template_row(templateName=data['template-10-name'], templateNumber='10', templateTypeName='Letter', templateType='letter', channelNumber=data["channel-number"] )}}

            {{choose_template_row(templateName=data['template-11-name'], templateNumber='11', templateTypeName='Letter', templateType='letter', channelNumber=data["channel-number"] )}}

            {{choose_template_row(templateName=data['template-12-name'], templateNumber='12', templateTypeName='Letter', templateType='letter', channelNumber=data["channel-number"] )}}

            <!--{% if data['show-folders'] == '1' %}

            {{choose_template_row(templateName=data['template-11-name'], templateNumber='11', templateTypeName='Email', templateType='email', channelNumber=data["channel-number"], templateFolder='1', templateFolderName=data['template-folder-1-name'] )}}

            {{choose_template_row(templateName=data['template-14-name'], templateNumber='14', templateTypeName='Email', templateType='email', channelNumber=data["channel-number"], templateFolder='2', templateFolderName=data['template-folder-2-name'] )}}

            {% endif %}-->

          </tbody>
        </table>

        {% endif %}






        {% if data['message-type'] == 'Accessible' %}

        <p><a href="https://notify.nhs.uk/using-nhs-notify/accessible-formats" target="_blank">Learn about accessible format letters (opens in a new tab}</a></p>

        <p>We'll send an accessible format to a recipient if:</p>
        <ul>
          <li>the Personal Demographics Service (PDS) confirms they have access needs</li>
          <li>you've selected an accessible template or insert that matches</li>
        </ul>

        <h2 class="nhsuk-heading-l">Large print</h2>

        <p class="nhsuk-hint">Choose a large print template.</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-2">
 
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Select
              </th>
              <th role="columnheader" class="" scope="col">
                Name
              </th>
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                Date and <br />time created
              </th>
              <th role="columnheader" class="" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            
            {{choose_template_row(templateName=data['template-13-name'], templateNumber='13', templateTypeName='Large print letter', templateType='letter-large-print', channelNumber=data["channel-number"] )}}

            {{choose_template_row(templateName=data['template-14-name'], templateNumber='14', templateTypeName='Large print letter', templateType='letter-large-print', channelNumber=data["channel-number"] )}}

            {{choose_template_row(templateName=data['template-15-name'], templateNumber='15', templateTypeName='Large print letter', templateType='letter-large-print', channelNumber=data["channel-number"] )}}

          </tbody>
        </table>

        <div class="nhsuk-radios nhsuk-u-margin-bottom-6">
    
          <div class="nhsuk-radios__divider">or</div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="no-large-print" name="channel-4-large-print-template" type="radio" value="">
            <label class="nhsuk-label nhsuk-radios__label" for="no-large-print">No large print template</label>
          </div>
    
        </div>

        <div class="nhsuk-u-reading-width nhsuk-u-margin-bottom-6">

          <h2 class="nhsuk-heading-l">Accessible inserts</h2>

          <p>If the Personal Demographics Service (PDS) confirms a recipient has access needs, we can include an accessible insert with their standard letter.</p>

          <!--<p>If any of your recipients need accessible formats, we can include accessible inserts with the standard letters we send them.</p>
          
          <p>You can include accessible inserts with your standard letter for recipients who need letters in those formats.</p>

          <p>You can choose to send your standard letter '{{data['channel-4-template']}}' in accessible formats to recipients who need letters in those formats.</p>-->

          {{ checkboxes({
            name: "channel-4-accessible-template",
            fieldset: {
              legend: {
                text: "Choose the accessible inserts for this message plan",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Braille",
                text: "Braille"
              },
              {
                value: "Audio CD",
                text: "Audio CD"
              }
            ]
          }) }}

        </div>

        {% endif %}







        {% if data['message-type'] == 'Other language' %}

        <div class="nhsuk-u-margin-bottom-6">
        
          <p><a href="https://notify.nhs.uk/using-nhs-notify/letters-in-other-languages" target="_blank">Learn about letters in other languages (opens in a new tab}</a></p>

          <p>We'll send the letter in another language to a recipient if:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>PDS confirms they need messages in another language</li>
            <li>you've selected a template in the other language that matches</li>
          </ul>

        </div>

        <p class="nhsuk-hint">Select all templates that you want to include in this message plan.</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">

          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">

                <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input checkboxes" id="" name="" type="checkbox" value="" onclick="selectAll(this); toggleActionsByCheckboxes();">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for=""></label>
                </div>

              </th>
              <th role="columnheader" class="" scope="col">
                Name
              </th>
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                Date and <br />time created
              </th>
              <th role="columnheader" class="" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            {{choose_template_row_language(templateName=data['template-16-name'], templateNumber='16', templateTypeName='Letter - French', templateType='letter', channelNumber=data["channel-number"] )}}

            {{choose_template_row_language(templateName=data['template-17-name'], templateNumber='17', templateTypeName='Letter - Italian', templateType='letter', channelNumber=data["channel-number"] )}}

            {{choose_template_row_language(templateName=data['template-18-name'], templateNumber='18', templateTypeName='Letter - German', templateType='letter', channelNumber=data["channel-number"] )}}

          </tbody>
        </table>

        {% endif %}






        <div class="nhsuk-form-group">

          {{ button({
            text: 'Save and continue'
          }) }}

          <a href="create-message" class="nhsuk-u-font-size-19 nhsuk-u-margin-left-3 nhsuk-u-padding-top-3" style="display: inline-block;">Go back</a>

        </div>

      </form>

      {% else%}

      <p>You do not have any templates yet.</p>
      
      <div class="nhsuk-form-group">

        <p><a href="folder-templates">Go to templates</a></p>

        <p><a href="create-message">Go back</a></p>

      </div>

      {% endif %}

    </div>
  </div>
{% endblock %}