{% extends 'v1/layout.html' %}





{% block beforeContent %}

  {{ backLink({
    'href': '/' + protoVersion + '/manage/index',
    'text': 'Go back',
    'classes': 'nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0'
  }) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Name this folder
      </h1>

      <form action="/{{protoVersion}}/manage/index" onsubmit="return checkFormFolder();">

        {{ input({
          "label": {
            "text": "Enter a name"
          },
          "hint": {
            "text": "This name will not be visible to message recipients"
          },
          "id": "folder-name-1",
          "name": "folder-name-1"
        }) }}

        <span class="nhsuk-error-message" id="folder-name-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a folder name
        </span>

        {{ button({
          "text": "Continue"
        }) }}

        <input type="hidden" name="folders" value="1">

      </form>

    </div>
  </div>
{% endblock %}
