{% extends 'v1/layout.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
  <a class="nhsuk-back-link__link" href="/{{ protoVersion }}/manage/folder-1/">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Back to {{ data['folder-name-1'] }}
  </a>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Approve the template: {{ data['approve-template-name'] }}
      </h1>

      <p class="nhsuk-body-s">
        <strong>Folder</strong><br />
        {{ data['folder-name-1'] }}
      </p>

      <p class="nhsuk-body-s">
        <strong>Template ID</strong><br />
        a4b171b5-431f-4a5b-9d7a-9a4903c98e66
      </p>

      <p class="nhsuk-body-s">
        <strong>Last edited</strong><br />
        At 10:35 on 10th Feb 2024 by Mary Poppins
      </p>

      <form action="template-approve-confirmation">

        {{ warningCallout({
          "heading": "Important",
          "HTML": "<p>This template cannot be changed after you approve it.</p>"
        }) }}
        
        {{ checkboxes({
          "name": "checkbox-approve",
          "items": [
            {
              "value": "approved",
              "text": "I acknowledge that by approving this template I am declaring that it is ready to use and I will not be able to make any changes to it."
            }
          ]
        }) }}

        {{ button({
          "text": "Approve template"
        }) }}

        {% if data['template-app-name-1-approved'] == '0' %}
        <input type="hidden" name="template-app-name-1-approved" value="1">
        {% endif %}

        {% if data['template-email-name-1-approved'] == '0' %}
        <input type="hidden" name="template-email-name-1-approved" value="1">
        {% endif %}

        {% if data['template-sms-name-1-approved'] == '0' %}
        <input type="hidden" name="template-sms-name-1-approved" value="1">
        {% endif %}

        {% if data['template-letter-name-1-approved'] == '0' %}
        <input type="hidden" name="template-letter-name-1-approved" value="1">
        {% endif %}

      </form>

    </div>
  </div>
{% endblock %}
