{% extends 'v17/layout.html' %}

{% block beforeContent %}

{{ backLink({
  "href": "services",
  "text": "Back to services"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <span class="nhsuk-caption-l">{{data['service-name']}}</span>
      <h1 class="nhsuk-heading-xl">
        Settings
      </h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Service name"
            },
            value: {
              text: data['service-name']
            },
            actions: {
              items: [
                {
                  href: "/404",
                  text: "Change",
                  visuallyHiddenText: "Service name"
                }
              ]
            }
          },
          {
            key: {
              text: "Client ID"
            },
            value: {
              text: "c3ad644e-111e-4cf4-a6e6-ae934562cd56"
            }
          },
          {
            key: {
              text: "Default campaign ID"
            },
            value: {
              text: data['service-name'] | lower | replace(' ', '_')
            }
          },
          {
            key: {
              text: "MESH mailbox"
            },
            value: {
              html: "X26OT015"
            }
          },
          {
            key: {
              text: "ODS code"
            },
            value: {
              html: "X26"
            }
          },
          {
            key: {
              text: "APIM app ID"
            },
            value: {
              html: "6cc642e2-d732-4756-aa6f-5de8c4d5f123"
            }
          },
          {
            key: {
              text: "Enrichment rate limit (TPS)"
            },
            value: {
              html: "20"
            }
          }
        ]
      }) }}

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-8">Message settings</h2>

      <p>All messages will have these settings unless over-ridden by specific project settings.</p>

      <h2 class="nhsuk-heading-s">NHS App message settings</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Sender name"
            },
            value: {
              text: "NHS Test Service"
            },
            actions: {
              items: [
                {
                  href: "/404",
                  text: "Change",
                  visuallyHiddenText: "Service name"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="nhsuk-heading-s">Email settings</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "From address"
            },
            value: {
              text: "my-service@nhs.net"
            },
            actions: {
              items: [
                {
                  href: "/404",
                  text: "Change",
                  visuallyHiddenText: "From address"
                }
              ]
            }
          },
          {
            key: {
              text: "Reply-to address"
            },
            value: {
              text: "my-service@nhs.net"
            },
            actions: {
              items: [
                {
                  href: "/404",
                  text: "Change",
                  visuallyHiddenText: "Reply-to address"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="nhsuk-heading-s">Text message (SMS) settings</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Sender ID"
            },
            value: {
              text: "NHS Test Service"
            },
            actions: {
              items: [
                {
                  href: "/404",
                  text: "Change",
                  visuallyHiddenText: "Service name"
                }
              ]
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
{% endblock %}