{% extends 'v17/layout.html' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Message sent
      </h1>

      <p>
        {% if data['message-type'] == 'app' %}
          A test message has been sent to the test NHS App account: {{data['test-nhsno-1']}}
        {%endif%}

        {% if data['message-type'] == 'sms' %}
          A test text message (SMS) has been sent to: 07711223344
        {%endif%}

        {% if data['message-type'] == 'email' %}
          A test email has been sent to: mary.poppins5@nhs.net
        {%endif%}
      </p>

      {% if data['message-type'] == 'app' %}
      
      <p>To preview your test message, use your test NHS App account details to log in to either the:
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://www-onboardingaos.nhsapp.service.nhs.uk/login" target="_blank">NHS App online (opens in a new tab)</a>.</li>
          <li><a href="/404" target="_blank">NHS App on your mobile device (opens in a new tab)</a>.</li>
        </ul>
      </p>
      
      {%endif%}

      {% if data['message-type'] == 'app' %}
        <p><a href="template-app">Back to template</a></p>
      {%endif%}

      {% if data['message-type'] == 'sms' %}
        <p><a href="template-sms">Back to template</a></p>
      {%endif%}

      {% if data['message-type'] == 'email' %}
        <p><a href="template-email">Back to template</a></p>
      {%endif%}

    </div>
  </div>
{% endblock %}