{% extends 'v2_1/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
  <a class="nhsuk-back-link__link" href="/{{ protoVersion }}/manage/template-type">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Create NHS app message template
      </h1>

      <span class="nhsuk-u-visually-hidden"><a href="#guidance">Read the guidance for creating a NHS app template</a></span>

      <form action="/{{ protoVersion }}/manage/template-app-1" onsubmit="return checkFormApp();">

        {% if data['mode'] == 'edit' %}
 
        <div class="nhsuk-form-group">
          
          <label class="nhsuk-label" for="template-app-name-1">
            Template name
          </label>
          <div class="nhsuk-hint">
            This will not be visible to recipients.
          </div>

          {% include "../../includes/details-template-name.html" %}

          <input class="nhsuk-input" id="template-app-name-1" name="template-app-name-1" type="text" value="{{data['template-app-name-1']}}">
          
        </div>

        <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-app-name-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
        </span>

        {{ textarea({
          "name": "template-app-message-1",
          "id": "template-app-message-1",
          "label": {
            "text": "Message"
          },
          "value": data['template-app-message-1'],
          "attributes": {
            "onkeyup": "countChars(this);",
            "maxlength": "5000"
          },
          "classes": "message-body"
        }) }}

        <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-app-message-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a message
        </span>

        {% else %}

        <div class="nhsuk-form-group">
          
          <label class="nhsuk-label" for="template-app-name-1">
            Template name
          </label>
          <div class="nhsuk-hint">
            This will not be visible to recipients.
          </div>

          {% include "../../includes/details-template-name.html" %}

          <input class="nhsuk-input" id="template-app-name-1" name="template-app-name-1" type="text">
          
        </div>

        <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-app-name-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
        </span>

        {{ textarea({
          "name": "template-app-message-1",
          "id": "template-app-message-1",
          "label": {
            "text": "Message"
          },
          "attributes": {
            "onkeyup": "countChars(this);",
            "maxlength": "5000"
          },
          "classes": "message-body"
        }) }}

        <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-app-message-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a message
        </span>

        {% endif %}

        <p id="charNum">0 of 5000 characters</p>

        <script>
          function countChars(obj){
            document.getElementById("charNum").innerHTML = obj.value.length+' of 5000 characters';
          }
        </script>

        <input type="hidden" name="message-type" value="app">
        <input type="hidden" name="continue-url" value="template-app-1">

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>

    <div class="nhsuk-grid-column-one-third">

      <h2 class="nhsuk-heading-m" id="guidance">Personalisation</h2>

      {{ details({
        "text": "Personalisation fields",
        "HTML": "
        <p>Use double brackets to add a personalisation field to your content. For example:</p>
        <code class='nhsuk-code-block'>Hello ((firstName)), your NHS number is ((NHSnumber))</code>
        <p class='nhsuk-u-margin-top-4'>NHS Notify gets data from PDS to populate personalisation fields.<br />You can use:</p>
        <ul>
          <li>((fullName))</li>
          <li>((firstName))</li>
          <li>((middleNames))</li>
          <li>((lastName))</li>
          <li>((nhsNumber))</li>
          <li>((birthDate))</li>
          <li>((namePrefix))</li>
          <li>((nameSuffix))</li>
          <li>((address_line_1))</li>
          <li>((address_line_2))</li>
          <li>((address_line_3))</li>
          <li>((address_line_4))</li>
          <li>((address_line_5))</li>
          <li>((address_line_6))</li>
          <li>((address_line_7))</li>
        </ul>
        "
      }) }}

      <h2 class="nhsuk-heading-m">Message formatting</h2>

      {{ details({
        "text": "Bold text",
        "HTML": "
        <p>Use 2 asterisk symbols on either side of the words you want to be bold, for example:</p>
        <code class='nhsuk-code-block'>**this is bold text**</code>
        "
      }) }}

      {{ details({
        "text": "Links and URLs",
        "HTML": "
        <p>If the recipient is not expecting to receive a message from you, write the URL in full, starting with https://</p>
        <p>For example:</p>
        <code class='nhsuk-code-block'>
          https://www.nhs.uk/example
        </code>
        <p class='nhsuk-u-margin-top-4'>To convert text into a link, use square brackets around the link text and round brackets around the full URL. Make sure there are no spaces between the brackets or the link will not work.</p>
        <p>For example:</p>
        <code class='nhsuk-code-block'>
          [Read more](https://www.nhs.uk/)
        </code>
        "
      }) }}

    </div>

  </div>
{% endblock %}
