{% extends 'v2_1/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
  <a class="nhsuk-back-link__link" href="/{{ protoVersion }}/manage/template-type">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Create NHS app message template
      </h1>

      <form action="/{{ protoVersion }}/manage/template-app-1" onsubmit="return checkFormApp();">

        {% if data['mode'] == 'edit' %}
 
        {{ input({
          "label": {
            "text": "Template name"
          },
          "hint": {
            "text": "This will not be visible to recipients."
          },
          "id": "template-app-name-1",
          "name": "template-app-name-1",
          "value": data['template-app-name-1']
        }) }}

        <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-app-name-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
        </span>

        {{ textarea({
          "name": "template-app-message-1",
          "id": "template-app-message-1",
          "label": {
            "text": "Message"
          },
          "value": data['template-app-message-1']
        }) }}

        <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-app-message-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a message
        </span>

        {% else %}

        {{ input({
          "label": {
            "text": "Template name"
          },
          "hint": {
            "text": "This will not be visible to recipients."
          },
          "id": "template-app-name-1",
          "name": "template-app-name-1"
        }) }}

        <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-app-name-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
        </span>

        {{ textarea({
          "name": "template-app-message-1",
          "id": "template-app-message-1",
          "label": {
            "text": "Message"
          }
        }) }}

        <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-app-message-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a message
        </span>

        {% endif %}

        <input type="hidden" name="message-type" value="app">
        <input type="hidden" name="continue-url" value="template-app-1">

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>

    <div class="nhsuk-grid-column-one-third">

      <h2 class="nhsuk-heading-m">Personalisation</h2>

      {{ details({
        "text": "Personalisation fields",
        "HTML": "
        <p>Use double brackets to add a personalisation field to your content. For example:</p>
        <code class='nhsuk-code-block'>Hello ((firstName)), your NHS number is ((NHSnumber))</code>
        <p class='nhsuk-u-margin-top-4'>NHS Notify gets data from PDS to populate personalisation fields.<br />You can use:</p>
        <ul>
          <li>((firstName))</li>
          <li>((lastName))</li>
          <li>((NHSnumber))</li>
          <li>((birthDate))</li>
        </ul>
        "
      }) }}

      <h2 class="nhsuk-heading-m">Message formatting</h2>

      {{ details({
        "text": "Bold text",
        "HTML": "
        <p>Use 2 asterisk symbols on either side of the words you want to be bold, for example:</p>
        <code class='nhsuk-code-block'>**this is bold text**</code>
        "
      }) }}

      {{ details({
        "text": "Links and URLs",
        "HTML": "
        <p>If the recipient is not expecting to receive a message from you, write the URL in full, starting with https://</p>
        <p>For example:</p>
        <code class='nhsuk-code-block'>
          https://www.nhs.uk/example
        </code>
        <p class='nhsuk-u-margin-top-4'>To convert text into a link, use square brackets around the link text and round brackets around the full URL. Make sure there are no spaces between the brackets or the link will not work.</p>
        <p>For example:</p>
        <code class='nhsuk-code-block'>
          [Read more](https://www.nhs.uk/)
        </code>
        "
      }) }}

    </div>

  </div>
{% endblock %}
