{% extends 'v3/layout.html' %}



{% block beforeContent %}

{{ breadcrumb({
  items: [
    {
      href: '/' + protoVersion + '/',
      text: "Home"
    },
    {
      href: '/' + protoVersion + '/using-nhs-notify/',
      text: "Using NHS Notify"
    }
  ]
}) }}

{% endblock %}



{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="app-pane">

        <div class="app-pane__side-bar">

          <nav class="app-side-nav">

            <!--<div class="nhsuk-back-link app-u-hide-mobile app-side-nav__back nhsuk-u-margin-bottom-4">
    
              <a class="nhsuk-back-link__link" href="{{link}}">
                <svg class="nhsuk-icon nhsuk-icon--chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                  <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                {{title}}
              </a>
            
            </div>

            <h2 class="app-side-nav__heading">
              Section heading <span class="nhsuk-u-visually-hidden">navigation</span>
            </h2>-->

            <ul class="nhsuk-list app-side-nav__list">
            
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="access">How to access NHS Notify</a>
              </li>

              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="writing">Writing a message</a>
              </li>

              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="pds">How we use the Personal Demographics Service (PDS)</a>
              </li>

              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="routing">Multi-channel routing</a>
              </li>

              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="delivery">Delivery times</a>
              </li>

              <li class="app-side-nav__item app-side-nav__item--current">
                <a class="app-side-nav__link" href="accessible">Sending letters in accessible formats</a>
              </li>

              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="languages">Sending letters in other languages</a>
              </li>

            </ul>
            
          </nav>
          
        </div>

        <div class="app-pane__main-content">

          <h1 class="nhsuk-heading-xl">Sending letters in accessible formats</h1>

        </div>

      </div>

    </div>
  </div>
{% endblock %}
