{% set page_active_dashboard = 'true'%}

{% extends 'v16/layout.html' %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <span class="nhsuk-caption-l">Project dashboard</span>
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">
        {{data['folder-name-1']}}
      </h1>

      <p>You can create and edit your templates and message plans in any order. You must have templates in place to finalise your message plans.</p>

      <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-4">
        <div class="nhsuk-card__content nhsuk-card__content--primary">

          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="folder-templates">Templates ({{ data['template-amount'] }})</a>
          </h2>

          <p class="nhsuk-card__description">
            Create templates for NHS App messages, emails, text messages and letters.
          </p>
  
          <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
            <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z"></path>
          </svg>
  
        </div>
      </div>



      <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-4">
        <div class="nhsuk-card__content nhsuk-card__content--primary">

          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="folder-messages">Message plans ({% if data['messages-draft'] == '1' or data['messages-prod'] == '1' %}1{% else %}0{% endif %})</a>
          </h2>

          <p class="nhsuk-card__description">
            Use message plans to decide how messages will be sent to your recipients.
          </p>
  
          <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
            <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z"></path>
          </svg>
  
        </div>
      </div>

      

      {{ card({
        href: "project-settings",
        primary: "true",
        clickable: "true",
        heading: "Settings",
        description: "",
        headingClasses: "nhsuk-heading-m nhsuk-u-margin-bottom-0",
        classes: "nhsuk-u-margin-bottom-4"
      }) }}
      
     
    </div>
  </div>
{% endblock %}
