{% extends 'v16/layout_full_width.html' %}

{% block beforeContent %}

<div class="nhsuk-width-container">
  {{ backLink({
  "href": "folder-templates",
  "text": "Back to all templates"
}) }}
</div>

{% endblock %}

{% block content %}

  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        {% if data['show-save-banner'] == 'yes' %}
        <div class="notify-confirmation-panel">
          <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-0">Template saved</h1>
        </div>
        {% endif %}

        <div class="nhsuk-u-reading-width">

          {% if data['template-locked'] == '1' %}

          {% include "../includes/template-locked-message-letter.html" %}

          {% endif %}

          <span class="nhsuk-caption-l">Template</span>
          <h1 class="nhsuk-heading-xl">
            {{ data['template-letter-name-1'] }}
          </h1>

          {#
          {% if data['template-letter-standard-status'] != '2' %}
          <p class="nhsuk-body-s nhsuk-u-margin-bottom-8"><a href="template-edit-letter-standard">Change name</a></p>
          {% endif %}
          #}

        </div>

        <dl class="nhsuk-summary-list notify-summary-list-content">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Template ID
            </dt>
            <dd class="nhsuk-summary-list__value">
              a4b171b5-431f-4a5b-9d7a-9a4903c98e66
            </dd>
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Template type
            </dt>
            <dd class="nhsuk-summary-list__value">
              Standard English letter
            </dd>
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Size
            </dt>
            <dd class="nhsuk-summary-list__value">
              2 sides, 1 sheet of A4
            </dd>
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Dispatch time
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['template-letter-standard-dispatch'] | default('Standard (up to 2 business days)', true) }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              {% if data['template-letter-standard-status'] != '2' %}
              <a href="template-edit-letter-standard">Change</a>
              {% endif %}
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Postage
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['template-letter-standard-postage'] | default('Standard (up to 3 business days)', true) }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              {% if data['template-letter-standard-status'] != '2' %}
              <a href="template-edit-letter-standard">Change</a>
              {% endif %}
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Status
            </dt>
            <dd class="nhsuk-summary-list__value">
              {% if data['template-locked'] == '1' %}

                {{ tag({
                  text: "Locked",
                  classes: "nhsuk-tag--orange"
                })}}

              {% else %}

                {% if data['template-letter-standard-status'] == '2' %}
                
                  {{ tag({
                    text: "Approved",
                    classes: "nhsuk-tag--green"
                  })}}

                {% endif %}

                {% if data['template-letter-standard-status'] == '3' %}

                  {{ tag({
                    text: "Rejected",
                    classes: "nhsuk-tag--grey"
                  })}}

                {% endif %}

                {% if data['template-letter-standard-status'] == '1' %}

                  {{ tag({
                    text: "Approval needed",
                    classes: "nhsuk-tag--yellow"
                  })}}

                {% endif %}

              {% endif %}
            </dd>
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>
        </dl>

      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-half">

      <h2 class="nhsuk-heading-m">Personalisation</h2>

      {% if data['template-letter-standard-status'] != '2' %}

      <p>Check how your personalisation fields will appear in your letter.</p>

      <p><a href="template-upload-letter-standard-guidance-2" target="_blank">Learn more about personalising your letters (opens in a new tab)</a>.</p>

      {% endif %}

      <div class="nhsuk-tabs nhsuk-u-margin-top-6" data-module="nhsuk-tabs">
        <h2 class="nhsuk-tabs__title">
          Example personalisation data
        </h2>
        <ul class="nhsuk-tabs__list">
          <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
            <a class="nhsuk-tabs__tab" href="#tab-short">
              Short examples
            </a>
          </li>
          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#tab-long">
              Long examples
            </a>
          </li>
        </ul>

        <div class="nhsuk-tabs__panel" id="tab-short">

          <form action="#tab-short" method="post">

            <p><a href="#" id="copy-short-examples">Copy your previous examples</a></p>
          
            <h3 class="nhsuk-heading-s">
              PDS personalisation fields
            </h3>

            {% if data['template-letter-standard-status'] != '2' %}

            {{ input({
              label: {
                text: "fullName",
                classes: "nhsuk-label--s"
              },
              id: "letter-proof-standard-pds-fullname-short",
              name: "letter-proof-standard-pds-fullname-short",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-pds-fullname-short']
            }) }}

            {% else %}

            <p>
              <strong>fullName</strong><br />
              Jo Blogs
            </p>

            {% endif %}

            <h3 class="nhsuk-heading-s nhsuk-u-padding-top-4">
              Custom personalisation fields
            </h3>

            {% if data['template-letter-standard-status'] != '2' %}

            {{ input({
              label: {
                text: "studyRegion",
                classes: "nhsuk-label--s"
              },
              id: "letter-proof-standard-custom-field-short-1",
              name: "letter-proof-standard-custom-field-short-1",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-short-1']
            }) }}

            {{ input({
              label: {
                text: "studyRegionPhone",
                classes: "nhsuk-label--s"
              },
              id: "letter-proof-standard-custom-field-short-2",
              name: "letter-proof-standard-custom-field-short-2",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-short-2']
            }) }}

            {{ input({
              label: {
                text: "studyRegionEmail",
                classes: "nhsuk-label--s"
              },
              id: "letter-proof-standard-custom-field-short-3",
              name: "letter-proof-standard-custom-field-short-3",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-short-3']
            }) }}

            {% else %}

            <p>
              <strong>studyRegion</strong><br />
              Rutland
            </p>

            <p>
              <strong>studyRegionPhone</strong><br />
              01234 567 890
            </p>

            <p>
              <strong>studyRegionEmail</strong><br />
              rutland@nhs.net
            </p>

            {% endif %}

            <input type="hidden" name="template-letter-preview-length" value="short">
            <input type="hidden" name="show-save-banner" value="">

            <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-3">Update preview</button>

          </form>

        </div>

        

        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="tab-long">

          <form action="#tab-long" method="post">

            <p><a href="#" id="copy-long-examples">Copy your previous examples</a></p>

            <h3 class="nhsuk-heading-s">
              PDS personalisation fields
            </h3>

            {% if data['template-letter-standard-status'] != '2' %}

            {{ input({
              label: {
                text: "fullName",
                classes: "nhsuk-label--s"
              },
              id: "letter-proof-standard-pds-fullname-long",
              name: "letter-proof-standard-pds-fullname-long",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-pds-fullname-long']
            }) }}

            {% else %}

            <p>
              <strong>fullName</strong><br />
              Joseph Anthony Hendrington-Bloggs
            </p>

            {% endif %}
    

            <h3 class="nhsuk-heading-s nhsuk-u-padding-top-4">
              Custom personalisation fields
            </h3>

            {% if data['template-letter-standard-status'] != '2' %}

            {{ input({
              label: {
                text: "studyRegion",
                classes: "nhsuk-label--s"
              },
              id: "letter-proof-standard-custom-field-long-1",
              name: "letter-proof-standard-custom-field-long-1",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-long-1']
            }) }}

            {{ input({
              label: {
                text: "studyRegionPhone",
                classes: "nhsuk-label--s"
              },
              id: "letter-proof-standard-custom-field-long-2",
              name: "letter-proof-standard-custom-field-long-2",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-long-2']
            }) }}

            {{ input({
              label: {
                text: "studyRegionEmail",
                classes: "nhsuk-label--s"
              },
              id: "letter-proof-standard-custom-field-long-3",
              name: "letter-proof-standard-custom-field-long-3",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-long-3']
            }) }}

            {% else %}

            <p>
              <strong>studyRegion</strong><br />
              Bath and North East Somerset
            </p>

            <p>
              <strong>studyRegionPhone</strong><br />
              01234 567 999
            </p>

            <p>
              <strong>studyRegionEmail</strong><br />
              bath_and_north_east_somerset@nhs.net
            </p>

            {% endif %}

            <input type="hidden" name="template-letter-preview-length" value="long">
            <input type="hidden" name="show-save-banner" value="">

            <button class="nhsuk-button nhsuk-button--secondary">Update preview</button>

          </form>

        </div>

      </div>

    </div>

    <div class="nhsuk-grid-column-one-half">

      <h2 class="nhsuk-heading-m">Preview</h2>

      {% if data['template-letter-preview-length'] == 'short' %}

      <iframe 
        src="/files/letter-template-nhs-notify-standard-example-short-data.pdf"
        style="width:100%;height:1200px;border:none;"
        allowfullscreen
        referrerpolicy="no-referrer"
        class="nhsuk-u-margin-bottom-4 notify-letter-preview"
        id="iframe-short"
      ></iframe>

      {% elseif data['template-letter-preview-length'] == 'medium' %}

      <iframe 
        src="/files/letter-template-nhs-notify-standard-example-medium-data.pdf"
        style="width:100%;height:1200px;border:none;"
        allowfullscreen
        referrerpolicy="no-referrer"
        class="nhsuk-u-margin-bottom-4 notify-letter-preview"
        id="iframe-medium"
      ></iframe>

      {% elseif data['template-letter-preview-length'] == 'long' %}

      <iframe 
        src="/files/letter-template-nhs-notify-standard-example-long-data.pdf"
        style="width:100%;height:1200px;border:none;"
        allowfullscreen
        referrerpolicy="no-referrer"
        class="nhsuk-u-margin-bottom-4 notify-letter-preview"
        id="iframe-long"
      ></iframe>

      {% else %}

      <iframe 
        src="/files/letter-template-nhs-notify-standard-example-3.pdf"
        style="width:100%;height:1200px;border:none;"
        allowfullscreen
        referrerpolicy="no-referrer"
        class="nhsuk-u-margin-bottom-4 notify-letter-preview"
      ></iframe>

      {% endif %}

      {% if data['template-letter-standard-status'] == '1' %}

        <div>

          <a href="template-edit-letter-standard" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-3">Edit template settings</a>

          <a href="template-letter-approve?approve-template-name={{ data['template-letter-name-1'] }}" class="nhsuk-button nhsuk-u-margin-right-3">Approve template</a>

          <p><a href="folder-templates">Back to all templates</a></p>

        </div>

      {% endif %}
      
    </div>

  </div>

  <script>
    // Populate short examples
    document.getElementById('copy-short-examples')?.addEventListener('click', function(e) {
      e.preventDefault();
      
      // Predetermined data for short examples
      document.getElementById('letter-proof-standard-pds-fullname-short').value = 'Jo Blogs';
      document.getElementById('letter-proof-standard-custom-field-short-1').value = 'Rutland';
      document.getElementById('letter-proof-standard-custom-field-short-2').value = '01234 567 890';
      document.getElementById('letter-proof-standard-custom-field-short-3').value = 'rutland@nhs.net';
      
    });

    // Populate long examples
    document.getElementById('copy-long-examples')?.addEventListener('click', function(e) {
      e.preventDefault();
      
      // Predetermined data for long examples
      document.getElementById('letter-proof-standard-pds-fullname-long').value = 'Joseph Anthony Hendrington-Bloggs';
      document.getElementById('letter-proof-standard-custom-field-long-1').value = 'Bath and North East Somerset';
      document.getElementById('letter-proof-standard-custom-field-long-2').value = '01234 567 999';
      document.getElementById('letter-proof-standard-custom-field-long-3').value = 'bath_and_north_east_somerset@nhs.net';

    });
  </script>

{% endblock %}