{% extends 'v16/layout.html' %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Edit standard English letter template settings
      </h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div id="column-left" class="nhsuk-grid-column-two-thirds">

      <form action="template-letter-standard" method="post" autocomplete="off" onsubmit="return checkFormUploadLetter();">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-6">
          
          <label class="nhsuk-label nhsuk-label--s" for="template-letter-name-1">
            Template name
          </label>
          <div class="nhsuk-hint">
            This will not be visible to recipients.
          </div>

          {% include "../includes/details-template-name.html" %}

          <input class="nhsuk-input nhsuk-u-margin-bottom-2" id="template-letter-name-1" name="template-letter-name-1" type="text" value="{{ data['template-letter-name-1'] }}">

          <span class="nhsuk-error-message nhsuk-u-margin-bottom-2" id="template-letter-name-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
          </span>

        </div>

        {% set selectedCampaign = data['template-letter-campaign'] %}

        {{ select({
          label: {
            text: "Campaign",
            classes: "nhsuk-label--s"
          },
          hint: {
            text: "Choose which campaign this letter is for"
          },
          id: "template-letter-campaign",
          name: "template-letter-campaign",
          formGroup: {
            classes: "nhsuk-u-margin-bottom-6"
          },
          items: [
            { value: "", text: "" },
            { value: "Campaign 1", text: "Campaign 1", selected: selectedCampaign == "Campaign 1" },
            { value: "Campaign 2", text: "Campaign 2", selected: selectedCampaign == "Campaign 2" }
          ]
        }) }}

        {% set selectedLetterSpec = data['template-letter-specification'] %}

        {{ radios({
          idPrefix: "template-letter-specification",
          name: "template-letter-specification",
          fieldset: {
            legend: {
              text: "Letter specification",
              classes: "nhsuk-label--s"
            }
          },
          hint: {
            html: "
            Choose which letter specification this letter will use<br />
            <a href='/404' target='_blank'>Learn more about these letter specifications (opens in a new tab)</a>
            "
          },
          formGroup: {
            classes: "nhsuk-u-margin-bottom-6"
          },
          items: [
            {
              value: "Specification 1",
              text: "Specification 1",
              checked: selectedLetterSpec == "Specification 1",
              hint: {
                html: "Specification description goes here"
              }
            },
            {
              value: "Specification 2",
              text: "Specification 2",
              checked: selectedLetterSpec == "Specification 2",
              hint: {
                html: "Specification description goes here"
              }
            },
            {
              value: "Specification 3",
              text: "Specification 3",
              checked: selectedLetterSpec == "Specification 3",
              hint: {
                html: "Specification description goes here"
              }
            }
          ]
        }) }}

        {#<div class="nhsuk-form-group nhsuk-u-margin-bottom-6">
          
          <label class="nhsuk-label nhsuk-label--s" for="template-letter-name-1">
            Dispatch time
          </label>
          <div class="nhsuk-hint">
            The time between when the letter supplier receives your request, to when they print and dispatch the letter.
          </div>

          <select class="nhsuk-select" id="template-letter-standard-dispatch" name="template-letter-standard-dispatch">
            <option
            value="Standard (up to 2 business days)"
            {% if data['template-letter-standard-dispatch'] == 'Standard (up to 2 business days)' %}selected{% endif %}
            >
              Standard (up to 2 business days)
            </option>
            <option
            value="Fast (same business day)"
            {% if data['template-letter-standard-dispatch'] == 'Fast (same business day)' %}selected{% endif %}
            >
              Fast (same business day)
            </option>
          </select>

        </div>

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-6">
          
          <label class="nhsuk-label nhsuk-label--s" for="template-letter-name-1">
            Postage
          </label>
          <div class="nhsuk-hint">
            This is the Royal Mail postage we use. The postage affects how quickly your letter will arrive after dispatch.
          </div>

          <select class="nhsuk-select" id="template-letter-standard-postage" name="template-letter-standard-postage">
            <option
            value="Standard (up to 3 business days)"
            {% if data['template-letter-standard-postage'] == 'Standard (up to 3 business days)' %}selected{% endif %}
            >
              Standard (up to 3 business days)
            </option>
            <option
            value="First class"
            {% if data['template-letter-standard-postage'] == 'First class' %}selected{% endif %}
            >
              First class
            </option>
            <option
            value="Second class"
            {% if data['template-letter-standard-postage'] == 'Second class' %}selected{% endif %}
            >
              Second class
            </option>
          </select>

        </div>#}

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-6">
          
          <label class="nhsuk-label nhsuk-label--s" for="template-letter-name-1">
            Template file
          </label>

          <p>letter-template-nhs-notify_.docx</p>

          <p>You cannot replace your template file on this page. If you need to make changes, edit your original template file on your computer then upload it as a new template.</p>

        </div>

        <div class="nhsuk-form-group">

          {{ button({
            text: 'Save and continue'
          }) }}

          <a href="javascript:history.go(-1);" class="nhsuk-u-font-size-19 nhsuk-u-margin-left-3 nhsuk-u-padding-top-3" style="display: inline-block;">Go back</a>

        </div>
      
      </form>

    </div>

    {#<div class="nhsuk-grid-column-one-third">

      <h2 class="nhsuk-heading-m">How to create a letter template</h2>

      <ol>
        <li class="nhsuk-u-margin-bottom-4">
          Download the relevant <a href="" target="_blank">blank letter template file (opens in a new tab)</a>.
        </li>
        <li class="nhsuk-u-margin-bottom-4">
          <a href="" target="_blank">Format your letter (opens in a new tab)</a>.
        </li>
        <li class="nhsuk-u-margin-bottom-4">
          <a href="" target="_blank">Add any personalisation (opens in a new tab)</a>.
        </li>
        <li>
          Save your Microsoft Word file and upload it to this page.
        </li>
      </ol>
      
    </div>#}

  </div>
{% endblock %}