{% extends 'v16/layout.html' %}

{% block beforeContent %}

{{ backLink({
  "href": "javascript:history.go(-1);",
  "text": "Back to template"
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-xl">
      Request a proof
    </h1>

    <p>To see how your message will look to recipients, request a proof from NHS Notify.</p>
    <p>It can take up to X business days to receive a proof back.</p>

    <h2 class="nhsuk-heading-l">How to request a proof</h2>

    <ol>
      <li>Create a service now ticket</li>
      <li>List all the template IDs you want proofs for</li>
    </ol>

  </div>
</div>

{% endblock %}