{% extends 'v16/layout.html' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="notify-confirmation-panel">
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-0">Letter template rejected</h1>
      </div>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Template name</h2>
      <p>{{ data['reject-template-name']}}</p>

      <p>If you're not happy with this template then edit the Word doc on your computer and upload it as a new template.</p>

      <form action="route-template-letter-reject" method="post">

        {{ radios({
          name: "radio-template-letter-reject",
          fieldset: {
            legend: {
              text: "Do you want to delete this rejected template?",
              classes: "nhsuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "no",
              text: "No"
            },
            {
              value: "yes",
              text: "Yes"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>

      {#<p><a href="folder-templates">Back to all templates</a></p>#}

    </div>
  </div>
{% endblock %}
