<ol class='nhsuk-list nhsuk-list--number'>
  <li>Sign in with your NHS.net Connect account (previously NHSmail) if you have one. If you do not have an NHS.net Connect account, set up a portal account by selecting <strong>register</strong>.</li>
  <li>
    In the <strong>short description field</strong>, include:
    <ul class='nhsuk-list nhsuk-list--bullet nhsuk-u-margin-bottom-3'>
      <li>your service name</li>
      <li>campaign</li>
      <li>action</li>
    </ul>
    <p>For example: CSMS - normal results - translated templates provided.</p>
  </li>
  <li>
    <p>In the <strong>description</strong> field, include the date you need us to set your messages up by, and the following details. You can provide these details as file attachments if that's easier for you.</p>
    Template details:
    <ul class='nhsuk-list nhsuk-list--bullet nhsuk-u-margin-bottom-3'>
      <li>your template names and IDs, and the routing plans you want to add them to</li>
      <li>if you're replacing a template, include the new and old template names and IDs, and the routing plan you want to add them to</li>
    </ul>
    If you've not set up routing plans with us yet, tell us your:
    <ul class='nhsuk-list nhsuk-list--bullet nhsuk-u-margin-bottom-3'>
      <li>template order</li>
      <li>fallback times (how long we should try to send a message using one channel before trying the next)</li>
      <li>whether you need to send Braille or audio CD letter templates</li>
      <li>whether you need to include inserts with your letter templates</li>
    </ul>
  </li>
  <li>For the <strong>service</strong>, select <strong>NHS Notify</strong> from the drop-down list.</li>
  <li>For the <strong>service offering</strong>, select <strong>NHS Notify templates</strong> from the drop-down list.</li>
</ol>