<!-- Custom Notify macros -->
{% from 'includes/sideNavBackLink.njk' import sideNavBackLink %}
{% from 'includes/sideNavItem.njk' import sideNavItem %}
{% from 'includes/sideNavSubItem.njk' import sideNavSubItem %}

{% set protoVersion = 'v2' %}

<!-- Extends the layout from /docs/views/template.html -->
{% extends 'template.html' %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  NHS Notify prototype
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    'service': {
        'name': 'Notify'
      },
      'homeHref': '/' + protoVersion + '/',
      'showNav': 'true',
      'showSearch': 'false',
      'primaryLinks': [
      {
        'url' : '/' + protoVersion + '/about/',
        'label' : 'About'
      },
      {
        'url' : '/' + protoVersion + '/features/',
        'label' : 'Features'
      },
      {
        'url'  : '/' + protoVersion + '/using-nhs-notify/',
        'label' : 'Using NHS Notify'
      },
      {
        'url'  : '/' + protoVersion + '/pricing/',
        'label' : 'Pricing'
      },
      {
        'url'  : '/' + protoVersion + '/support/',
        'label' : 'Support'
      },
      {
        'url'  : '/' + protoVersion + '/get-started/',
        'label' : 'Get started'
      }
    ]
    })
  }}
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    'links': [
      {
        'URL': '/',
        'label': 'Home'
      },
      {
        'URL': '/examples/passing-data/clear-data',
        'label': 'Clear data'
      },
      {
        'URL': '/',
        'label': 'Prototype version: ' + protoVersion + ''
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include 'includes/scripts.html' %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
