{% extends 'v8/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back to template",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      {% if data['message-type'] == "app" %}

      <h1>
        Send a test NHS App message
      </h1>

      <p>Preview your NHS App message like your recipients would by sending a test message to your test NHS App account.</p>

      <p>If you do not have a test NHS App account, contact NHS Notify to get one.</p>

      <form action="template-test-confirmation" method="post" onsubmit="return checkFormTestNhsNo();" autocomplete="off">

        <div class="nhsuk-form-group">

          <label class="nhsuk-label nhsuk-label--s" for="test-nhsno-1">
            Test patient NHS number
          </label>
          <span class="nhsuk-hint">This is the NHS number from the test NHS App account</span>

          <span class="nhsuk-error-message nhsuk-u-margin-bottom-2" id="test-nhsno-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter the NHS number from the test NHS App account
          </span>

          <input class="nhsuk-input" id="test-nhsno-1" name="test-nhsno-1" type="text" value="{{ data['test-nhsno-1'] }}">

        </div>

        <p><a href="https://www-onboardingaos.nhsapp.service.nhs.uk/login" target="_blank">Log in to the NHS App (opens in a new tab)</a> with the test NHS App account to preview your test message.</p>

        <div class="nhsuk-form-group nhsuk-u-padding-top-4">

          <h2 class="nhsuk-heading-m">Personalisation fields</h2>

          {{ details({
            text: "If you've included personalisation fields from PDS",
            HTML: '
            <p>These personalisation fields will be populated with data from your test NHS app account.</p>
            '
          }) }}

          <p class="nhsuk-u-margin-top-7">Enter test data for your own personalisation fields to see how they will appear in your NHS App messages.</p>

          {{ input({
            label: {
              text: "fieldName1",
              classes: "nhsuk-label--s"
            },
            id: "fieldName1",
            name: "fieldName1",
            value: data['fieldName1']
          }) }}

          {{ input({
            label: {
              text: "fieldName2",
              classes: "nhsuk-label--s"
            },
            id: "fieldName2",
            name: "fieldName2",
            value: data['fieldName2']
          }) }}

        </div>

        {{ button({
          "text": "Send"
        }) }}

      </form>

      {% endif %}



      {% if data['message-type'] == "sms" %}

      <h1>
        Send a test text message (SMS)
      </h1>

      <p>Preview your text message like your recipients would by sending a test text message to your mobile phone.</p>

      <p>This test text message will be sent to: 07711223344</p>

      <form action="template-test-confirmation" method="post" onsubmit="return checkFormTestNhsNo();" autocomplete="off">

        <div class="nhsuk-u-padding-top-4">

          <h2 class="nhsuk-heading-m">Personalisation fields that use PDS</h2>

          <p>Populate personalisation fields that use PDS by entering a test patient's NHS number.</p>

          <p>If you do not have a test patient, contact NHS Notify to get one.</p>

          <div class="nhsuk-form-group">

            <label class="nhsuk-label nhsuk-label--s" for="test-nhsno-1">
              Test patient NHS number
            </label>
  
            <span class="nhsuk-error-message nhsuk-u-margin-bottom-2" id="test-nhsno-1--error">
              <span class="nhsuk-u-visually-hidden">Error:</span> Enter the NHS number for a test patient
            </span>
  
            <input class="nhsuk-input" id="test-nhsno-1" name="test-nhsno-1" type="text" value="{{ data['test-nhsno-1'] }}">
  
          </div>

        </div>

        <div class="nhsuk-u-padding-top-4">

          <h2 class="nhsuk-heading-m">Custom personalisation fields</h2>

          <p>Enter test data for your own personalisation fields to see how they will appear in your test messages.</p>

          {{ input({
            label: {
              text: "fieldName1",
              classes: "nhsuk-label--s"
            },
            id: "fieldName1",
            name: "fieldName1",
            value: data['fieldName1']
          }) }}

          {{ input({
            label: {
              text: "fieldName2",
              classes: "nhsuk-label--s"
            },
            id: "fieldName2",
            name: "fieldName2",
            value: data['fieldName2']
          }) }}

        </div>

        {{ button({
          "text": "Send"
        }) }}

      </form>

      {% endif %}



      {% if data['message-type'] == "email" %}

      <h1>
        Send a test email
      </h1>

      <p>Preview your email like your recipients would by sending a test email to your email address.</p>

      <p>This test email will be sent to: mary.poppins5@nhs.net</p>

      <form action="template-test-confirmation" method="post" onsubmit="return checkFormTestNhsNo();" autocomplete="off">

        <div class="nhsuk-u-padding-top-4">

          <h2 class="nhsuk-heading-m">Personalisation fields that use PDS</h2>

          <p>Populate personalisation fields that use PDS by entering a test patient's NHS number.</p>

          <p>If you do not have a test patient, contact NHS Notify to get one.</p>

          <div class="nhsuk-form-group">

            <label class="nhsuk-label nhsuk-label--s" for="test-nhsno-1">
              Test patient NHS number
            </label>
  
            <span class="nhsuk-error-message nhsuk-u-margin-bottom-2" id="test-nhsno-1--error">
              <span class="nhsuk-u-visually-hidden">Error:</span> Enter the NHS number for a test patient
            </span>
  
            <input class="nhsuk-input" id="test-nhsno-1" name="test-nhsno-1" type="text" value="{{ data['test-nhsno-1'] }}">
  
          </div>

        </div>

        <div class="nhsuk-u-padding-top-4">

          <h2 class="nhsuk-heading-m">Custom personalisation fields</h2>

          <p>Enter test data for your own personalisation fields to see how they will appear in your test messages.</p>

          {{ input({
            label: {
              text: "fieldName1",
              classes: "nhsuk-label--s"
            },
            id: "fieldName1",
            name: "fieldName1",
            value: data['fieldName1']
          }) }}

          {{ input({
            label: {
              text: "fieldName2",
              classes: "nhsuk-label--s"
            },
            id: "fieldName2",
            name: "fieldName2",
            value: data['fieldName2']
          }) }}

        </div>

        {{ button({
          "text": "Send"
        }) }}

      </form>

      {% endif %}



      

    </div>
  </div>
{% endblock %}