{% extends 'v8/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Message sent
      </h1>

      <p>
        A test message has been sent to: 
        {% if data['message-type'] == 'app' %}{{data['test-app-1']}}{%endif%}
        {% if data['message-type'] == 'sms' %}{{data['test-sms-1']}}{%endif%}
        {% if data['message-type'] == 'email' %}{{data['test-email-1']}}{%endif%}
      </p>

      <a href="{{ data['continue-url'] }}" class="nhsuk-button">Continue</a>

    </div>
  </div>
{% endblock %}