{% extends 'v8/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back to template",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      {% if data['message-type'] == "app" %}

      <h1>
        Send a test NHS App message
      </h1>

      <p>
        See your NHS App message like your recipients would by sending a test message to your test NHS App account.
      </p>

      {{ details({
        text: 'Before you send test NHS App messages',
        HTML: '
        <p>You will need:</p>
        <ul>
          <li>an NHS App test account</li>
          <li><a href="">to install an integration version of the NHS App</a></li>
        </ul>
        <p>If you do not have an NHS App test account, contact NHS Notify to get one.</p>
        <p>If you cannot install an integration version of the NHS App, <a href="https://www-onboardingaos.nhsapp.service.nhs.uk/login" target="_blank">access the NHS App in your web browser</a>.</p>
        '
      }) }}

      <form action="template-test-confirmation" method="post" onsubmit="return checkFormTestApp();" autocomplete="off">

        <div class="nhsuk-form-group">

          <label class="nhsuk-label" for="test-app-1">
            Test NHS number
          </label>
          <span class="nhsuk-hint">This is the NHS number for your NHS App test account</span>

          <span class="nhsuk-error-message nhsuk-u-margin-bottom-2" id="test-app-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter the NHS number for your test NHS App account
          </span>

          <input class="nhsuk-input" id="test-app-1" name="test-app-1" type="text" value="{{ data['test-app-1'] }}">

        </div>

        <div class="nhsuk-form-group nhsuk-u-padding-top-4">

          <h2 class="nhsuk-heading-m">Personalisation fields</h2>

          {{ details({
            text: "If you've included personalisation fields from PDS",
            HTML: '
            <p>These personalisation fields will be populated with data from your test NHS app account.</p>
            '
          }) }}

          <p class="nhsuk-u-margin-top-7">Enter test data for your own personalisation fields to see how they will appear in your NHS App messages.</p>

          {{ input({
            label: {
              text: "fieldName1 (optional)"
            },
            id: "fieldName1",
            name: "fieldName1",
            value: data['fieldName1']
          }) }}

          {{ input({
            label: {
              text: "fieldName2 (optional)"
            },
            id: "fieldName2",
            name: "fieldName2",
            value: data['fieldName2']
          }) }}

        </div>

        {{ button({
          "text": "Send"
        }) }}

      </form>

      {% endif %}



      {% if data['message-type'] == "sms" %}

      <h1>
        Send a test text message (SMS)
      </h1>

      <p>
        See your text message like your recipients would by sending a test text message to your mobile phone.
      </p>

      <form action="template-test-confirmation" method="post" onsubmit="return checkFormTestSMS();" autocomplete="off">

        <div class="nhsuk-form-group">

          <label class="nhsuk-label" for="test-sms-1">
            Mobile number
          </label>

          <span class="nhsuk-error-message nhsuk-u-margin-bottom-2" id="test-sms-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a mobile number
          </span>

          <input class="nhsuk-input" id="test-sms-1" name="test-sms-1" type="text" value="{{ data['test-sms-1'] }}">

        </div>

        <div class="nhsuk-form-group nhsuk-u-padding-top-4">

          <h2 class="nhsuk-heading-m">Personalisation fields</h2>

          <p>Populate personalisation fields that use PDS by entering your test patient's NHS number.</p>

          {{ input({
            "label": {
              "text": "Test patient NHS number (optional)"
            },
            "id": "test-nhsno-1",
            "name": "test-nhsno-1",
            "value": data['test-nhsno-1']
          }) }}

          <p class="nhsuk-u-margin-top-7">Enter test data for your own personalisation fields to see how they will appear in your NHS App messages.</p>

          {{ input({
            label: {
              text: "fieldName1 (optional)"
            },
            id: "fieldName1",
            name: "fieldName1",
            value: data['fieldName1']
          }) }}

          {{ input({
            label: {
              text: "fieldName2 (optional)"
            },
            id: "fieldName2",
            name: "fieldName2",
            value: data['fieldName2']
          }) }}

        </div>

        {{ button({
          "text": "Send"
        }) }}

      </form>

      {% endif %}



      {% if data['message-type'] == "email" %}

      <h1>
        Send a test email
      </h1>

      <p>
        See your email like your recipients would by sending a test email to your nhs.net email address.
      </p>

      <form action="template-test-confirmation" method="post" onsubmit="return checkFormTestEmail();" autocomplete="off">

        <div class="nhsuk-form-group">

          <label class="nhsuk-label" for="test-email-1">
            Email address
          </label>

          <span class="nhsuk-error-message nhsuk-u-margin-bottom-2" id="test-email-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter an email address
          </span>

          <input class="nhsuk-input" id="test-email-1" name="test-email-1" type="text" value="{{ data['test-email-1'] }}">

        </div>

        <div class="nhsuk-form-group nhsuk-u-padding-top-4">

          <h2 class="nhsuk-heading-m">Personalisation fields</h2>

          <p>Populate personalisation fields that use PDS by entering your test patient's NHS number.</p>

          {{ input({
            "label": {
              "text": "Test patient NHS number (optional)"
            },
            "id": "test-nhsno-1",
            "name": "test-nhsno-1",
            "value": data['test-nhsno-1']
          }) }}

          <p class="nhsuk-u-margin-top-7">Enter test data for your own personalisation fields to see how they will appear in your NHS App messages.</p>

          {{ input({
            label: {
              text: "fieldName1 (optional)"
            },
            id: "fieldName1",
            name: "fieldName1",
            value: data['fieldName1']
          }) }}

          {{ input({
            label: {
              text: "fieldName2 (optional)"
            },
            id: "fieldName2",
            name: "fieldName2",
            value: data['fieldName2']
          }) }}

        </div>

        {{ button({
          "text": "Send"
        }) }}

      </form>

      {% endif %}



      

    </div>
  </div>
{% endblock %}