{% extends 'v2/layout.html' %}



{% block beforeContent %}

{{ breadcrumb({
  items: [
    {
      href: '/' + protoVersion + '/',
      text: "Home"
    },
    {
      href: '/' + protoVersion + '/using-nhs-notify/',
      text: "Using NHS Notify"
    }
  ]
}) }}

{% endblock %}



{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="app-pane">

        <div class="app-pane__side-bar">

          <nav class="app-side-nav">

            {#
            {{sideNavBackLink(title='Back link', link='/')}}

            <h2 class="app-side-nav__heading">
              Section heading <span class="nhsuk-u-visually-hidden">navigation</span>
            </h2>
            #}

            <ul class="nhsuk-list app-side-nav__list">
            
              <li class="app-side-nav__item app-side-nav__item--current nhsuk-u-padding-left-2" style="border-left:2px solid #005eb8">

                <a class="app-side-nav__link" href="access">How to access NHS Notify</a>

                <ul class="nhsuk-list app-side-nav__list nhsuk-u-margin-top-1 nhsuk-u-margin-left-3 nhsuk-u-margin-bottom-3">

                  {{sideNavSubItem(title='API', link='api', active='0')}}

                  {{sideNavSubItem(title='MESH', link='mesh', active='0')}}

                  {{sideNavSubItem(title='User interface', link='ui', active='0')}}

                </ul>

              </li>

              {{sideNavItem(title='Writing a message', link='writing', active='0')}}

              {{sideNavItem(title='How we use the Personal Demographics Service (PDS)', link='pds', active='0')}}

              {{sideNavItem(title='Multi-channel routing', link='routing', active='0')}}

              {{sideNavItem(title='Delivery times', link='delivery', active='0')}}

              {{sideNavItem(title='Sending letters in accessible formats', link='accessible', active='0')}}

              {{sideNavItem(title='Sending letters in other languages', link='languages', active='0')}}

            </ul>
            
          </nav>
          
        </div>

        <div class="app-pane__main-content">

          <h1 class="nhsuk-heading-xl">How to access NHS Notify</h1>

        </div>

      </div>

    </div>
  </div>
{% endblock %}
