{{ details({
    summaryText: "What the template statuses mean",
    classes: "nhsuk-u-reading-width",
    html: "
    <h2 class='nhsuk-heading-s nhsuk-u-margin-bottom-1'>Draft</h2>
    <p>Templates you can edit. You're still working on these templates.</p>

    <h2 class='nhsuk-heading-s nhsuk-u-margin-bottom-1'>Approval needed</h2>
    <p>Letter templates you must review and approve before you can use them in a message plan.</p>

    <h2 class='nhsuk-heading-s nhsuk-u-margin-bottom-1'>Approved</h2>
    <p>Letter templates you have approved.</p>
    <p>You can use these templates in a message plan.</p>

    <h2 class='nhsuk-heading-s nhsuk-u-margin-bottom-1'>Locked</h2>
    <p>Templates you cannot edit. They're part of a message plan in production.</p>
    <p>You can:</p>
    <ul>
        <li>use these templates in new message plans</li>
        <li>copy these templates to create new versions that you can edit</li>
    </ul>
    "
}) }}