{{ details({
    summaryText: "Naming your message plans",
    html: "
    <p>You should name your message plans in a way that works best for your service or organisation.</p>
    <p>Common message plan names include the:</p>
    <ul class='nhsuk-list nhsuk-list--bullet'>
        <li>channels it uses</li>
        <li>subject or reason for the message</li>
        <li>intended audience for the message</li>
        <li>version number</li>
    </ul>
    <p>For example, 'Email, SMS, letter - covid19 2023 - over 65s - version 3'</p>
    ",
    classes: "nhsuk-u-margin-top-3"
}) }}