{% extends 'v5/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back",
  "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Show the correct heading based on whether the page mode is set to 'create' or 'edit'-->
      <h1 class="nhsuk-heading-xl">
        {% if data['mode'] == 'edit' %}
        Edit non-english language letter template
        {% else %}
        Create non-english language letter template
        {% endif %}
      </h1>

      <button id="toggle" onclick="guidanceShowHide()" class="nhsuk-button nhsuk-button--secondary">Show template guidance</button>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div id="column-left" class="nhsuk-grid-column-full">

      <span class="nhsuk-u-visually-hidden"><a href="#guidance">Read the guidance for creating a letter template</a></span>

      <form action="/404">

        <div class="notify-template-borderbox">

          <div class="nhsuk-form-group">
          
            <label class="nhsuk-label" for="template-letter-name-1">
              Template name
            </label>
            <div class="nhsuk-hint">
              This will not be visible to recipients.
            </div>
  
            {% include "../includes/details-template-name.html" %}
  
            {% if data['mode'] == 'edit' %}
  
            <input class="nhsuk-input" id="template-letter-name-1" name="template-letter-name-1" type="text" value="{{data['template-letter-name-1']}}">

            {% else %}

            <input class="nhsuk-input" id="template-letter-name-1" name="template-letter-name-1" type="text">

            {% endif %}
            
          </div>

          <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-letter-name-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
          </span>

        </div>

        <div class="notify-template-borderbox">

          {% if data['mode'] == 'edit' %}
  
          {{ textarea({
            "label": {
              "text": "English letter content"
            },
            "hint": {
              "text": "These letters must include both english and non-english languages."
            },
            "name": "template-letter-message-1",
            "id": "template-letter-message-1",
            "classes": "message-body",
            "value": data['template-letter-message-1']
          }) }}

          {% else %}

          {{ textarea({
            "label": {
              "text": "English letter content"
            },
            "hint": {
              "text": "These letters must include both english and non-english languages."
            },
            "name": "template-letter-message-1",
            "id": "template-letter-message-1",
            "classes": "message-body"
          }) }}

          {% endif %}

          <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-letter-message-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a message
          </span>

          {{ select({
            "id": "select-language",
            "name": "select-language",
            "label": {
              "text": "Choose a language"
            },
            "items": [
              {
                "text": "Please select"
              },  
              {
                "value": 1,
                "text": "Albanian"
              },
              {
                "value": 2,
                "text": "Arabic"
              },
              {
                "value": 3,
                "text": "Bengali"
              },
              {
                "value": 3,
                "text": "Bulgarian"
              },
              {
                "value": 3,
                "text": "Chinese"
              },
              {
                "value": 3,
                "text": "French"
              },
              {
                "value": 3,
                "text": "German"
              },
              {
                "value": 3,
                "text": "Modern Greek"
              },
              {
                "value": 3,
                "text": "Gujarati"
              },
              {
                "value": 3,
                "text": "Hindi"
              },
              {
                "value": 3,
                "text": "Italian"
              },
              {
                "value": 3,
                "text": "Latvian"
              },
              {
                "value": 3,
                "text": "Lithuanian"
              },
              {
                "value": 3,
                "text": "Nepali"
              },
              {
                "value": 3,
                "text": "Punjabi (Indian)"
              },
              {
                "value": 3,
                "text": "Persian"
              },
              {
                "value": 3,
                "text": "Polish"
              },
              {
                "value": 3,
                "text": "Portuguese"
              },
              {
                "value": 3,
                "text": "Romanian"
              },
              {
                "value": 3,
                "text": "Russian"
              },
              {
                "value": 3,
                "text": "Somali"
              },
              {
                "value": 3,
                "text": "Spanish"
              },
              {
                "value": 3,
                "text": "Tamil"
              },
              {
                "value": 3,
                "text": "Turkish"
              },
              {
                "value": 3,
                "text": "Urdu"
              },
              {
                "value": 3,
                "text": "Tagalog"
              },
              {
                "value": 3,
                "text": "Ukrainian"
              },
              {
                "value": 3,
                "text": "Vietnamese"
              },
              {
                "value": 3,
                "text": "Bengali"
              }
            ]
          }) }}

          <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-letter-language--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Choose a language
          </span>

          {% if data['mode'] == 'edit' %}
  
          {{ textarea({
            "label": {
              "text": "Non-english letter content"
            },
            "hint": {
              "text": "Enter the non-english version of your content here."
            },
            "name": "template-letter-message-non-eng-1",
            "id": "template-letter-message-non-eng-1",
            "classes": "message-body",
            "value": data['template-letter-message-non-eng-1']
          }) }}

          {% else %}

          {{ textarea({
            "label": {
              "text": "Non-english letter content"
            },
            "hint": {
              "text": "Enter the non-english version of your content here."
            },
            "name": "template-letter-message-non-eng-1",
            "id": "template-letter-message-non-eng-1",
            "classes": "message-body"
          }) }}

          {% endif %}

          <span class="nhsuk-error-message nhsuk-u-margin-bottom-6" id="template-letter-message-non-eng-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a message
          </span>

          {#
          <div class="nhsuk-form-group">

            <label class="nhsuk-label" for="example">
              Upload a signature image (optional)
              <span class="nhsuk-hint">Images must be no larger than 500 x 500 pixels and 10MB in file size.</span>
            </label>
            <input type="file" class="nhsuk-button nhsuk-button--reverse" />

            {{ details({
              "text": "Inserting your signature",
              "HTML": "
              <p>Use 2 curly brackets on either side of 'signature' to insert your signature image in the body text. For example:</p>
              <code class='nhsuk-code-block'>{{signature}}</code>
              "
            }) }}

          </div>
          #}

        </div>

        <!-- Set the variables that are used on subsequent pages -->
        <!--<input type="hidden" name="continue-url" value="template-letter-non-eng-1">
        <input type="hidden" name="message-type" value="letter-non-eng">
        <input type="hidden" name="folder-1-letter-templates" value="1">
        <input type="hidden" name="template-letter-non-eng-name-1-approved" value="">-->

        <!--<p><a href="">Learn about letter pricing</a>.</p>-->

        {{ button({
          "text": "Save and preview"
        }) }}

      </form>

    </div>

    <div id="column-right" class="nhsuk-grid-column-one-third">

      <h2 class="nhsuk-heading-m" id="guidance">Letter layout</h2>
      <p><a href="/images/nhs-notify-pdf-letter-spec.jpg" target="_blank">View letter layout (opens in a new tab)</a></p>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-4">Personalisation</h2>

      {% include "../includes/details-personalisation.html" %}

      <h2 class="nhsuk-heading-m">Body text formatting</h2>

      {% include "../includes/details-linebreaks.html" %}
      
      {% include "../includes/details-headings.html" %}

      {% include "../includes/details-bold.html" %}

      {% include "../includes/details-bullets.html" %}

      {% include "../includes/details-numbered-lists.html" %}

      {% include "../includes/details-signatures.html" %}

      {% include "../includes/details-page-breaks.html" %}

      {% include "../includes/details-content-blocks.html" %}

    </div>

  </div>
{% endblock %}
