<h2 class="nhsuk-heading-m" id="guidance">Personalisation</h2>

<p>Use double brackets to add a personalisation field to your content. </p>

<p>Do not include spaces in your personalisation fields. For example:</p>

<code class="nhsuk-code-block nhsuk-u-margin-bottom-4">Hello ((firstName)), your NHS number is ((nhsNumber))</code>

<!--<p>You can use:</p>
<ul>
  <li>Personal Demographics Service (PDS) personalisation fields</li>
  <li>custom personalisation fields</li>
</ul>-->

{{ details({
    summaryText: 'PDS personalisation fields',
    html: '
    <p>NHS Notify gets data from PDS to populate certain personalisation fields.</p>
    <p>You can use the following PDS personalisation fields:</p>
    <ul>
      <li>((fullName))</li>
      <li>((firstName))</li>
      <li>((lastName))</li>
      <li>((nhsNumber))</li>
      <li>((date))</li>
    </ul>
    <p>Make sure your personalisation fields exactly match the PDS personalisation fields. This includes using the correct order of upper and lower case letters.</p>
    '
}) }}

{{ details({
    summaryText: 'Custom personalisation fields',
    html: '
    <p>You can add <a href="https://notify.nhs.uk/using-nhs-notify/personalisation#custom-personalisation-fields" target="_blank">custom personalisation fields</a> that use your own personalisation data.</p>
    <p>Include custom personalisation fields in your content. Then provide your custom personalisation data using <a href="https://notify.nhs.uk/using-nhs-notify/api" target="_blank">NHS Notify API</a> or <a href="https://notify.nhs.uk/using-nhs-notify/mesh" target="_blank">NHS Notify MESH</a>.</p>
    <p>For example, if you wanted to include GP surgery as custom personalisation data, your custom personalisation field could be:</p>
    <code class="nhsuk-code-block nhsuk-u-margin-bottom-4">((GP_surgery))</code>
    <p>Remember not to include spaces in your personalisation fields.</p>
    '
}) }}