{% extends 'v15/layout.html' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">You cannot delete the template '{{ data['template-delete-name'] }}'</h1>

      <p>This is because the template is linked to one or more message plans.</p>
      <p>The template can be deleted once it has been unlinked from the message plan(s).</p>

      <p><a href="folder-templates">Go back</a></p>


    </div>
  </div>
{% endblock %}