{% extends 'v15/layout_full_width.html' %}

{% block beforeContent %}

<div class="nhsuk-width-container">
  {{ backLink({
  "href": "folder-templates",
  "text": "Back to all templates"
}) }}
</div>

{% endblock %}

{% block content %}

  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <div class="nhsuk-u-reading-width">

          {% if data['template-locked'] == '1' %}

          {% include "../includes/template-locked-message-letter.html" %}

          {% endif %}

          <span class="nhsuk-caption-l">Template</span>
          <h1 class="nhsuk-heading-xl">
            {{ data['template-letter-name-1'] }}
          </h1>

        </div>

        <table role="table" class="notify-template-content nhsuk-u-margin-bottom-4">
          <tbody class="nhsuk-table__body">
            
            <tr role="row" class="nhsuk-table__row">
              <th role="cell" class="nhsuk-table__cell" style="width:20%;">
                Template ID
              </th>
              <td role="cell" class="nhsuk-table__cell" style="font-family: monospace;">
                a4b171b5-431f-4a5b-9d7a-9a4903c98e66
              </td>
            </tr>

            <tr role="row" class="nhsuk-table__row">
              <th role="cell" class="nhsuk-table__cell" style="width: 20%;">
                Template type
              </th>
              <td role="cell" class="nhsuk-table__cell">
                Standard English letter
              </td>
            </tr>


            <tr role="row" class="nhsuk-table__row">
              <th role="cell" class="nhsuk-table__cell" style="width: 20%;">
                Size
              </th>
              <td role="cell" class="nhsuk-table__cell">

                2 sides, 1 sheet

              </td>
            </tr>

            

            <tr role="row" class="nhsuk-table__row">
              <th role="cell" class="nhsuk-table__cell" style="width: 20%;">
                Service level
              </th>
              <td role="cell" class="nhsuk-table__cell">
                <ul>
                  <li>Print and dispatch: 2 business days</li>
                  <li>Delivery: standard (3 business days)</li>
                </ul>
                <a href="/404">Change</a>
              </td>
            </tr>

            <tr role="row" class="nhsuk-table__row">
              <th role="cell" class="nhsuk-table__cell" style="width: 20%;">
                Status
              </th>
              <td role="cell" class="nhsuk-table__cell">
                
                {% if data['template-locked'] == '1' %}

                {{ tag({
                  text: "Locked",
                  classes: "nhsuk-tag--orange"
                })}}

                {% else %}

                  {% if data['template-letter-standard-status'] == '2' %}
                  
                  {{ tag({
                    text: "Approved",
                    classes: "nhsuk-tag--green"
                  })}}

                  {% endif %}

                  {% if data['template-letter-standard-status'] == '3' %}

                  {{ tag({
                    text: "Rejected",
                    classes: "nhsuk-tag--grey"
                  })}}

                  {% endif %}

                  {% if data['template-letter-standard-status'] == '1' %}

                  {{ tag({
                    text: "Waiting for approval",
                    classes: "nhsuk-tag--yellow"
                  })}}

                  {% endif %}

                {% endif %}

              </td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-u-padding-top-4">

    <div class="nhsuk-grid-column-one-half">

      <h2 class="nhsuk-heading-m">Personalisation</h2>

      <p>Check how your personalisation fields will appear in your letter.</p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Copy example personalisation data from another letter template
          </span>
        </summary>
        <div class="nhsuk-details__text">

          <p>You can copy example data from an existing template to save time.</p>
          
          {{ select({
            id: "letter-proof-copy-data",
            name: "letter-proof-copy-data",
            label: {
              text: "Choose a template"
            },
            items: [
              {
                value: 0,
                text: ""
              },
              {
                value: 1,
                text: "Letter template name 1"
              },
              {
                value: 2,
                text: "Letter template name 2"
              },
              {
                value: 3,
                text: "Letter template name 3"
              }
            ]
          }) }}

          <a href="/404" class="nhsuk-button nhsuk-button--secondary">Copy example data</a>

        </div>
      </details>

      <div class="nhsuk-tabs nhsuk-u-margin-top-8" data-module="nhsuk-tabs">
        <h2 class="nhsuk-tabs__title">
          Contents
        </h2>
        <ul class="nhsuk-tabs__list">
          <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
            <a class="nhsuk-tabs__tab" href="#tab-short">
              Short examples
            </a>
          </li>
          {#<li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#tab-medium">
              Medium examples
            </a>
          </li>#}
          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#tab-long">
              Long examples
            </a>
          </li>
        </ul>

        <div class="nhsuk-tabs__panel" id="tab-short">

          <form action="#tab-short" method="post">
          
            <h3 class="nhsuk-heading-s">
              PDS personalisation fields
            </h3>

            <p>Choose example personalisation data for your PDS personalisation fields.</p>

            {{ select({
              id: "letter-proof-standard-pds-date",
              name: "letter-proof-standard-pds-date",
              label: {
                text: "date"
              },
              items: [
                {
                  value: 1,
                  text: "13 August 2025",
                  selected: true
                },
                {
                  value: 2,
                  text: "27 October 2025"
                }
              ]
            }) }}

            {{ select({
              id: "letter-proof-standard-pds-nhsnumber",
              name: "letter-proof-standard-pds-nhsnumber",
              label: {
                text: "nhsNumber"
              },
              items: [
                {
                  value: 1,
                  text: "901 234 5678",
                  selected: true
                },
                {
                  value: 2,
                  text: "1111 1111 11"
                }
              ]
            }) }}

            {{ select({
              id: "letter-proof-standard-pds-fullname",
              name: "letter-proof-standard-pds-fullname",
              label: {
                text: "fullName"
              },
              items: [
                {
                  value: 1,
                  text: "Jo Blogs",
                  selected: true
                },
                {
                  value: 2,
                  text: "Amy Cho"
                }
              ]
            }) }}

            <h3 class="nhsuk-heading-s nhsuk-u-padding-top-6">
              Custom personalisation fields
            </h3>

            <p>Enter your own example personalisation data.</p>

            {{ input({
              label: {
                text: "studyRegion"
              },
              id: "letter-proof-standard-custom-field-short-1",
              name: "letter-proof-standard-custom-field-short-1",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-short-1']
            }) }}

            {{ input({
              label: {
                text: "studyRegionPhone"
              },
              id: "letter-proof-standard-custom-field-short-2",
              name: "letter-proof-standard-custom-field-short-2",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-short-2']
            }) }}

            {{ input({
              label: {
                text: "studyRegionEmail"
              },
              id: "letter-proof-standard-custom-field-short-3",
              name: "letter-proof-standard-custom-field-short-3",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-short-3']
            }) }}

            {{ input({
              label: {
                text: "studyRegion"
              },
              id: "letter-proof-standard-custom-field-short-1",
              name: "letter-proof-standard-custom-field-short-1",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-short-1']
            }) }}

            {{ input({
              label: {
                text: "studyRegionPhone"
              },
              id: "letter-proof-standard-custom-field-short-2",
              name: "letter-proof-standard-custom-field-short-2",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-short-2']
            }) }}

            {{ input({
              label: {
                text: "studyRegionEmail"
              },
              id: "letter-proof-standard-custom-field-short-3",
              name: "letter-proof-standard-custom-field-short-3",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-short-3']
            }) }}

            {{ input({
              label: {
                text: "studyRegion"
              },
              id: "letter-proof-standard-custom-field-short-1",
              name: "letter-proof-standard-custom-field-short-1",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-short-1']
            }) }}

            {{ input({
              label: {
                text: "studyRegionPhone"
              },
              id: "letter-proof-standard-custom-field-short-2",
              name: "letter-proof-standard-custom-field-short-2",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-short-2']
            }) }}

            {{ input({
              label: {
                text: "studyRegionEmail"
              },
              id: "letter-proof-standard-custom-field-short-3",
              name: "letter-proof-standard-custom-field-short-3",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-short-3']
            }) }}

            <input type="hidden" name="template-letter-preview-length" value="short">
            <input type="hidden" name="show-save-banner" value="">

            <button class="nhsuk-button nhsuk-button--secondary">Update preview</button>

          </form>

        </div>

        {#<div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="tab-medium">

          <form action="#tab-medium" method="post">

            <h3 class="nhsuk-heading-s">
              PDS personalisation fields
            </h3>

            <p>Choose example personalisation data for your PDS personalisation fields.</p>
            
            {{ select({
              id: "letter-proof-standard-pds-date",
              name: "letter-proof-standard-pds-date",
              label: {
                text: "date"
              },
              items: [
                {
                  value: 1,
                  text: "13 August 2025",
                  selected: true
                },
                {
                  value: 2,
                  text: "27 October 2025"
                }
              ]
            }) }}

            {{ select({
              id: "letter-proof-standard-pds-nhsnumber",
              name: "letter-proof-standard-pds-nhsnumber",
              label: {
                text: "nhsNumber"
              },
              items: [
                {
                  value: 1,
                  text: "901 234 5678",
                  selected: true
                },
                {
                  value: 2,
                  text: "1111 1111 11"
                }
              ]
            }) }}

            {{ select({
              id: "letter-proof-standard-pds-fullname",
              name: "letter-proof-standard-pds-fullname",
              label: {
                text: "fullName"
              },
              items: [
                {
                  value: 1,
                  text: "Joseph Bloggs",
                  selected: true
                },
                {
                  value: 2,
                  text: "Samantha Beeston"
                }
              ]
            }) }}

            <h3 class="nhsuk-heading-s nhsuk-u-padding-top-6">
              Custom personalisation fields
            </h3>

            <p>Enter your own example personalisation data.</p>

            {{ input({
              label: {
                text: "studyRegion"
              },
              id: "letter-proof-standard-custom-field-medium-1",
              name: "letter-proof-standard-custom-field-medium-1",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-medium-1']
            }) }}

            {{ input({
              label: {
                text: "studyRegionPhone"
              },
              id: "letter-proof-standard-custom-field-medium-2",
              name: "letter-proof-standard-custom-field-medium-2",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-medium-2']
            }) }}

            {{ input({
              label: {
                text: "studyRegionEmail"
              },
              id: "letter-proof-standard-custom-field-medium-3",
              name: "letter-proof-standard-custom-field-medium-3",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-medium-3']
            }) }}

            <input type="hidden" name="template-letter-preview-length" value="medium">
            <input type="hidden" name="show-save-banner" value="">

            <button class="nhsuk-button nhsuk-button--secondary">Update preview</button>

          </form>

        </div>#}

        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="tab-long">

          <form action="#tab-long" method="post">

            <h3 class="nhsuk-heading-s">
              PDS personalisation fields
            </h3>

            <p>Choose example personalisation data for your PDS personalisation fields.</p>
            
            {{ select({
              id: "letter-proof-standard-pds-date",
              name: "letter-proof-standard-pds-date",
              label: {
                text: "date"
              },
              items: [
                {
                  value: 1,
                  text: "13 August 2025",
                  selected: true
                },
                {
                  value: 2,
                  text: "27 October 2025"
                }
              ]
            }) }}

            {{ select({
              id: "letter-proof-standard-pds-nhsnumber",
              name: "letter-proof-standard-pds-nhsnumber",
              label: {
                text: "nhsNumber"
              },
              items: [
                {
                  value: 1,
                  text: "901 234 5678",
                  selected: true
                },
                {
                  value: 2,
                  text: "1111 1111 11"
                }
              ]
            }) }}

            {{ select({
              id: "letter-proof-standard-pds-fullname",
              name: "letter-proof-standard-pds-fullname",
              label: {
                text: "fullName"
              },
              items: [
                {
                  value: 1,
                  text: "Joseph Anthony Hendrington-Bloggs",
                  selected: true
                },
                {
                  value: 2,
                  text: "Lindsay Carter Jones-Wandsworth"
                }
              ]
            }) }}

    

            <h3 class="nhsuk-heading-s nhsuk-u-padding-top-6">
              Custom personalisation fields
            </h3>

            <p>Enter your own example personalisation data.</p>

            {{ input({
              label: {
                text: "studyRegion"
              },
              id: "letter-proof-standard-custom-field-long-1",
              name: "letter-proof-standard-custom-field-long-1",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-long-1']
            }) }}

            {{ input({
              label: {
                text: "studyRegionPhone"
              },
              id: "letter-proof-standard-custom-field-long-2",
              name: "letter-proof-standard-custom-field-long-2",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-long-2']
            }) }}

            {{ input({
              label: {
                text: "studyRegionEmail"
              },
              id: "letter-proof-standard-custom-field-long-3",
              name: "letter-proof-standard-custom-field-long-3",
              classes: "nhsuk-u-width-three-quarters",
              value: data['letter-proof-standard-custom-field-long-3']
            }) }}

            <input type="hidden" name="template-letter-preview-length" value="long">
            <input type="hidden" name="show-save-banner" value="">

            <button class="nhsuk-button nhsuk-button--secondary">Update preview</button>

          </form>

        </div>

      </div>

    </div>

    <div class="nhsuk-grid-column-one-half">

      <h2 class="nhsuk-heading-m">Preview</h2>

      {% if data['template-letter-preview-length'] == 'short' %}

      <iframe 
        src="/files/letter-template-nhs-notify-standard-example-short-data.pdf"
        style="width:100%;height:1200px;border:none;"
        allowfullscreen
        referrerpolicy="no-referrer"
        class="nhsuk-u-margin-bottom-4 notify-letter-preview"
      ></iframe>

      {% elseif data['template-letter-preview-length'] == 'medium' %}

      <iframe 
        src="/files/letter-template-nhs-notify-standard-example-medium-data.pdf"
        style="width:100%;height:1200px;border:none;"
        allowfullscreen
        referrerpolicy="no-referrer"
        class="nhsuk-u-margin-bottom-4 notify-letter-preview"
      ></iframe>

      {% elseif data['template-letter-preview-length'] == 'long' %}

      <iframe 
        src="/files/letter-template-nhs-notify-standard-example-long-data.pdf"
        style="width:100%;height:1200px;border:none;"
        allowfullscreen
        referrerpolicy="no-referrer"
        class="nhsuk-u-margin-bottom-4 notify-letter-preview"
      ></iframe>

      {% else %}

      <iframe 
        src="/files/letter-template-nhs-notify-standard-example-2.pdf"
        style="width:100%;height:1200px;border:none;"
        allowfullscreen
        referrerpolicy="no-referrer"
        class="nhsuk-u-margin-bottom-4 notify-letter-preview"
      ></iframe>

      {% endif %}



      {#<div id="initial">

        <iframe 
          src="/files/letter-template-nhs-notify-standard-example-2.pdf"
          style="width:100%;height:1200px;border:none;"
          allowfullscreen
          referrerpolicy="no-referrer"
          class="nhsuk-u-margin-bottom-4 notify-letter-preview"
        ></iframe>

      </div>

      <div id="short">

        <iframe 
          src="/files/letter-template-nhs-notify-standard-example-short-data.pdf"
          style="width:100%;height:1200px;border:none;"
          allowfullscreen
          referrerpolicy="no-referrer"
          class="nhsuk-u-margin-bottom-4 notify-letter-preview"
        ></iframe>

      </div>

      <div id="medium">

        <iframe 
          src="/files/letter-template-nhs-notify-standard-example-medium-data.pdf"
          style="width:100%;height:1200px;border:none;"
          allowfullscreen
          referrerpolicy="no-referrer"
          class="nhsuk-u-margin-bottom-4 notify-letter-preview"
        ></iframe>

      </div>

      <div id="long">

        <iframe 
          src="/files/letter-template-nhs-notify-standard-example-long-data.pdf"
          style="width:100%;height:1200px;border:none;"
          allowfullscreen
          referrerpolicy="no-referrer"
          class="nhsuk-u-margin-bottom-4 notify-letter-preview"
        ></iframe>

      </div>

      <div id="spinner-container" hidden>

        <section class="loading-container" id="gp-connect-0" style="display:block; min-height: 16em;">

          <div class="bar_container">
            <div id="main_container">
              <div id="pbar" class="progress-spinner" data-percent="0">
                <img src="/images/loader-spinner.svg" width="200px" height="200px" id="spinner" class="">
                <div class="ppc-loading">
                  <div class="pcc-percents-wrapper">
                    <span id="spinner-status" class="nhsuk-body">Loading</span><span aria-hidden="true">...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </section>

      </div>


      <script>
          
          const buttonShort = document.getElementById("buttonShort");
          const buttonMedium = document.getElementById("buttonMedium");
          const buttonLong = document.getElementById("buttonLong");
          const initial = document.getElementById("initial");
          const short = document.getElementById("short");
          const medium = document.getElementById("medium");
          const long = document.getElementById("long");
          const spinner = document.getElementById("spinner-container");

          // Show "initial" section by default
          short.hidden = true;
          medium.hidden = true;
          long.hidden = true;
          initial.hidden = false;
          spinner.hidden = true;

          function showSection(sectionToShow) {
            // Hide all sections
            [short, medium, long, initial].forEach(div => div.hidden = true);
            // Show spinner
            spinner.hidden = false;

            // Wait 2 seconds, then hide spinner and show target section
            setTimeout(() => {
              spinner.hidden = true;
              sectionToShow.hidden = false;
            }, 1500);
          }

          buttonShort.addEventListener("click", () => showSection(short));
          buttonMedium.addEventListener("click", () => showSection(medium));
          buttonLong.addEventListener("click", () => showSection(long));
          
      </script>#}

      {#
      {% if data['template-letter-standard-status'] == '1' %}

      <div>
      
        <a href="template-letter-approve?approve-template-name={{ data['template-letter-name-1'] }}" class="nhsuk-button nhsuk-u-margin-right-3">Approve template</a>
      
      </div>
              
      {% endif %}
      #}
      

    </div>

    {% if data['template-letter-standard-status'] == '1' %}

    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          <div style="width: fit-content; margin: 0 auto;">

          <a href="folder-templates" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-3">Edit template</a>

          <a href="template-letter-approve?approve-template-name={{ data['template-letter-name-1'] }}" class="nhsuk-button nhsuk-u-margin-right-3">Approve template</a>

          </div>

        </div>
      </div>
    </div>

    {% endif %}

  </div>
{% endblock %}