{% extends 'v11/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% from '../includes/choose-template-table-row.njk' import choose_template_row %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <span class="nhsuk-caption-l">{{ data['message-name-1'] }}</span>
      <h1 class="nhsuk-heading-xl">Choose templates</h1>

      {% if data['show-templates'] == '1' %}

      <form action="create-message" autocomplete="off">

        {% if data['channel-amount'] == '1' or data['channel-amount'] == '2' or data['channel-amount'] == '3' %}

        <h2 class="nhsuk-heading-l">First channel</h2>

        <p class="nhsuk-hint">Choose one option</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-9">
 
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Select
              </th>
              <th role="columnheader" class="" scope="col">
                Name
              </th>
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                Date and <br />time created
              </th>
              <th role="columnheader" class="" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            {{choose_template_row( templateNumber='1', templateTypeName='NHS App', templateType='app', channelNumber='1' )}}

            {{choose_template_row( templateNumber='2', templateTypeName='NHS App', templateType='app', channelNumber='1' )}}

            {{choose_template_row( templateNumber='3', templateTypeName='NHS App', templateType='app', channelNumber='1' )}}

          </tbody>
        </table>

        {% endif %}




        {% if data['channel-amount'] == '2' or data['channel-amount'] == '3' %}

        <h2 class="nhsuk-heading-l">Second channel</h2>

        <p class="nhsuk-hint">Choose one option</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-9">
 
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Select
              </th>
              <th role="columnheader" class="" scope="col">
                Name
              </th>
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                Date and <br />time created
              </th>
              <th role="columnheader" class="" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            {{choose_template_row( templateNumber='4', templateTypeName='Text message (SMS)', templateType='sms', channelNumber='2' )}}

            {{choose_template_row( templateNumber='5', templateTypeName='Text message (SMS)', templateType='sms', channelNumber='2' )}}

            {{choose_template_row( templateNumber='6', templateTypeName='Text message (SMS)', templateType='sms', channelNumber='2' )}}

          </tbody>
        </table>

        {% endif %}




        {% if data['channel-amount'] == '3' %}

        <h2 class="nhsuk-heading-l">Third channel</h2>

        <p class="nhsuk-hint">Choose one option</p>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-9">
 
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Select
              </th>
              <th role="columnheader" class="" scope="col">
                Name
              </th>
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                Date and <br />time created
              </th>
              <th role="columnheader" class="" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            {{choose_template_row( templateNumber='7', templateTypeName='Email', templateType='email', channelNumber='3' )}}

            {{choose_template_row( templateNumber='8', templateTypeName='Email', templateType='email', channelNumber='3' )}}

            {{choose_template_row( templateNumber='9', templateTypeName='Email', templateType='email', channelNumber='3' )}}

          </tbody>
        </table>

        {% endif %}








        <div class="nhsuk-form-group">

          {{ button({
            text: 'Save and continue'
          }) }}

          <a href="create-message" class="nhsuk-u-font-size-19 nhsuk-u-margin-left-3 nhsuk-u-padding-top-3" style="display: inline-block;">Go back</a>

        </div>

      </form>

      {% else%}

      <p>You do not have any templates yet.</p>
      
      <div class="nhsuk-form-group">

        <p><a href="folder-templates">Go to the templates area</a></p>

        <p><a href="create-message">Go back</a></p>

      </div>

      {% endif %}

    </div>
  </div>
{% endblock %}