{% extends 'v11/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-xl">
        Message templates
      </h1>

      <form action="template-type">
        {{ button({
          'text': 'Create template'
        }) }}
      </form>

      {% if data['folder-1-app-templates'] == '1' or data['folder-1-email-templates'] == '1' or data['folder-1-sms-templates'] == '1' or data['folder-1-letter-templates'] == '1'%}

      <table role="table" class="nhsuk-table-responsive">

        <caption class="nhsuk-table__caption">List of templates</caption>

        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
              Type
            </th>
            <th role="columnheader" class="" scope="col">
              Status
            </th>
            <th role="columnheader" class="" scope="col">
              Date and <br />time created
            </th>
            <th role="columnheader" class="" scope="col">
              Action
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">


          {% if data['folder-1-app-templates'] == '1' %}
          
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>
              <a href="template-app-1?message-type=app&show-save-banner=no">
                {{ data['template-app-name-1'] }}
              </a>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              NHS App
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              {% if data['template-app-name-1-approved'] == '1' %}

              {{ tag({
                text: "Submitted",
                classes: "nhsuk-tag--grey"
              })}}

              {% else %}

              {{ tag({
                text: "Not yet submitted"
              })}}

              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />09:34
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="template-duplicate-type?template-copy-name={{ data['template-app-name-1'] }}">Copy</a></p>
              {% if data['template-app-name-1-approved'] != '1' %}
              <p class="nhsuk-u-margin-bottom-2"><a href="template-delete?message-type=app&approve-template-name={{ data['template-app-name-1'] }}">Delete</a></p>
              {% endif %}
            </td>
          </tr>

          {% endif %}


          {% if data['app-duplicate-template'] == 'yes' %}

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>
              <a href="/404">
                Copy: {{ data['template-copy-name'] }}
              </a>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              NHS App
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>

              {{ tag({
                text: "Not yet submitted"
              })}}

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />09:55
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="/404">Copy</a></p>
              {% if data['template-app-name-1-approved'] != '1' %}
              <p class="nhsuk-u-margin-bottom-2"><a href="/404">Delete</a></p>
              {% endif %}
            </td>
          </tr>

          {% endif %}


          {% if data['folder-1-email-templates'] == '1' %}
          
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>
              <a href="template-email-1?message-type=email&show-save-banner=no">
                {{ data['template-email-name-1'] }}
              </a>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              Email
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              {% if data['template-email-name-1-approved'] == '1' %}

              {{ tag({
                text: "Submitted",
                classes: "nhsuk-tag--grey"
              })}}

              {% else %}

              {{ tag({
                text: "Not yet submitted"
              })}}

              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />10:07
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="template-duplicate-type?template-copy-name={{ data['template-email-name-1'] }}">Copy</a></p>
              {% if data['template-email-name-1-approved'] != '1' %}
              <p class="nhsuk-u-margin-bottom-2"><a href="template-delete?message-type=email&approve-template-name={{ data['template-email-name-1'] }}">Delete</a></p>
              {% endif %}
            </td>
          </tr>

          {% endif %}



          {% if data['folder-1-sms-templates'] == '1' %}
          
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>
              <a href="template-sms-1?message-type=sms&show-save-banner=no">
                {{ data['template-sms-name-1'] }}
              </a>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              Text message
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              {% if data['template-sms-name-1-approved'] == '1' %}

              {{ tag({
                text: "Submitted",
                classes: "nhsuk-tag--grey"
              })}}

              {% else %}

              {{ tag({
                text: "Not yet submitted"
              })}}

              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />11:45
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="template-duplicate-type?template-copy-name={{ data['template-sms-name-1'] }}">Copy</a></p>
              {% if data['template-sms-name-1-approved'] != '1' %}
              <p class="nhsuk-u-margin-bottom-2"><a href="template-delete?message-type=sms&approve-template-name={{ data['template-sms-name-1'] }}">Delete</a></p>
              {% endif %}
            </td>
          </tr>

          {% endif %}



          {% if data['folder-1-letter-templates'] == '1' %}
          
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>
              <a href="template-letter-1?message-type=letter&show-save-banner=no">
                {{ data['template-letter-name-1'] }}
              </a>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              Letter
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              {% if data['template-letter-name-1-approved'] == '1' %}

              {{ tag({
                text: "Submitted",
                classes: "nhsuk-tag--grey"
              })}}

              {% else %}

              {{ tag({
                text: "Not yet submitted"
              })}}

              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />11:49
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="template-duplicate-type?template-copy-name={{ data['template-letter-name-1'] }}">Copy</a></p>
              {% if data['template-letter-name-1-approved'] != '1' %}
              <p class="nhsuk-u-margin-bottom-2"><a href="template-delete?message-type=letter&approve-template-name={{ data['template-letter-name-1'] }}">Delete</a></p>
              {% endif %}
            </td>
          </tr>

          {% endif %}

          

        </tbody>
      </table>

      {% else %}
 
      <p>You do not have any templates yet.</p>

      {% endif %}
      
    </div>
  </div>
{% endblock %}
