{% extends 'v1/layout.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
  <a class="nhsuk-back-link__link" href="/{{ protoVersion }}/manage/folder-1/#letter">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Back to {{ data['folder-name-1'] }}
  </a>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        {% if data['mode'] == 'edit' %}
        Edit letter template
        {% else %}
        New letter template
        {% endif %}
      </h1>

      <form action="/{{ protoVersion }}/manage/template-saved-confirmation" onsubmit="return checkFormLetter();">

        {% if data['mode'] == 'edit' %}

        <div class="notify-template-borderbox">

          {{ input({
            "label": {
              "text": "Template name"
            },
            "hint": {
              "text": "This name will not be visible to message recipients"
            },
            "id": "template-letter-name-1",
            "name": "template-letter-name-1",
            "value": data['template-letter-name-1']
          }) }}

          <span class="nhsuk-error-message" id="template-letter-name-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
          </span>

        </div>

        <div class="notify-template-borderbox">

        {{ textarea({
          "label": {
            "text": "Sender address"
          },
          "hint": {
            "text": "This should be the address for your organisation."
          },
          "id": "template-letter-sender-1",
          "name": "template-letter-sender-1",
          "value": data['template-letter-sender-1']
        }) }}

        <span class="nhsuk-error-message" id="template-letter-sender-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a sender address
        </span>

        {{ input({
          "label": {
            "text": "Heading"
          },
          "hint": {
            "text": "This is the main heading which appears at the top of the letter."
          },
          "id": "template-letter-heading-1",
          "name": "template-letter-heading-1",
          "value": data['template-letter-heading-1']
        }) }}

        <span class="nhsuk-error-message" id="template-letter-heading-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a heading
        </span>

        {{ textarea({
          "label": {
            "text": "Body text"
          },
          "name": "template-letter-message-1",
          "id": "template-letter-message-1",
          "value": data['template-letter-message-1']
        }) }}

        <span class="nhsuk-error-message" id="template-letter-message-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a message
        </span>

        </div>

        {%else%}

        <div class="notify-template-borderbox">

          {{ input({
            "label": {
              "text": "Template name"
            },
            "hint": {
              "text": "This name will not be visible to message recipients"
            },
            "id": "template-letter-name-1",
            "name": "template-letter-name-1"
          }) }}

          <span class="nhsuk-error-message" id="template-letter-name-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
          </span>

        </div>

        <div class="notify-template-borderbox">

        {{ textarea({
          "label": {
            "text": "Sender address"
          },
          "hint": {
            "text": "This should be the address for your organisation."
          },
          "id": "template-letter-sender-1",
          "name": "template-letter-sender-1"
        }) }}

        <span class="nhsuk-error-message" id="template-letter-sender-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a sender address
        </span>

        {{ input({
          "label": {
            "text": "Heading"
          },
          "hint": {
            "text": "This is the main heading which appears at the top of the letter."
          },
          "id": "template-letter-heading-1",
          "name": "template-letter-heading-1"
        }) }}

        <span class="nhsuk-error-message" id="template-letter-heading-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a heading
        </span>

        {{ textarea({
          "label": {
            "text": "Body text"
          },
          "name": "template-letter-message-1",
          "id": "template-letter-message-1"
        }) }}

        <span class="nhsuk-error-message" id="template-letter-message-1--error">
          <span class="nhsuk-u-visually-hidden">Error:</span> Enter a message
        </span>

        </div>

        {%endif%}

        <input type="hidden" name="folder-1-letter-templates" value="1">
        <input type="hidden" name="continue-url" value="template-letter-1">
        <input type="hidden" name="message-type" value="letter">

        {{ button({
          "text": "Save"
        }) }}

      </form>

      <h2 class="nhsuk-heading-l nhsuk-u-margin-top-6">How to format message content for letters</h2>

      <h3 class="nhsuk-heading-s">Headings</h3>
      <p>
        Use one hash symbol followed by a space for a heading, for example:
      </p>
      <pre class="formatting-example"><code class="lang-md"># This is a heading</code></pre>



      <h3 class="nhsuk-heading-s" id="bullets">Bullet points</h3>

      <p>Use bullet points to help words or phrases stand out in your emails and letters.</p>

      <p>You can either:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li>add the same bullet points to every message you send</li>
              <li>add personalised bullet points each time you send a message</li>
          </ul>

      <!-- TEMPLATED BULLET POINTS -->
      <p>Copy this example to add bullet points:</p>

      <pre class="formatting-example"><code class="lang-md">Introduce bullet points with a lead-in line ending in a colon:

      * leave one empty line space after the lead-in line
      * use an asterisk or a dash followed by a space to add an item
      * start each item with a lowercase letter, do not end with a full stop
      * leave one empty line space after the last item
      </code></pre>

      <p>To create sub-items, add an indent of 2 spaces before the asterisk or dash.</p>

      <!-- PERSONALISED BULLET POINTS -->



        <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How to add personalised bullet points
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <p>Copy this example to add a <a class="govuk-link govuk-link--no-visited-state" href="/using-notify/Personalising messages">placeholder</a> to your message template:</p>

          <pre class="formatting-example"><code class="lang-md">Introduce bullet points with a lead-in line ending in a colon:

      ((bullet points))

      Leave one empty line space before the next paragraph.
      </code></pre>

          <p>To send the message, <a class="govuk-link govuk-link--no-visited-state" href="/using-notify/bulk-sending">upload a list of recipient details</a>.</p>

          <p>Your spreadsheet should include one column for each bullet point. The column names must match the placeholder in the template.</p>
          <p>Notify will fill in the placeholder with your bullet points.</p>


        </div>
      </details>



      <p>There’s more <a class="govuk-link govuk-link--no-visited-state"
              href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#bullet-points-steps">guidance about bullet
              points on GOV.UK</a>.</p>

      <h3 class="nhsuk-heading-s">Numbered steps</h3>
      <p class="bottom-gutter-1-3">
        Copy this example to add a numbered list:
      </p>
      <pre class="formatting-example"><code class="lang-md">
      1. Leave one empty line space before starting your list.
      2. Enter a number followed by a full stop and a space to add an item.
      3. Start each item with a capital letter and end it with a full stop.
      4. Leave one empty line space after the last item.
      </code></pre>
      <p>To create sub-items, add an indent of 2 spaces before the number.</p>
      <h3 class="nhsuk-heading-s">Page breaks</h3>
      <p>
        To insert a page break, use 3 asterisks. For example:
      </p>
      <pre class="formatting-example"><code class="lang-md">
      Content on page 1
      ***
      Content on page 2
      </code></pre>
                <h2 class="nhsuk-heading-m">
        Personalising messages
      </h2>
      <p>
        To personalise a message, use double brackets to add a placeholder to your content. For example:
      </p>
      <pre class="formatting-example govuk-!-margin-top-0"><code class="lang-md">Hello ((first name)), your reference is ((ref number))
      </code></pre>
                <h2 class="nhsuk-heading-m">
        Optional content
      </h2>
      <p>
        To tailor your messages for different audiences:
      </p>
      <ul class="nhsuk-list nhsuk-list--bullet">
          <li>put the optional content inside double brackets</li>
          <li>give it a unique placeholder name, followed by 2 question marks</li>
        </ul>
      <p class="bottom-gutter-1-3">
        For example if you only want to show something to people who are under
        18:
      </p>
      <pre class="formatting-example"><code class="lang-md">((under18??Please get your application signed by a parent or guardian.))
      </code></pre>
      <div class="govuk-inset-text"> 
          <p>You cannot add a placeholder for Personalising messages within optional content. </p>
      </div>
      <p>
        For each person you send this message to, specify ‘yes’ or ‘no’ to
        show or hide this content.
      </p>
                <h2 class="nhsuk-heading-m">Add a QR code to a letter template</h2>
      <p class="bottom-gutter-1-3">
        Copy this example to add the same QR code to every letter you send:
      </p>
      <pre class="formatting-example"><code class="lang-md">QR: https://www.gov.uk/example
      </code></pre>
      <p class="bottom-gutter-1-3">
        Copy this example if the whole link changes each time you send a letter:
      </p>
      <pre class="formatting-example"><code class="lang-md">QR: ((link))
      </code></pre>
      <p class="bottom-gutter-1-3">
        Copy this example if only part of the link changes each time you send a letter:
      </p>
        <pre class="formatting-example"><code class="lang-md">QR: https://www.example.com?reference=((link reference))
      </code></pre>

    </div>
  </div>
{% endblock %}
