{% extends 'v1/layout.html' %}



{% block beforeContent %}
{% endblock %}

{% block outerContent %}

<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
  <a class="nhsuk-back-link__link" href="/{{ protoVersion }}/manage/folder-1/#sms">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Back to {{ data['folder-name-1'] }}
  </a>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        {% if data['mode'] == 'edit' %}
        Edit text message template
        {% else %}
        New text message template
        {% endif %}
      </h1>

      <form action="/{{ protoVersion }}/manage/template-saved-confirmation" onsubmit="return checkFormSMS();">

          {% if data['mode'] == 'edit' %}

          {{ input({
            "label": {
              "text": "Template name"
            },
            "hint": {
              "text": "This name will not be visible to message recipients"
            },
            "id": "template-sms-name-1",
            "name": "template-sms-name-1",
            "value": data['template-sms-name-1']
          }) }}

          <span class="nhsuk-error-message" id="template-sms-name-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
          </span>

          {{ textarea({
            "name": "template-sms-message-1",
            "id": "template-sms-message-1",
            "label": {
              "text": "Message"
            },
            "attributes": {
              "onkeyup": "countChars(this);"
            },
            "value": data['template-sms-message-1']
          }) }}

          <span class="nhsuk-error-message" id="template-sms-message-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a message
          </span>

          {% else %}
 
          {{ input({
            "label": {
              "text": "Template name"
            },
            "hint": {
              "text": "This name will not be visible to message recipients"
            },
            "id": "template-sms-name-1",
            "name": "template-sms-name-1"
          }) }}

          <span class="nhsuk-error-message" id="template-sms-name-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
          </span>

          {{ textarea({
            "name": "template-sms-message-1",
            "id": "template-sms-message-1",
            "label": {
              "text": "Message"
            },
            "attributes": {
              "onkeyup": "countChars(this);"
            }
          }) }}

          <span class="nhsuk-error-message" id="template-sms-message-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a message
          </span>

          {% endif %}

        <p id="charNum" class="nhsuk-u-margin-bottom-0">0 characters</p>
        <p>A single text message is a maximum of 160 characters including <a href="">personalisation</a>.</p>

        <script>
          function countChars(obj){
            document.getElementById("charNum").innerHTML = obj.value.length+' characters';
          }
        </script>

        <input type="hidden" name="folder-1-sms-templates" value="1">
        <input type="hidden" name="continue-url" value="template-sms-1">
        <input type="hidden" name="message-type" value="sms">

        {{ button({
          "text": "Save"
        }) }}

      </form>

      <h2 class="nhsuk-heading-l nhsuk-u-margin-top-6">How to format message content for text messages</h2>

      <h2 class="nhsuk-heading-m">
        Personalising messages
      </h2>
      <p class="">
        To personalise a message, use double brackets to add a placeholder to your content. For example:
      </p>
      <pre class="formatting-example govuk-!-margin-top-0">
        <code class="lang-md">
          Hello ((first name)), your reference is ((ref number))
        </code>
      </pre>
                <h2 class="nhsuk-heading-m">
        Optional content
      </h2>
      <p class="">
        To tailor your messages for different audiences:
      </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>put the optional content inside double brackets</li>
          <li>give it a unique placeholder name, followed by 2 question marks</li>
        </ul>
      <p class="bottom-gutter-1-3">
        For example if you only want to show something to people who are under
        18:
      </p>
      <pre class="formatting-example">
        <code class="lang-md">
          ((under18??Please get your application signed by a parent or guardian.))
        </code>
      </pre>
      <div class="govuk-inset-text"> 
          <p class="">You cannot add a placeholder for Personalising messages within optional content. </p>
       </div>
      <p class="">
        For each person you send this message to, specify ‘yes’ or ‘no’ to
        show or hide this content.
      </p>
                <h2 class="nhsuk-heading-m">Links and URLs</h2>
      <p class="bottom-gutter-1-3">
        Write URLs in full, starting with https://
      </p>
      <pre class="formatting-example">
        <code class="lang-md">
          Apply now at https://www.gov.uk/example
        </code>
      </pre>
                <h2 class="nhsuk-heading-m">Message length</h2>
      <p class="">
        If your message is long then it will
        cost more.
      </p>
      <p class="">
        See <a class="govuk-link govuk-link--no-visited-state" href="">pricing</a> for details.
      </p>

    </div>
  </div>
{% endblock %}
