{% extends 'v14/layout.html' %}

{% block header %}

{{ header({
  service: {
    text: "Notify",
    href: "folders"
  },
  account: {
    items: [
      {
        text: "Florence Nightingale",
        icon: "true"
      },
      {
        text: "My service name"
      },
      {
        text: 'Sign out',
        href: 'login?auth='
      }
    ]
  }
  })
}}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Create a project
      </h1>

      <form action="folders" method="post" autocomplete="off" onsubmit="return checkFormFolder();">
{#
        {{ input({
          label: {
            text: "Project name",
            classes: "nhsuk-label--s"
          },
            hint: {
            text: "Your recipients will not see this and you can change it later."
          },
          name: "folder-name-1",
          value: data['folder-name-1']
        }) }}
#}

        <div class="nhsuk-form-group">

          <label class="nhsuk-label nhsuk-label--s">
            Project name
          </label>

          <div class="nhsuk-hint">
            Your recipients will not see this and you can change it later.
          </div>
          
          <input class="nhsuk-input" id="folder-name-1" name="folder-name-1" type="text">

          <span class="nhsuk-error-message nhsuk-u-margin-top-2" id="folder-name-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a project name
          </span>

        </div>

        

        <div class="nhsuk-form-group">

          <input type="hidden" name="folders" value="1">

          {{ button({
            'text': 'Save and continue'
          }) }}

          <a href="folders?folder-name-1={{ data['folder-name-1'] }}&folders=1" class="nhsuk-u-font-size-19 nhsuk-u-margin-left-3 nhsuk-u-padding-top-3" style="display: inline-block;">Go back</a>

        </div>

      </form>
      
    </div>
  </div>
{% endblock %}
