{% extends 'v14/layout.html' %}

{% block beforeContent %}

{% if data['mode'] != 'edit' %}

{{ backLink({
  "href": "template-type",
  "text": "Back to choose a template type"
}) }}

{% endif %}

{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Show the correct heading based on whether the page mode is set to 'create' or 'edit'-->
      <h1 class="nhsuk-heading-xl">
        {% if data['mode'] == 'edit' %}
        Edit large print letter template
        {% else %}
        Create large print letter template
        {% endif %}
      </h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div id="column-left" class="nhsuk-grid-column-two-thirds">

      <form action="template-letter-large-print" onsubmit="return checkFormLetter();" method="post" autocomplete="off">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-8">
          
          <label class="nhsuk-label nhsuk-label--s" for="template-letter-name-1">
            Template name
          </label>
          <div class="nhsuk-hint">
            This will not be visible to recipients.
          </div>

          {% include "../includes/details-template-name.html" %}

          {% if data['mode'] == 'edit' %}
  
          <input class="nhsuk-input nhsuk-u-margin-bottom-2" id="template-letter-name-1" name="template-letter-large-print-name-1" type="text" value="{{ data['template-letter-large-print-name-1'] }}">

          {% else %}

          <input class="nhsuk-input nhsuk-u-margin-bottom-2" id="template-letter-name-1" name="template-letter-large-print-name-1" type="text">

          {% endif %}

          <span class="nhsuk-error-message nhsuk-u-margin-bottom-2" id="template-letter-name-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
          </span>  

        </div>

        <div class="nhsuk-form-group">

          {% if data['mode'] == 'edit' %}

          <label class="nhsuk-label" for="template-letter-message-1">
            Letter content
          </label>
          <textarea class="nhsuk-textarea nhsuk-u-margin-bottom-2" id="template-letter-message-1" name="template-letter-large-print-message-1" rows="30">{{data['template-letter-large-print-message-1']}}</textarea>

          {% else %}

          <label class="nhsuk-label" for="template-letter-message-1">
            Letter content
          </label>
          <textarea class="nhsuk-textarea nhsuk-u-margin-bottom-2" id="template-letter-message-1" name="template-letter-large-print-message-1" rows="30"></textarea>

          {% endif %}

          <span class="nhsuk-error-message nhsuk-u-margin-bottom-2" id="template-letter-message-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter letter content
          </span>  

        </div>

        <!-- Set the variables that are used on subsequent pages -->
        <!--<input type="hidden" name="message-type" value="sms">
        <input type="hidden" name="continue-url" value="template-sms-1?show-save-banner=no">-->
        <input type="hidden" name="folder-1-letter-large-print-templates" value="1">

        <!-- Only increment the amount of templates if the template is new --> 
        {% if data['folder-1-letter-large-print-templates'] != '1' %}
        <input type="hidden" name="template-amount" value="{{ data['template-amount']|float + 1 }}">
        {% endif %}

        <input type="hidden" name="show-save-banner" value="yes">
        <input type="hidden" name="radio-template-type" value="">
        <input type="hidden" name="radio-template-type-letter" value="">
        <input type="hidden" name="template-letter-large-print-editDate-1" value="{{ currentDate | formatDate('d MMM yyyy') }}">
        <input type="hidden" name="template-letter-large-print-editTime-1" value="{{ currentDate | formatDate('HH:mm') }}">

        {{ button({
          "text": "Save and preview"
        }) }}
      
      </form>

    </div>

    <div class="nhsuk-grid-column-one-third">

      {% include "../includes/details-personalisation-2.html" %}

      <h2 class="nhsuk-heading-m">Message formatting</h2>

      {% include "../includes/details-linebreaks.html" %}
      
      {% include "../includes/details-headings.html" %}

      {% include "../includes/details-bold.html" %}

      {% include "../includes/details-bullets.html" %}

      {% include "../includes/details-numbered-lists.html" %}

      {% include "../includes/details-page-breaks.html" %}

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-4">More about letters</h2>

      <p><a href='https://notify.nhs.uk/pricing/letters' target='_blank'>Letter pricing (opens in a new tab)</a></p>

      <p><a href='https://notify.nhs.uk/using-nhs-notify/accessible-formats' target='_blank'>Accessible formats (opens in a new tab)</a></p>

      <p><a href='https://notify.nhs.uk/using-nhs-notify/delivery-times#letters' target='_blank'>Letter delivery times (opens in a new tab)</a></p>

    </div>

  </div>
{% endblock %}