{% extends 'v14/layout.html' %}

{% block beforeContent %}

{% if data['mode'] != 'edit' %}

{{ backLink({
  "href": "template-type",
  text: "Back to choose a template type"
}) }}

{% endif %}

{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Show the correct heading based on whether the page mode is set to 'create' or 'edit'-->
      <h1 class="nhsuk-heading-xl">
        {% if data['mode'] == 'edit' %}
        Edit other language letter template
        {% else %}
        Create other language letter template
        {% endif %}
      </h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div id="column-left" class="nhsuk-grid-column-two-thirds">

      <form action="template-letter-language" onsubmit="return checkFormLetter();" method="post" autocomplete="off">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-8">
          
          <label class="nhsuk-label nhsuk-label--s" for="template-letter-name-1">
            Template name
          </label>
          <div class="nhsuk-hint">
            This will not be visible to recipients.
          </div>

          {% include "../includes/details-template-name.html" %}

          {% if data['mode'] == 'edit' %}
  
          <input class="nhsuk-input nhsuk-u-margin-bottom-2" id="template-letter-name-1" name="template-letter-language-name-1" type="text" value="{{ data['template-letter-language-name-1'] }}">

          {% else %}

          <input class="nhsuk-input nhsuk-u-margin-bottom-2" id="template-letter-name-1" name="template-letter-language-name-1" type="text">

          {% endif %}

          <span class="nhsuk-error-message nhsuk-u-margin-bottom-2" id="template-letter-name-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a template name
          </span>  

        </div>

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-8">
          
          <label class="nhsuk-label nhsuk-label--s" for="template-letter-language">
            Letter language
          </label>
        
          <select class="nhsuk-select" id="template-letter-language" name="template-letter-language">
            <option value="">Please select</option>
            <option value="Albanian (al)" {% if data['template-letter-language'] == 'Albanian (al)' %}selected{% endif %}>Albanian (al)</option>
            <option value="Arabic (ar)" {% if data['template-letter-language'] == 'Arabic (ar)' %}selected{% endif %}>Arabic (ar)</option>
            <option value="Bengali (bn)"  {% if data['template-letter-language'] == 'Bengali (bn)' %}selected{% endif %}>Bengali (bn)</option>
            <option value="Bulgarian (bg)" {% if data['template-letter-language'] == 'Bulgarian (bg)' %}selected{% endif %}>Bulgarian (bg)</option>
            <option value="Chinese (zh)" {% if data['template-letter-language'] == 'Chinese (zh)' %}selected{% endif %}>Chinese (zh)</option>
            <option value="French (fr)" {% if data['template-letter-language'] == 'French (fr)' %}selected{% endif %}>French (fr)</option>
            <option value="German (de)" {% if data['template-letter-language'] == 'German (de)' %}selected{% endif %}>German (de)</option>
            <option value="Greek (el)" {% if data['template-letter-language'] == 'Greek (el)' %}selected{% endif %}>Greek (el)</option>
            <option value="Gujarati (gu)" {% if data['template-letter-language'] == 'Gujarati (gu)' %}selected{% endif %}>Gujarati (gu)</option>
            <option value="Hindi (hi)" {% if data['template-letter-language'] == 'Hindi (hi)' %}selected{% endif %}>Hindi (hi)</option>
            <option value="Italian (it)" {% if data['template-letter-language'] == 'Italian (it)' %}selected{% endif %}>Italian (it)</option>
            <option value="Latvian (lv)" {% if data['template-letter-language'] == 'Latvian (lv)' %}selected{% endif %}>Latvian (lv)</option>
            <option value="Lithuanian (lt)" {% if data['template-letter-language'] == 'Lithuanian (lt)' %}selected{% endif %}>Lithuanian (lt)</option>
            <option value="Nepali (ne)" {% if data['template-letter-language'] == 'Nepali (ne)' %}selected{% endif %}>Nepali (ne)</option>
            <option value="Punjabi (Indian) (pa)" {% if data['template-letter-language'] == 'Punjabi (Indian) (pa)' %}selected{% endif %}>Punjabi (Indian) (pa)</option>
            <option value="Persian (fa)" {% if data['template-letter-language'] == 'Persian (fa)' %}selected{% endif %}>Persian (fa)</option>
            <option value="Polish (pl)" {% if data['template-letter-language'] == 'Polish (pl)' %}selected{% endif %}>Polish (pl)</option>
            <option value="Portuguese (pt)" {% if data['template-letter-language'] == 'Portuguese (pt)' %}selected{% endif %}>Portuguese (pt)</option>
            <option value="Romanian (ro)" {% if data['template-letter-language'] == 'Romanian (ro)' %}selected{% endif %}>Romanian (ro)</option>
            <option value="Russian (ru)" {% if data['template-letter-language'] == 'Russian (ru)' %}selected{% endif %}>Russian (ru)</option>
            <option value="Somali (so)" {% if data['template-letter-language'] == 'Somali (so)' %}selected{% endif %}>Somali (so)</option>
            <option value="Spanish (es)" {% if data['template-letter-language'] == 'Spanish (es)' %}selected{% endif %}>Spanish (es)</option>
            <option value="Tamil (ta)" {% if data['template-letter-language'] == 'Tamil (ta)' %}selected{% endif %}>Tamil (ta)</option>
            <option value="Turkish (tr)" {% if data['template-letter-language'] == 'Turkish (tr)' %}selected{% endif %}>Turkish (tr)</option>
            <option value="Urdu (ur)" {% if data['template-letter-language'] == 'Urdu (ur)' %}selected{% endif %}>Urdu (ur)</option>
            <option value="Tagalog (tl)" {% if data['template-letter-language'] == 'Tagalog (tl)' %}selected{% endif %}>Tagalog (tl)</option>
            <option value="Ukrainian (uk)" {% if data['template-letter-language'] == 'Ukrainian (uk)' %}selected{% endif %}>Ukrainian (uk)</option>
            <option value="Vietnamese (vi)" {% if data['template-letter-language'] == 'Vietnamese (vi)' %}selected{% endif %}>Vietnamese (vi)</option>
          </select>

        </div>
          
        {#
        {{ select({
          id: "template-letter-language",
          name: "template-letter-language",
          classes: "nhsuk-u-margin-bottom-8",
          label: {
            text: "Letter language"
          },
          items: [
            {
              text: "Please select"
            },  
            {
              value: 1,
              text: "Albanian (al)"
            },
            {
              value: 2,
              text: "Arabic (ar)"
            },
            {
              value: 3,
              text: "Bengali (bn)"
            },
            {
              value: 3,
              text: "Bulgarian (bg)"
            },
            {
              value: 3,
              text: "Chinese (zh)"
            },
            {
              value: 3,
              text: "French (fr)"
            },
            {
              value: 3,
              text: "German (de)"
            },
            {
              value: 3,
              text: "Modern Greek (el)"
            },
            {
              value: 3,
              text: "Gujarati (gu)"
            },
            {
              value: 3,
              text: "Hindi (hi)"
            },
            {
              value: 3,
              text: "Italian (it)"
            },
            {
              value: 3,
              text: "Latvian (lv)"
            },
            {
              value: 3,
              text: "Lithuanian (lt)"
            },
            {
              value: 3,
              text: "Nepali (ne)"
            },
            {
              value: 3,
              text: "Punjabi (Indian) (pa)"
            },
            {
              value: 3,
              text: "Persian (fa)"
            },
            {
              value: 3,
              text: "Polish (pl)"
            },
            {
              value: 3,
              text: "Portuguese (pt)"
            },
            {
              value: 3,
              text: "Romanian (ro)"
            },
            {
              value: 3,
              text: "Russian (ru)"
            },
            {
              value: 3,
              text: "Somali (so)"
            },
            {
              value: 3,
              text: "Spanish (es)"
            },
            {
              value: 3,
              text: "Tamil (ta)"
            },
            {
              value: 3,
              text: "Turkish (tr)"
            },
            {
              value: 3,
              text: "Urdu (ur)"
            },
            {
              value: 3,
              text: "Tagalog (tl)"
            },
            {
              value: 3,
              text: "Ukrainian (uk)"
            },
            {
              value: 3,
              text: "Vietnamese (vi)"
            }
          ]
        }) }}
        #}

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-8">

          <label class="nhsuk-label nhsuk-label--s" for="template-letter-message-1">
            Letter content
          </label>

          {% if data['mode'] == 'edit' %}

          <textarea class="nhsuk-textarea nhsuk-u-margin-bottom-2" id="template-letter-message-1" name="template-letter-language-message-1" rows="30">{{data['template-letter-language-message-1']}}</textarea>

          {% else %}

          <textarea class="nhsuk-textarea nhsuk-u-margin-bottom-2" id="template-letter-message-1" name="template-letter-language-message-1" rows="30"></textarea>

          {% endif %}

          <span class="nhsuk-error-message nhsuk-u-margin-bottom-2" id="template-letter-message-1--error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter letter content
          </span>  

        </div>

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-8">
          
          <label class="nhsuk-label nhsuk-label--s" for="template-letter-language-standard">
            Standard English letter (optional)
          </label>
          <p class="nhsuk-hint nhsuk-u-margin-bottom-4">
            Choose a standard English letter template to go inside the same envelope as this language letter.
          </p>

          
          {% if data['template-letter-language-standard'] %}

          <p>
            {{data['template-letter-language-standard']}}<br />
            <a href="create-template-choose-standard-letter">Change template</a>
          </p>

          <p>
            <a href="?template-letter-language-standard=" style="color: #d5281b;">Remove template</a>
          </p>

          {% else %}

          <p><a href="create-template-choose-standard-letter">Choose template</a></p>

          {% endif %}
          
        
          {#
          <select class="nhsuk-select" id="template-letter-language-standard"name="template-letter-language-standard">
            <option value="">No template</option>
            {% if data['folder-1-letter-templates'] == '1' %}
            <option 
              value="{{ data['template-letter-name-1'] }}" 
              {% if data['template-letter-language-standard'] %}selected{% endif %}
            >{{ data['template-letter-name-1'] }}</option>
            {% endif %}
          </select>
          #}
          

        </div>

        <!-- Set the variables that are used on subsequent pages -->
        <!--<input type="hidden" name="message-type" value="sms">
        <input type="hidden" name="continue-url" value="template-sms-1?show-save-banner=no">-->
        <input type="hidden" name="folder-1-letter-language-templates" value="1">

        <!-- Only increment the amount of templates if the template is new --> 
        {% if data['folder-1-letter-language-templates'] != '1' %}
        <input type="hidden" name="template-amount" value="{{ data['template-amount']|float + 1 }}">
        {% endif %}

        <input type="hidden" name="show-save-banner" value="yes">
        <input type="hidden" name="radio-template-type" value="">
        <input type="hidden" name="radio-template-type-letter" value="">
        <input type="hidden" name="template-letter-language-editDate-1" value="{{ currentDate | formatDate('d MMM yyyy') }}">
        <input type="hidden" name="template-letter-language-editTime-1" value="{{ currentDate | formatDate('HH:mm') }}">

        {{ button({
          text: "Save and preview"
        }) }}
      
      </form>

    </div>

    <div class="nhsuk-grid-column-one-third">

      {% include "../includes/details-personalisation-2.html" %}

      <h2 class="nhsuk-heading-m">Message formatting</h2>

      {% include "../includes/details-linebreaks.html" %}
      
      {% include "../includes/details-headings.html" %}

      {% include "../includes/details-bold.html" %}

      {% include "../includes/details-bullets.html" %}

      {% include "../includes/details-numbered-lists.html" %}

      {% include "../includes/details-page-breaks.html" %}

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-4">More about letters</h2>

      <p><a href='https://notify.nhs.uk/pricing/letters' target='_blank'>Letter pricing (opens in a new tab)</a></p>

      <p><a href='https://notify.nhs.uk/using-nhs-notify/letters-in-other-languages' target='_blank'>Letters in other languages (opens in a new tab)</a></p>

      <p><a href='https://notify.nhs.uk/using-nhs-notify/delivery-times#letters' target='_blank'>Delivery times (opens in a new tab)</a></p>

    </div>

  </div>
{% endblock %}