{% extends 'v14/layout.html' %}



{% block beforeContent %}

{{ backLink({
  "href": "folder-templates",
  "text": "Back to all templates"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% if data['show-save-banner'] == 'yes' %}
      <div class="notify-confirmation-panel">
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-0">Template saved</h1>
      </div>
      {% endif %}

      <div class="nhsuk-u-reading-width">

        {% if data['template-locked'] == '1' %}

        {% include "../includes/template-locked-message.html" %}

        {% endif %}

        <span class="nhsuk-caption-l">Template</span>
        <h1 class="nhsuk-heading-xl">
          {{ data['template-letter-name-1'] }}
        </h1>

      </div>

      <table role="table" class="notify-template-content nhsuk-u-margin-bottom-4">
        <tbody class="nhsuk-table__body">
          
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell" style="width:20%;">
              Template ID
            </th>
            <td role="cell" class="nhsuk-table__cell" style="font-family: monospace;">
              a4b171b5-431f-4a5b-9d7a-9a4903c98e66
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell" style="width: 20%;">
              Type
            </th>
            <td role="cell" class="nhsuk-table__cell">
              Standard English letter
            </td>
          </tr>


          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell" style="width: 20%;">
              Size
            </th>
            <td role="cell" class="nhsuk-table__cell">

              2 pages, 1 sheet

            </td>
          </tr>

          

          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell" style="width: 20%;">
              Delivery
            </th>
            <td role="cell" class="nhsuk-table__cell">

              <p>Standard</p>

              <a href="https://notify.nhs.uk/using-nhs-notify/delivery-times#letters" target="_blank">Delivery times (opens in a new tab)</a><br />

              <a href="https://notify.nhs.uk/pricing/letters" target="_blank">Letter pricing (opens in a new tab)</a>

            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell" style="width: 20%;">
              Status
            </th>
            <td role="cell" class="nhsuk-table__cell">
              
              {% if data['template-locked'] == '1' %}

              {{ tag({
                text: "Locked",
                classes: "nhsuk-tag--orange"
              })}}
              {% else %}

              {{ tag({
                text: "Draft",
                classes: "nhsuk-tag--blue"
              })}}

              {% endif %}

            </td>
          </tr>

        </tbody>
      </table>

      <div class="nhsnotify-letter-preview nhsuk-u-padding-top-3">

        {% if data['template-letter-personalisation-field-short-1'] and data['template-locked'] != '1'  %}

        {{ select({
          id: "select-change-date",
          name: "select-change-date",
          label: {
            text: "Switch example personalisation"
          },
          items: [
            {
              value: "short",
              text: "Short example"
            },
            {
              value: "medium",
              text: "Medium example"
            },
            {
              value: "long",
              text: "Long example",
              selected: true
            }
          ]
        }) }}

        <p><a href="template-letter-personalisation-setup">Change example personalisation</a></p>

        {% else %}

        <p><a href="template-letter-personalisation-setup">Preview with example personalisation</a></p>

        {% endif %}

        {% if data['template-letter-personalisation-field-short-1']%}

        <div id="short">
          
          <img src="/images/letter-standard-page-1-short-data.jpg" alt="">

          <img src="/images/letter-standard-page-2-short-data.jpg" alt="">

        </div>

        <div id="medium">
          
          <img src="/images/letter-standard-page-1-medium-data.jpg" alt="">

          <img src="/images/letter-standard-page-2-medium-data.jpg" alt="">

        </div>

        <div id="long">

          <img src="/images/letter-standard-page-1-long-data.jpg" alt="">

          <img src="/images/letter-standard-page-2-long-data.jpg" alt="">

        </div>

        {% else %}

        <img src="/images/letter-standard-page-1.jpg" alt="">

        <img src="/images/letter-standard-page-2.jpg" alt="">

        {% endif %}

      </div>

      <script>
          
        const select = document.getElementById("select-change-date");
        const short = document.getElementById("short");
        const medium = document.getElementById("medium");
        const long = document.getElementById("long");

        // Show "long" section by default
        short.hidden = true;
        medium.hidden = true;
        long.hidden = false;

        select.addEventListener("change", function(e){

          short.hidden = false;
          medium.hidden = false;
          long.hidden = false;

          // Then hide the ones not selected
          if (select.value == "short") {
            medium.hidden = true;
            long.hidden = true;
          } else if (select.value == "medium") {
            short.hidden = true;
            long.hidden = true;
          } else if (select.value == "long") {
            short.hidden = true;
            medium.hidden = true;
          }

        });
          
      </script>


      {% if data['template-locked'] != '1' %}

      {#<form action="create-letter-template?mode=edit" method="post">        
   
        {{ button({
          text: "Edit template",
          classes: "nhsuk-button--secondary"
        }) }}
  
      </form>

      <form action="route-template-letter-standard" method="post">

        {{ radios({
          "name": "template-letter-next",
          "fieldset": {
            "legend": {
              "text": "What would you like to do next?",
              "classes": "nhsuk-fieldset__legend--m"
            }
          },
          "items": [
          {
            "value": "edit",
            "text": "Edit template"
          },
          {
            "value": "preview",
            "text": "Add example personalisation data"
          }
          ]
        }) }}
  
        {{ button({
          "text": "Continue"
        }) }}
  
      </form>#}
      
      <a href="create-letter-template?mode=edit" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-3">Edit template</a>

      <a href="/404" class="nhsuk-button nhsuk-button--secondary">Download template (PDF)</a>

      {#<a href="template-letter-personalisation-setup" class="nhsuk-button nhsuk-button--secondary">
        {% if data['template-letter-personalisation-field-short-1'] %}
        Change example personalisation
        {% else %}
        Add example personalisation
        {% endif %}
      </a>#}

      {% endif %}

      <p><a href="folder-templates">Back to all templates</a></p>

    </div>
  </div>
{% endblock %}