{% extends 'v4/layout.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
<script>
window.onload = function () {
  var text = document.getElementById('sourceTA').value,
      target = document.getElementById('targetDiv'),
      converter = new showdown.Converter(),
      html = converter.makeHtml(text);
    
    target.innerHTML = html;
}
</script>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full-width">

      {{ tag({
        text: "Saved draft",
        classes: "nhsuk-u-margin-bottom-2"
      })}}

      <h1 class="nhsuk-heading-xl">
        <span class="nhsuk-caption-l">Letter template</span>
        {{ data['template-letter-name-1'] }}
      </h1>

      {{ details({
        "text": "Who your letter will be sent from",
        "HTML": "
        <p>The return address is set by NHS Notify's suppliers and is printed on each letter's envelope.</p>
        <p>If you want recipients to reply to you by letter, add your address in the content of your letter. Letter templates do not have a section for a reply address.</p>
        "
      }) }}

      <!--<object class="nhsuk-u-margin-bottom-2" data="/files/example-letter-vacs.pdf" style="width: 100%; min-height: 600px;"></object>-->

      <div id="adobe-dc-view" style="height: 800px; width: 100%;"></div>
      <script src="https://documentservices.adobe.com/view-sdk/viewer.js"></script>
      <script type="text/javascript">
        const previewConfig = {
          embedMode: "SIZED_CONTAINER",
          showDownloadPDF: true,
          showZoomControl: false
        }

        document.addEventListener("adobe_dc_view_sdk.ready", function(){ 
          var adobeDCView = new AdobeDC.View({clientId: "f419e8ee3f914a539f3dca22cecbca79", divId: "adobe-dc-view"});
          adobeDCView.previewFile({
            content:{location: {url: "/files/example-letter-vacs.pdf"}},
            metaData:{fileName: "example-letter-vacs.pdf"}
          }, previewConfig);
        });
      </script>

      <!--<p><a href="">Download preview PDF</a></p>-->

      {% if data['template-letter-name-1-approved'] != '1' %}

      <form action="route-template-next" method="post">

        {{ radios({
          "name": "template-next",
          "fieldset": {
            "legend": {
              "text": "What would you like to do next with this template?",
              "classes": "nhsuk-fieldset__legend--m nhsuk-u-padding-top-6"
            }
          },
          "items": [
            {
              "value": "edit-letter",
              "text": "Edit"
            },
            {
              "value": "test-letter",
              "text": "Preview with test personalisation data"
            },
            {
              "value": "submit-letter",
              "text": "Submit"
            }
          ]
        }) }}
  
        <input type="hidden" name="approve-template-name" value="{{ data['template-letter-name-1'] }}">
        <input type="hidden" name="message-type" value="letter">
  
        {{ button({
          "text": "Continue"
        }) }}
  
      </form>

      {% else %}

      <p>This template cannot be edited because it has been submitted.</p>
      <p>If you want to change a submitted or live template, you must create a new template to replace it.</p>

      {% endif %}

      <p><a href="template-type">Create another template</a></p>

      <p><a href="templates">Go to saved templates</a></p>

    </div>
  </div>
{% endblock %}