{{ details({
    "text": "Links and URLs",
    "HTML": "
    <p>If the recipient is not expecting to receive a message from you, write the URL in full, starting with https://</p>
    <p>For example:</p>
    <code class='nhsuk-code-block'>
      https://www.nhs.uk/example
    </code>
    <p class='nhsuk-u-margin-top-4'>To convert text into a link, use square brackets around the link text and round brackets around the full URL. Make sure there are no spaces between the brackets or the link will not work.</p>
    <p>Copy this example to add a link.</p>
    <code class='nhsuk-code-block'>
      [Read more](https://www.nhs.uk/)
    </code>
    "
}) }}