{% extends 'layout.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/using-nhs-notify",
      text: "Using NHS Notify"
    },
    {
      href: "/using-nhs-notify/writing",
      text: "Writing a message"
    }
  ]
}) }}

{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="app-pane">

        <div class="app-pane__side-bar">

          <nav class="app-side-nav">

            {#
            {{sideNavBackLink(title='Back link', link='/')}}

            <h2 class="app-side-nav__heading">
              Section heading <span class="nhsuk-u-visually-hidden">navigation</span>
            </h2>
            #}

            <ul class="nhsuk-list app-side-nav__list">

              {{sideNavItem(title='How to access NHS Notify', link='/using-nhs-notify/access', active='0')}}
            
              <li class="app-side-nav__item nhsuk-u-padding-left-2" style="border-left:2px solid #005eb8">

                <a class="app-side-nav__link" href="/using-nhs-notify/writing">Writing a message</a>

                <ul class="nhsuk-list app-side-nav__list nhsuk-u-margin-top-1 nhsuk-u-margin-left-3 nhsuk-u-margin-bottom-3">

                  {{sideNavSubItem(title='Email branding', link='/using-nhs-notify/email-branding', active='1')}}

                  {{sideNavSubItem(title='Letter branding', link='/using-nhs-notify/letter-branding', active='0')}}

                  {{sideNavSubItem(title='Formatting emails and letters', link='/using-nhs-notify/formatting', active='0')}}

                  {{sideNavSubItem(title='Links and URLs', link='/using-nhs-notify/links', active='0')}}

                  {{sideNavSubItem(title='Personalising messages', link='/using-nhs-notify/personalisation', active='0')}}

                  {{sideNavSubItem(title='Sender IDs', link='/using-nhs-notify/sender-ids', active='0')}}

                </ul>

              </li>

              {{sideNavItem(title='How we use the Personal Demographics Service (PDS)', link='/using-nhs-notify/pds', active='0')}}

              {{sideNavItem(title='Multi-channel routing', link='/using-nhs-notify/routing', active='0')}}

              {{sideNavItem(title='Delivery times', link='/using-nhs-notify/delivery', active='0')}}

              {{sideNavItem(title='Sending letters in accessible formats', link='/using-nhs-notify/accessible', active='0')}}

              {{sideNavItem(title='Sending letters in other languages', link='/using-nhs-notify/languages', active='0')}}

            </ul>
            
          </nav>
          
        </div>

        <div class="app-pane__main-content">

          <h1 class="nhsuk-heading-xl">Email branding</h1>

        </div>

      </div>

    </div>
  </div>
{% endblock %}
