{% extends 'layout.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

  {{ breadcrumb({
    items: [
      {
        href: "/manage",
        text: "Template library"
      },
      {
        href: "/manage/folder-1#email",
        text: data['folder-name-1'] or defaults['folder-name-1']
      }
    ],
    classes: "nhsuk-u-padding-bottom-0"
  }) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        {% if data['mode'] == 'edit' %}
        Edit email template
        {% else %}
        New email template
        {% endif %}
      </h1>

      <form action="/manage/folder-1/template-email-1">

        {% if data['mode'] == 'edit' %}
        
        <div class="notify-template-borderbox">

          {{ input({
            "label": {
              "text": "Template name"
            },
            "hint": {
              "text": "This name will not be visible to message recipients"
            },
            "id": "template-email-name-1",
            "name": "template-email-name-1",
            "value": data['template-email-name-1'] or defaults['template-email-name-1']
          }) }}

        </div>

        <div class="notify-template-borderbox">

        {{ input({
          "label": {
            "text": "Subject"
          },
          "id": "template-email-subject-1",
          "name": "template-email-subject-1",
          "value": data['template-email-subject-1'] or defaults['template-email-subject-1']
        }) }}

        {{ textarea({
          "name": "template-email-message-1",
          "id": "template-email-message-1",
          "label": {
            "text": "Message"
          },
          "value": data['template-email-message-1'] or defaults['template-email-message-1']
        }) }}

        </div>

        {% else %}

        <div class="notify-template-borderbox">

          {{ input({
            "label": {
              "text": "Template name"
            },
            "hint": {
              "text": "This name will not be visible to message recipients"
            },
            "id": "template-email-name-1",
            "name": "template-email-name-1"
          }) }}

        </div>

        <div class="notify-template-borderbox">

        {{ input({
          "label": {
            "text": "Subject"
          },
          "id": "template-email-subject-1",
          "name": "template-email-subject-1"
        }) }}

        {{ textarea({
          "name": "template-email-message-1",
          "id": "template-email-message-1",
          "label": {
            "text": "Message"
          }
        }) }}

        </div>

        {% endif %}

        <input type="hidden" name="folder-1-email-templates" value="1">

        {{ button({
          "text": "Save"
        }) }}

      </form>

      <h2 class="nhsuk-heading-l nhsuk-u-margin-top-6">How to format message content for emails</h2>

      <h2 class="nhsuk-heading-m">Unsubscribe links</h2>
      <p class="bottom-gutter-1-3">
        Subscription emails must include an unsubscribe link in the body of the message.
      </p>
      <p class="bottom-gutter-1-3">
        Transactional emails do not need to include an unsubscribe link.
      </p>
      <p class="bottom-gutter-1-3">
        Use this example if you have a webpage for users to manage their email subscriptions:
      </p>

      <pre class="formatting-example">
        <code class="lang-md">
          [Unsubscribe](https://www.example.gov.uk/unsubscribe)
        </code>
      </pre>

      <p class="bottom-gutter-1-3">
        If you do not have your own webpage, you can add a ‘mailto’ link to let users send an email to your team instead. For example:
      </p>

      <pre class="formatting-example">
        <code class="lang-md">
          [Unsubscribe](mailto:example@gov.uk?subject=unsubscribe)
        </code>
      </pre>

      <h2 class="nhsuk-heading-m">Formatting</h2>

      <h3 class="nhsuk-heading-s">Headings and subheadings</h3>

      <p class="bottom-gutter-1-3">
        Use one hash symbol followed by a space for a heading, for example:
      </p>

      <pre class="formatting-example">
        <code class="lang-md">
          # This is a heading
        </code>
      </pre>

      <p class="bottom-gutter-1-3">
        To add a subheading, use 2 hash symbols:
      </p>

      <pre class="formatting-example">
        <code class="lang-md">
          ## This is a subheading
        </code>
      </pre>



      <h3 class="nhsuk-heading-s" id="bullets">Bullet points</h3>

      <p >Use bullet points to help words or phrases stand out in your emails and letters.</p>

      <p >You can either:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
          <li>add the same bullet points to every message you send</li>
          <li>add personalised bullet points each time you send a message</li>
      </ul>

      <!-- TEMPLATED BULLET POINTS -->
      <p >Copy this example to add bullet points:</p>

      <pre class="formatting-example">
        <code class="lang-md">
          Introduce bullet points with a lead-in line ending in a colon:
          * leave one empty line space after the lead-in line
          * use an asterisk or a dash followed by a space to add an item
          * start each item with a lowercase letter, do not end with a full stop
          * leave one empty line space after the last item
        </code>
      </pre>

      <p >To create sub-items, add an indent of 2 spaces before the asterisk or dash.</p>

      <!-- PERSONALISED BULLET POINTS -->



        <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            How to add personalised bullet points
          </span>
        </summary>
        <div class="nhsuk-details__text">
          
          <p >Copy this example to add a <a href="">placeholder</a> to your message template:</p>

          <pre class="formatting-example">
            <code class="lang-md">
              Introduce bullet points with a lead-in line ending in a colon:
              ((bullet points))
              Leave one empty line space before the next paragraph.
            </code>
          </pre>

          <p >To send the message, <a href="">upload a list of recipient details</a>.</p>

          <p >Your spreadsheet should include one column for each bullet point. The column names must match the placeholder in the template.</p>
          <p >Notify will fill in the placeholder with your bullet points.</p>


        </div>
      </details>



      <p >There’s more <a href="">guidance about bullet
              points on GOV.UK</a>.</p>

      <h3 class="nhsuk-heading-s">Numbered steps</h3>
      <p class="bottom-gutter-1-3">
        Copy this example to add numbered steps:
      </p>
      <pre class="formatting-example">
        <code class="lang-md">
          1. Leave one empty line space before starting your list.
          2. Enter a number followed by a full stop and a space to add an item.
          3. Start each item with a capital letter and end it with a full stop.
          4. Leave one empty line space after the last item.
        </code>
      </pre>
      <p >To create sub-items, add an indent of 2 spaces before the number.</p>
      <h3 class="nhsuk-heading-s">Inset text</h3>
      <p >
        To add inset text, use a caret. For example:
      </p>
      <pre class="formatting-example"><code class="lang-md">^ You must tell us if your circumstances change.
      </code></pre>
      <h3 class="nhsuk-heading-s">Horizontal lines</h3>
      <p >
        To add a horizontal line between 2 paragraphs, use 3 dashes. Leave one empty line space after the first paragraph. For example:
      </p>
      <pre class="formatting-example">
        <code class="lang-md">
          First paragraph
          ---
          Second paragraph
        </code>
      </pre>
                <h2 class="nhsuk-heading-m">
        Personalisation
      </h2>
      <p >
        To personalise a message, use double brackets to add a placeholder to your content. For example:
      </p>
      <pre class="formatting-example nhsuk-u-margin-top-0">
        <code class="lang-md">
          Hello ((first name)), your reference is ((ref number))
        </code>
      </pre>
                <h2 class="nhsuk-heading-m">
        Optional content
      </h2>
      <p >
        To tailor your messages for different audiences:
      </p>
      <ul class="nhsuk-list nhsuk-list--bullet">
          <li>put the optional content inside double brackets</li>
          <li>give it a unique placeholder name, followed by 2 question marks</li>
        </ul>
      <p class="bottom-gutter-1-3">
        For example if you only want to show something to people who are under
        18:
      </p>
      <pre class="formatting-example">
        <code class="lang-md">
          ((under18??Please get your application signed by a parent or guardian.))
        </code>
      </pre>
      <div class="govuk-inset-text"> 
          <p >You cannot add a placeholder for personalisation within optional content. </p>
      </div>
      <p >
        For each person you send this message to, specify ‘yes’ or ‘no’ to
        show or hide this content.
      </p>
                <h2 class="nhsuk-heading-m">Links and URLs</h2>
      <p class="bottom-gutter-1-3">
        If the recipient is not expecting to receive an email from you, write the URL in full, starting with https://
      </p>
      <pre class="formatting-example">
        <code class="lang-md">
          Apply now at https://www.gov.uk/example
        </code>
      </pre>
      <p class="bottom-gutter-1-3">
        To convert text into a link, use square brackets around the link text and round brackets around the full URL. Make sure there are no spaces between the brackets or the link will not work. For example:
      </p>
      <pre class="formatting-example">
        <code class="lang-md">
          [Apply now](https://www.gov.uk/example)
        </code>
      </pre>
                <h2 class="nhsuk-heading-m">
        Send a document by email
      </h2>
      <p >
        Use double brackets to add a placeholder field to your template. This will contain a secure link to download the document.
      </p>
      <pre class="formatting-example">
        <code class="lang-md">
          Download your document at: ((link_to_file))
        </code>
      </pre>

      Next, use the API to upload your document. Follow the instructions to send a document by email in the <a href="">API documentation</a>.

    </div>
  </div>
{% endblock %}
