{% extends 'layout.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="notify-confirmation-panel">
        <h1 class="nhsuk-heading-l">Template saved</h1>
        <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">
          Template name<br />
          <strong>{{ data['save-template-name']}}</strong>
        </p>
      </div>

      <form action="/manage/folder-1/{{ data['continue-url']}}">

      {{ button({
        "text": "View template"
      }) }}

      </form>

      <p><a href="/manage/folder-1">Back to {{ data['folder-name-1'] or defaults['folder-name-1'] }}</a></p>

    </div>
  </div>
{% endblock %}