<!-- Custom Notify macros -->
{% from 'includes/sideNavBackLink.njk' import sideNavBackLink %}
{% from 'includes/sideNavItem.njk' import sideNavItem %}
{% from 'includes/sideNavSubItem.njk' import sideNavSubItem %}

{% set protoVersion = 'v3' %}

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  NHS Notify prototype
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}

  {{ header({
    service: {
      text: "Notify",
      href: "/" + protoVersion + "/manage"
    }
  })}}
  
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    meta: {
      items: [
        {
          href: '/',
          text: 'Home'
        },
        {
          href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
          text: "Reset data"
        },
        {
          href: '/',
          text: 'Prototype version: ' + protoVersion + ''
        }
      ]
    }
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include 'includes/scripts.html' %}
    <!-- For adding page specific JavsScript -->
    <script src="/nhsuk-frontend/nhsuk-frontend.min.js" type="module"></script>
    <script type="module">
      import { initAll } from '/nhsuk-frontend/nhsuk-frontend.min.js'
      initAll()
    </script>
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
