{% extends 'v7/layout.html' %}

{% block beforeContent %}

{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Are you sure you want to delete the template '{{ data['approve-template-name'] }}'?</h1>

      <p>The template will be removed and you won't be able to recover it.</p>

      <a href="templates" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-2">No, go back</a>

      <a href="templates?folder-1-{{data['message-type']}}-templates=0" class="nhsuk-button nhsuk-button--warning">Yes, delete template</a>

    </div>
  </div>
{% endblock %}
