{% extends 'v7/layout.html' %}



{% block beforeContent %}
{% endblock %}

{% block outerContent %}

  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Template edit history
      </h1>

      {% if data['message-type'] == "sms" %}

      <p>
        Version 3: {{ data['template-sms-name-1'] }}<br />
        <span class="nhsuk-hint">Edit made at 10:35 on 10th Feb 2024 by Mary Poppins</span>
      </p>

      <table role="table" class="nhsuk-table-responsive notify-template-content nhsuk-u-margin-bottom-8">

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              From
            </th>
            <td role="cell" class="nhsuk-table__cell">
              NHS organisation name
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              Message
            </th>
            <td role="cell" class="nhsuk-table__cell">
              Here is the message body.
            </td>
          </tr>
        </tbody>

      </table>



      <p>
        Version 2: {{ data['template-sms-name-1'] }}<br />
        <span class="nhsuk-hint">Edit made at 10:35 on 10th Feb 2024 by Mary Poppins</span>
      </p>

      <table role="table" class="nhsuk-table-responsive notify-template-content nhsuk-u-margin-bottom-8">

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              From
            </th>
            <td role="cell" class="nhsuk-table__cell">
              NHS organisation name
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              Message
            </th>
            <td role="cell" class="nhsuk-table__cell">
              Here is the message body.
            </td>
          </tr>
        </tbody>

      </table>

      <p>
        Version 1: {{ data['template-sms-name-1'] }}<br />
        <span class="nhsuk-hint">Edit made at 10:35 on 10th Feb 2024 by Mary Poppins</span>
      </p>

      <table role="table" class="nhsuk-table-responsive notify-template-content nhsuk-u-margin-bottom-8">

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              From
            </th>
            <td role="cell" class="nhsuk-table__cell">
              NHS organisation name
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              Message
            </th>
            <td role="cell" class="nhsuk-table__cell">
              Here is the message body.
            </td>
          </tr>
        </tbody>

      </table>

    {% endif %}



    {% if data['message-type'] == "email" %}

      <p>
        Version 3: {{ data['template-email-name-1'] }}<br />
        <span class="nhsuk-hint">Edit made at 10:35 on 10th Feb 2024 by Mary Poppins</span>
      </p>

      <table role="table" class="nhsuk-table-responsive notify-template-content nhsuk-u-margin-bottom-8">

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              From
            </th>
            <td role="cell" class="nhsuk-table__cell">
              NHS organisation name
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              Subject line
            </th>
            <td role="cell" class="nhsuk-table__cell">
              Test subject line
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              Message
            </th>
            <td role="cell" class="nhsuk-table__cell">
              <h3 class="nhsuk-heading-s">Heading</h3>
              <p>Here is the message body.</p>
              <p>Here is a list:</p>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>Bullet 1</li>
                <li>Bullet 2</li>
                <li>Bullet 3</li>
              </ul>
            </td>
          </tr>
        </tbody>

      </table>


      <p>
        Version 2: {{ data['template-email-name-1'] }}<br />
        <span class="nhsuk-hint">Edit made at 10:35 on 10th Feb 2024 by Mary Poppins</span>
      </p>

      <table role="table" class="nhsuk-table-responsive notify-template-content nhsuk-u-margin-bottom-8">

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              From
            </th>
            <td role="cell" class="nhsuk-table__cell">
              NHS organisation name
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              Subject line
            </th>
            <td role="cell" class="nhsuk-table__cell">
              Test subject line
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              Message
            </th>
            <td role="cell" class="nhsuk-table__cell">
              <h3 class="nhsuk-heading-s">Heading</h3>
              <p>Here is the message body.</p>
              <p>Here is a list:</p>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>Bullet 1</li>
                <li>Bullet 2</li>
                <li>Bullet 3</li>
              </ul>
            </td>
          </tr>
        </tbody>

      </table>
    
    
      <p>
        Version 1: {{ data['template-email-name-1'] }}<br />
        <span class="nhsuk-hint">Edit made at 10:35 on 10th Feb 2024 by Mary Poppins</span>
      </p>

      <table role="table" class="nhsuk-table-responsive notify-template-content nhsuk-u-margin-bottom-8">

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              From
            </th>
            <td role="cell" class="nhsuk-table__cell">
              NHS organisation name
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              Subject line
            </th>
            <td role="cell" class="nhsuk-table__cell">
              Test subject line
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              Message
            </th>
            <td role="cell" class="nhsuk-table__cell">
              <h3 class="nhsuk-heading-s">Heading</h3>
              <p>Here is the message body.</p>
              <p>Here is a list:</p>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>Bullet 1</li>
                <li>Bullet 2</li>
                <li>Bullet 3</li>
              </ul>
            </td>
          </tr>
        </tbody>

      </table>

    {% endif %}




    {% if data['message-type'] == "letter" %}

    <p>
      Version 3: {{ data['template-letter-name-1'] }}<br />
      <span class="nhsuk-hint">Edit made at 10:35 on 10th Feb 2024 by Mary Poppins</span>
    </p>

    <table role="table" class="nhsuk-table-responsive notify-template-content nhsuk-u-margin-bottom-8">

      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <th role="cell" class="nhsuk-table__cell">
            Sender address
          </th>
          <td role="cell" class="nhsuk-table__cell">
            NHS organisation name<br />
            25 Long Lane<br />
            Leeds<br />
            LS1 2AB
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th role="cell" class="nhsuk-table__cell">
            Heading
          </th>
          <td role="cell" class="nhsuk-table__cell">
            The main heading goes here
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th role="cell" class="nhsuk-table__cell">
            Body text
          </th>
          <td role="cell" class="nhsuk-table__cell">
            <h3 class="nhsuk-heading-s">Heading</h3>
            <p>Here is the message body.</p>
            <p>Here is a list:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>Bullet 1</li>
              <li>Bullet 2</li>
              <li>Bullet 3</li>
            </ul>
          </td>
        </tr>
      </tbody>

    </table>


    <p>
      Version 2: {{ data['template-letter-name-1'] }}<br />
      <span class="nhsuk-hint">Edit made at 10:35 on 10th Feb 2024 by Mary Poppins</span>
    </p>

    <table role="table" class="nhsuk-table-responsive notify-template-content nhsuk-u-margin-bottom-8">

      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <th role="cell" class="nhsuk-table__cell">
            Sender address
          </th>
          <td role="cell" class="nhsuk-table__cell">
            NHS organisation name<br />
            25 Long Lane<br />
            Leeds<br />
            LS1 2AB
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th role="cell" class="nhsuk-table__cell">
            Heading
          </th>
          <td role="cell" class="nhsuk-table__cell">
            The main heading goes here
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th role="cell" class="nhsuk-table__cell">
            Body text
          </th>
          <td role="cell" class="nhsuk-table__cell">
            <h3 class="nhsuk-heading-s">Heading</h3>
            <p>Here is the message body.</p>
            <p>Here is a list:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>Bullet 1</li>
              <li>Bullet 2</li>
              <li>Bullet 3</li>
            </ul>
          </td>
        </tr>
      </tbody>

    </table>



    <p>
      Version 1: {{ data['template-letter-name-1'] }}<br />
      <span class="nhsuk-hint">Edit made at 10:35 on 10th Feb 2024 by Mary Poppins</span>
    </p>

    <table role="table" class="nhsuk-table-responsive notify-template-content nhsuk-u-margin-bottom-8">

      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <th role="cell" class="nhsuk-table__cell">
            Sender address
          </th>
          <td role="cell" class="nhsuk-table__cell">
            NHS organisation name<br />
            25 Long Lane<br />
            Leeds<br />
            LS1 2AB
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th role="cell" class="nhsuk-table__cell">
            Heading
          </th>
          <td role="cell" class="nhsuk-table__cell">
            The main heading goes here
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th role="cell" class="nhsuk-table__cell">
            Body text
          </th>
          <td role="cell" class="nhsuk-table__cell">
            <h3 class="nhsuk-heading-s">Heading</h3>
            <p>Here is the message body.</p>
            <p>Here is a list:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>Bullet 1</li>
              <li>Bullet 2</li>
              <li>Bullet 3</li>
            </ul>
          </td>
        </tr>
      </tbody>

    </table>

    {% endif %}

      

    </div>
  </div>
{% endblock %}