{% macro row(templateName, templateNumber, locked, templateType, templateTypeName) %}

<tr role="row" class="nhsuk-table__row">

    <!--<td role="cell" class="nhsuk-table__cell">
        
        <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input checkboxes" id="template-{{ templateNumber }}" name="" type="checkbox" value="Template {{ templateNumber }}" onclick="toggleActionsByCheckboxes()">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="template-{{ templateNumber }}"></label>
        </div>
       
    </td>-->

    <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Name </span>

        <a href="template-{{ templateType }}?preview-template-name={{ templateName }}&preview-template-type={{ templateTypeName }}&template-locked={{ locked }}">
        {{ templateName }}
        </a>

        {% if locked == '1' %}
        
        <br />
        <strong class="nhsuk-tag nhsuk-tag--orange">
            Locked
        </strong>

        {% endif %}

    </td>

    <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Type </span>
        {{ templateTypeName }}
    </td>
    
    <td role="cell" class="nhsuk-table__cell nhsuk-body-s">
        <span class="nhsuk-table-responsive__heading">Date and time created </span>30 Apr 2024<br />09:34
    </td>

    <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Action </span>

        <!--<p class="nhsuk-u-margin-bottom-2 nhsuk-body-s"><a href="template-move">Move</a></p>-->

        <p class="nhsuk-u-margin-bottom-2 nhsuk-body-s"><a href="/404">Copy</a></p>

        {% if locked != '1' %}
        <p class="nhsuk-u-margin-bottom-2 nhsuk-body-s"><a href="/404">Delete</a></p>
        {% endif %}

    </td>
</tr>

{% endmacro %}