<div class="nhsuk-warning-callout-nhs-notify nhsuk-u-padding-4 nhsuk-u-margin-bottom-6">

    {{ tag({
        text: "Locked",
        classes: "nhsuk-u-margin-right-2 nhsuk-u-margin-bottom-3 nhsuk-tag--orange"
    })}}
    
    <p>You cannot edit this template because it's used in a message plan that has been submitted.</p>

    <p><a href="/404">Copy this template</a> to create a new one with the same content.</p>

    <details class="nhsuk-details nhsuk-u-margin-bottom-0">
        <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
            Show message plans that use this template
        </span>
        </summary>
        <div class="nhsuk-details__text">
        
        <p>
            <!--<strong class="nhsuk-tag nhsuk-tag--red">
            Production
            </strong>-->
            <a href="create-message-production">{{ data["message-name-1"] }}</a>
        </p>

        </div>
    </details>

</div>