{% extends 'v2/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Create and submit a template
      </h1>

      <p>Use this tool to create and submit templates you want to send as messages using NHS Notify.</p>
      <p>You can create templates for:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>NHS app messages</li>
        <li>emails</li>
        <li>text messages (SMS)</li>
        <li>letters</li>
      </ul>

      <h2 class="nhsuk-heading-l">Before you start</h2>

      <p>You should only use this tool if the content of your templates has been fully approved and signed off by the appropriate stakeholders in your service or organisation.</p>

      <p>Templates cannot be changed or edited once they have been submitted.</p>
          
      <p>Any templates that you create but do not submit will not be saved. This means that you cannot save templates as drafts and edit them at a later time.</p>

      <form action="/{{protoVersion}}/manage/login">
        {{ button({
          'text': 'Start now'
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
