{% extends 'v2/layout.html' %}



{% block beforeContent %}
{% endblock %}

{% block outerContent %}

<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
  <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Submit the template: {{ data['approve-template-name'] }}
      </h1>

      <form action="template-approve-confirmation">

        {{ warningCallout({
          "heading": "Important",
          "HTML": "<p>This template cannot be changed after you submit it.</p>"
        }) }}

        <p>Submitting this template will save it, ready to be used in a message plan.</p>

        <p>After you submit, if you need to make any changes then you will need to create and submit a new template.</p>

        {{ button({
          "text": "Submit"
        }) }}

        <p><a href="javascript:history.go(-1)">Go back</a></p>

      </form>

    </div>
  </div>
{% endblock %}
