{% extends 'v6/layout.html' %}

{% block beforeContent %}

{% endblock %}

{% block outerContent %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back",
  "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Choose a template type to create</h1>

      <p><a href="/404">Learn more about message channels (opens in a new tab)</a>.</p>

      <form action="route-template-type" method="post">

      {{ radios({
        "name": "radio-template-type",
        "hint": {
          "text": "Select one option"
        },
        "items": [
          {
            "value": "app",
            "text": "NHS App message"
          },
          {
            "value": "email",
            "text": "Email"
          },
          {
            "value": "sms",
            "text": "Text message (SMS)"
          },
          {
            "value": "letter",
            "text": "Standard letter"
          },
          {
            "value": "letter-non-eng",
            "text": "Non-english language letter"
          }
        ]
      }) }}

      {{ button({
        'text': 'Continue'
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
