{% extends 'v6/layout.html' %}

{% block head %}{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{{ backLink({
  "href": "templates",
  "text": "Back to all templates",
  "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% if data['show-save-banner'] == 'yes' %}
      <div class="notify-confirmation-panel">
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-0">Template saved</h1>
      </div>
      {% endif %}

      {% if data['template-letter-name-1-approved'] == '1' %}

      {{ tag({
        text: "Submitted",
        classes: "nhsuk-u-margin-bottom-2 nhsuk-tag--grey"
      })}}

      {% else %}

      {{ tag({
        text: "Ready to submit",
        classes: "nhsuk-u-margin-bottom-2"
      })}}

      {% endif %}

      <h1 class="nhsuk-heading-xl">
        {{ data['template-letter-name-1'] }}
      </h1>

      <table role="table" class="notify-template-content nhsuk-u-margin-bottom-4">
        <tbody class="nhsuk-table__body">

          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell" style="width:20%;">
              Template ID
            </th>
            <td role="cell" class="nhsuk-table__cell">
              letter-a4b171b5-431f-4a5b-9d7a-9a4903c98e66
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              Type
            </th>
            <td role="cell" class="nhsuk-table__cell">
              Letter
            </td>
          </tr>

          {% if data['checkbox-accessible-letter'] %}
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              Accessible formats
            </th>
            <td role="cell" class="nhsuk-table__cell">
              {% if 'accessible-large-print' in data['checkbox-accessible-letter'] %}<p>Large print: <br />letter-large-a4b171b5-431f-4a5b-9d7a-9a4903c98e66</p>{% endif %}
              {% if 'accessible-braille' in data['checkbox-accessible-letter'] %}<p>Braille: <br />letter-braille-a4b171b5-431f-4a5b-9d7a-9a4903c98e66</p>{% endif %}
              {% if 'accessible-audio-cd' in data['checkbox-accessible-letter'] %}<p>Audio CD: <br />letter-audio-a4b171b5-431f-4a5b-9d7a-9a4903c98e66</p>{% endif %}
            </td>
          </tr>
          {% endif %}
          
          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell">
              From
            </th>
            <td role="cell" class="nhsuk-table__cell">
              
              <a href="/404">Who your letter will be sent from</a>

              {#
              {{ details({
                "text": "Who your letter will be sent from",
                "HTML": "
                <p>The return address is set by NHS Notify's suppliers and is printed on each letter's envelope.</p>
                <p>If you want recipients to reply to you by letter, add your address in the content of your letter. Letter templates do not have a section for a reply address.</p>
                ",
                "classes": "nhsuk-u-margin-bottom-0"
              }) }}
              #}

            </td>
          </tr>

        </tbody>
      </table>

      <div id="adobe-dc-view" style="height: 800px; width: 100%;" class="nhsuk-u-margin-bottom-6"></div>

      {% if data['template-letter-name-1-approved'] != '1' %}

      <form action="route-template-next" method="post">

        {{ radios({
          "name": "template-next",
          "fieldset": {
            "legend": {
              "text": "What would you like to do next?",
              "classes": "nhsuk-fieldset__legend--m"
            }
          },
          "items": [
            {
              "value": "edit-letter",
              "text": "Edit template"
            },
            {
              "value": "submit-letter",
              "text": "Submit template"
            }
          ]
        }) }}
  
        <input type="hidden" name="approve-template-name" value="{{ data['template-letter-name-1'] }}">
        <input type="hidden" name="message-type" value="letter">
        <input type="hidden" name="continue-url" value="template-letter-1?show-save-banner=no">
  
        {{ button({
          "text": "Continue"
        }) }}
  
      </form>

      <p><a href="templates">Back to all templates</a></p>

      {% else %}

      <p>This template cannot be edited because it has been submitted.</p>
      <p>If you want to change a submitted or live template, you must create a new template to replace it.</p>
      <p><a href="templates">Back to all templates</a></p>

      {% endif %}

    </div>
  </div>
{% endblock %}

{% block pageScripts %}

<script src="https://documentservices.adobe.com/view-sdk/viewer.js"></script>
<script type="text/javascript">
  const previewConfig = {
    embedMode: "SIZED_CONTAINER",
    showDownloadPDF: true,
    showZoomControl: true,
    showAnnotationTools: false,
    showThumbnails: false,
    showBookmarks: false
  }

  document.addEventListener("adobe_dc_view_sdk.ready", function(){ 
    var adobeDCView = new AdobeDC.View({clientId: "f419e8ee3f914a539f3dca22cecbca79", divId: "adobe-dc-view"});
    // Client IDs: live: f419e8ee3f914a539f3dca22cecbca79    localhost: 1b86a3aba48f4be3b0d473ba30e9472c
    adobeDCView.previewFile({
      content:{location: {url: "/files/example-letter-vacs.pdf"}},
      metaData:{fileName: "example-letter-vacs.pdf"}
    }, previewConfig);
  });
</script>

{% endblock %}