{% extends 'v10/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% from '../includes/template-folder-table-row.njk' import row %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-quarter">

      <ul class="nhsuk-list app-side-nav__list">

        {{sideNavItem(title='Campaigns', link='folders', active='0')}}

        <li class="app-side-nav__item nhsuk-u-margin-left-3"><a href="folder" class="app-side-nav__link">{{ data['folder-name-1'] }}</a></li>

        <li class="app-side-nav__item nhsuk-u-margin-left-5">

          <ul class="nhsuk-list app-side-nav__list nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-3">

            {{sideNavSubItem(title='Messages', link='folder-messages', active='0')}}

            {{sideNavSubItem(title='Templates', link='folder-templates', active='1')}}

          </ul>

        </li>

      </ul>

    </div>

    <div class="nhsuk-grid-column-three-quarters">

      <span class="nhsuk-caption-l">{{ data['folder-name-1'] }}</span>
      <h1 class="nhsuk-heading-xl">
        Templates
      </h1>

      <form action="">
        <input type="hidden" name="show-templates" value="1">
        {{ button({
          'text': 'Create template'
        }) }}
      </form>

      {% if data['show-templates'] == '1' %}

      <table role="table" class="nhsuk-table-responsive">

        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
              Type
            </th>
            <th role="columnheader" class="" scope="col">
              Status
            </th>
            <th role="columnheader" class="" scope="col">
              Date and <br />time created
            </th>
            <th role="columnheader" class="" scope="col">
              Action
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">

<!--
##################################################

Template 1

##################################################
-->

        {% if 
          data['messages-prod'] == '1' 
          %}

            {% if 
                data['channel-1-template'] == 'Template 1' or 
                data['channel-2-template'] == 'Template 1' or 
                data['channel-3-template'] == 'Template 1' 
            %}

              {{row(templateNumber='1', locked='1', templateType='NHS App')}}

            {% else %}

              {{row(templateNumber='1', locked='', templateType='NHS App')}}

            {% endif %}

          {% else %}

            {{row(templateNumber='1', locked='', templateType='NHS App')}}

          {% endif %}




          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>

              {% if 
                data['messages-prod'] == '1' 
              %}

                {% if 
                  data['channel-1-template'] == 'Template 1' or 
                  data['channel-2-template'] == 'Template 1' or 
                  data['channel-3-template'] == 'Template 1' 
                %}

                <a href="template-app?preview-template-name=Template 1&template-locked=1">
                  Template 1
                </a>

                {% else %}

                <a href="template-app?preview-template-name=Template 1&template-locked=">
                  Template 1
                </a>

                {% endif %}

              {% else %}

              <a href="template-app?preview-template-name=Template 1&template-locked=">
                Template 1
              </a>

              {% endif %}

              <!--{% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 1' or 
                data['channel-2-template'] == 'Template 1' or 
                data['channel-3-template'] == 'Template 1' 
              %}

              <a href="template-app?preview-template-name=Template 1&template-locked=1">
                Template 1
              </a>

              {% else %}

              <a href="template-app?preview-template-name=Template 1&template-locked=">
                Template 1
              </a>

              {% endif %}-->

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              NHS App
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>

              {% if 
                data['messages-prod'] == '1' 
              %}

                {% if 
                  data['channel-1-template'] == 'Template 1' or 
                  data['channel-2-template'] == 'Template 1' or 
                  data['channel-3-template'] == 'Template 1' 
                %}

                {{ tag({
                  text: "Locked",
                  classes: "nhsuk-tag--orange"
                })}}

                {% else %}

                {{ tag({
                  text: "Unlocked",
                  classes: "nhsuk-tag--blue"
                })}}

                {% endif %}

              {% else %}

              {{ tag({
                text: "Unlocked",
                classes: "nhsuk-tag--blue"
              })}}

              {% endif %}
              
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-body-s">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />09:34
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="">Copy</a></p>

              {% if 
                data['messages-prod'] == '1' 
              %}

                {% if 
                  data['channel-1-template'] == 'Template 1' or 
                  data['channel-2-template'] == 'Template 1' or 
                  data['channel-3-template'] == 'Template 1' 
                %}

                {% else %}

                <p class="nhsuk-u-margin-bottom-2"><a href="">Delete</a></p>

                {% endif %}

              {% else %}

              <p class="nhsuk-u-margin-bottom-2"><a href="">Delete</a></p>

              {% endif %}

            </td>
          </tr>




<!--
##################################################

Template 2

##################################################
-->



        {% if 
          data['messages-prod'] == '1' 
          %}

            {% if 
                data['channel-1-template'] == 'Template 1' or 
                data['channel-2-template'] == 'Template 1' or 
                data['channel-3-template'] == 'Template 1' 
            %}

              {{row(templateNumber='1', locked='1', templateType='NHS App')}}

            {% else %}

              {{row(templateNumber='1', locked='', templateType='NHS App')}}

            {% endif %}

          {% else %}

            {{row(templateNumber='1', locked='', templateType='NHS App')}}

          {% endif %}


          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>

              {% if 
                data['messages-prod'] == '1' 
              %}

                {% if 
                  data['channel-1-template'] == 'Template 1' or 
                  data['channel-2-template'] == 'Template 1' or 
                  data['channel-3-template'] == 'Template 1' 
                %}

                <a href="template-app?preview-template-name=Template 1&template-locked=1">
                  Template 1
                </a>

                {% else %}

                <a href="template-app?preview-template-name=Template 1&template-locked=">
                  Template 1
                </a>

                {% endif %}

              {% else %}

              <a href="template-app?preview-template-name=Template 1&template-locked=">
                Template 1
              </a>

              {% endif %}

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              NHS App
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>

              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 2' or 
                data['channel-2-template'] == 'Template 2' or 
                data['channel-3-template'] == 'Template 2' 
              %}

              {{ tag({
                text: "Locked",
                classes: "nhsuk-tag--orange"
              })}}

              {% else %}

              {{ tag({
                text: "Unlocked",
                classes: "nhsuk-tag--blue"
              })}}

              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-body-s">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />09:34
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="">Copy</a></p>

              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 2' or 
                data['channel-2-template'] == 'Template 2' or 
                data['channel-3-template'] == 'Template 2' 
              %}

              {% else %}

              <p class="nhsuk-u-margin-bottom-2"><a href="">Delete</a></p>

              {% endif %}

            </td>
          </tr>




<!--
##################################################

Template 3

##################################################
-->




          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 3' or 
                data['channel-2-template'] == 'Template 3' or 
                data['channel-3-template'] == 'Template 3' 
              %}

              <a href="template-app?preview-template-name=Template 3&template-locked=1">
                Template 3
              </a>

              {% else %}

              <a href="template-app?preview-template-name=Template 3&template-locked=">
                Template 3
              </a>

              {% endif %}

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              NHS App
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 3' or 
                data['channel-2-template'] == 'Template 3' or 
                data['channel-3-template'] == 'Template 3' 
              %}

              {{ tag({
                text: "Locked",
                classes: "nhsuk-tag--orange"
              })}}

              {% else %}

              {{ tag({
                text: "Unlocked",
                classes: "nhsuk-tag--blue"
              })}}

              {% endif %}

            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-body-s">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />09:34
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="">Copy</a></p>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 3' or 
                data['channel-2-template'] == 'Template 3' or 
                data['channel-3-template'] == 'Template 3' 
              %}

              {% else %}

              <p class="nhsuk-u-margin-bottom-2"><a href="">Delete</a></p>

              {% endif %}

            </td>
          </tr>




<!--
##################################################

Template 4

##################################################
-->




          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>

              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 4' or 
                data['channel-2-template'] == 'Template 4' or 
                data['channel-3-template'] == 'Template 4' 
              %}

              <a href="template-sms?preview-template-name=Template 4&template-locked=1">
                Template 4
              </a>

              {% else %}

              <a href="template-sms?preview-template-name=Template 4&template-locked=">
                Template 4
              </a>

              {% endif %}

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              Text message (SMS)
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 4' or 
                data['channel-2-template'] == 'Template 4' or 
                data['channel-3-template'] == 'Template 4' 
              %}

              {{ tag({
                text: "Locked",
                classes: "nhsuk-tag--orange"
              })}}

              {% else %}

              {{ tag({
                text: "Unlocked",
                classes: "nhsuk-tag--blue"
              })}}

              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-body-s">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />09:34
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="">Copy</a></p>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 4' or 
                data['channel-2-template'] == 'Template 4' or 
                data['channel-3-template'] == 'Template 4' 
              %}

              {% else %}

              <p class="nhsuk-u-margin-bottom-2"><a href="">Delete</a></p>

              {% endif %}

            </td>
          </tr>




<!--
##################################################

Template 5

##################################################
-->




          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>

              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 5' or 
                data['channel-2-template'] == 'Template 5' or 
                data['channel-3-template'] == 'Template 5' 
              %}

              <a href="template-sms?preview-template-name=Template 5&template-locked=1">
                Template 5
              </a>

              {% else %}

              <a href="template-sms?preview-template-name=Template 5&template-locked=">
                Template 5
              </a>

              {% endif %}

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              Text message (SMS)
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>

              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 5' or 
                data['channel-2-template'] == 'Template 5' or 
                data['channel-3-template'] == 'Template 5' 
              %}

              {{ tag({
                text: "Locked",
                classes: "nhsuk-tag--orange"
              })}}

              {% else %}

              {{ tag({
                text: "Unlocked",
                classes: "nhsuk-tag--blue"
              })}}

              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-body-s">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />09:34
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="">Copy</a></p>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 5' or 
                data['channel-2-template'] == 'Template 5' or 
                data['channel-3-template'] == 'Template 5' 
              %}

              {% else %}

              <p class="nhsuk-u-margin-bottom-2"><a href="">Delete</a></p>

              {% endif %}

            </td>
          </tr>




<!--
##################################################

Template 6

##################################################
-->




          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 6' or 
                data['channel-2-template'] == 'Template 6' or 
                data['channel-3-template'] == 'Template 6' 
              %}

              <a href="template-sms?preview-template-name=Template 6&template-locked=1">
                Template 6
              </a>

              {% else %}

              <a href="template-sms?preview-template-name=Template 6&template-locked=">
                Template 6
              </a>

              {% endif %}

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              Text message (SMS)
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 6' or 
                data['channel-2-template'] == 'Template 6' or 
                data['channel-3-template'] == 'Template 6' 
              %}

              {{ tag({
                text: "Locked",
                classes: "nhsuk-tag--orange"
              })}}

              {% else %}

              {{ tag({
                text: "Unlocked",
                classes: "nhsuk-tag--blue"
              })}}

              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-body-s">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />09:34
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="">Copy</a></p>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 6' or 
                data['channel-2-template'] == 'Template 6' or 
                data['channel-3-template'] == 'Template 6' 
              %}

              {% else %}

              <p class="nhsuk-u-margin-bottom-2"><a href="">Delete</a></p>

              {% endif %}
            </td>
          </tr>




<!--
##################################################

Template 7

##################################################
-->




          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>

              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 7' or 
                data['channel-2-template'] == 'Template 7' or 
                data['channel-3-template'] == 'Template 7' 
              %}

              <a href="template-email?preview-template-name=Template 7&template-locked=1">
                Template 7
              </a>

              {% else %}

              <a href="template-email?preview-template-name=Template 7&template-locked=">
                Template 7
              </a>

              {% endif %}

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              Email
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 7' or 
                data['channel-2-template'] == 'Template 7' or 
                data['channel-3-template'] == 'Template 7' 
              %}

              {{ tag({
                text: "Locked",
                classes: "nhsuk-tag--orange"
              })}}

              {% else %}

              {{ tag({
                text: "Unlocked",
                classes: "nhsuk-tag--blue"
              })}}

              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-body-s">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />09:34
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="">Copy</a></p>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 7' or 
                data['channel-2-template'] == 'Template 7' or 
                data['channel-3-template'] == 'Template 7' 
              %}

              {% else %}

              <p class="nhsuk-u-margin-bottom-2"><a href="">Delete</a></p>

              {% endif %}

            </td>
          </tr>




<!--
##################################################

Template 8

##################################################
-->




          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>

              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 8' or 
                data['channel-2-template'] == 'Template 8' or 
                data['channel-3-template'] == 'Template 8' 
              %}

              <a href="template-email?preview-template-name=Template 8&template-locked=1">
                Template 8
              </a>

              {% else %}

              <a href="template-email?preview-template-name=Template 8&template-locked=">
                Template 8
              </a>

              {% endif %}

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              Email
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>

              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 8' or 
                data['channel-2-template'] == 'Template 8' or 
                data['channel-3-template'] == 'Template 8' 
              %}

              {{ tag({
                text: "Locked",
                classes: "nhsuk-tag--orange"
              })}}

              {% else %}

              {{ tag({
                text: "Unlocked",
                classes: "nhsuk-tag--blue"
              })}}

              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-body-s">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />09:34
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="">Copy</a></p>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 8' or 
                data['channel-2-template'] == 'Template 8' or 
                data['channel-3-template'] == 'Template 8' 
              %}

              {% else %}

              <p class="nhsuk-u-margin-bottom-2"><a href="">Delete</a></p>

              {% endif %}

            </td>
          </tr>




<!--
##################################################

Template 9

##################################################
-->




          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 9' or 
                data['channel-2-template'] == 'Template 9' or 
                data['channel-3-template'] == 'Template 9' 
              %}

              <a href="template-email?preview-template-name=Template 9&template-locked=1">
                Template 9
              </a>

              {% else %}

              <a href="template-email?preview-template-name=Template 9&template-locked=">
                Template 9
              </a>

              {% endif %}

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              Email
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 9' or 
                data['channel-2-template'] == 'Template 9' or 
                data['channel-3-template'] == 'Template 9' 
              %}

              {{ tag({
                text: "Locked",
                classes: "nhsuk-tag--orange"
              })}}

              {% else %}

              {{ tag({
                text: "Unlocked",
                classes: "nhsuk-tag--blue"
              })}}

              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-body-s">
              <span class="nhsuk-table-responsive__heading">Date and time created </span>30th Apr 2024<br />09:34
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <p class="nhsuk-u-margin-bottom-2"><a href="">Copy</a></p>
              
              {% if 
                data['messages-prod'] == '1' and 
                data['channel-1-template'] == 'Template 9' or 
                data['channel-2-template'] == 'Template 9' or 
                data['channel-3-template'] == 'Template 9' 
              %}

              {% else %}

              <p class="nhsuk-u-margin-bottom-2"><a href="">Delete</a></p>

              {% endif %}
            </td>
          </tr>





<!--
##################################################

End

##################################################
-->




        </tbody>
      </table>

      {% else %}
 
      <p>You do not have any templates yet.</p>

      {% endif %}
      
    </div>
  </div>
{% endblock %}
