{% extends 'v10/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Move message(s) to production</h1>

      {{ details({
        text: "What moving messages to production means",
        HTML: "
        <p>Moving messages from draft to production means that they are ready to sent.</p>
        <p>Messages will only be sent when you make a request with <a href='https://digital.nhs.uk/developer/api-catalogue/nhs-notify'>NHS Notify API</a> or <a href='https://digital.nhs.uk/developer/api-catalogue/nhs-notify-mesh'>NHS Notify MESH</a>.</p>
        "
      }) }}

      <table role="table" class="notify-template-content nhsuk-u-margin-bottom-6">
        <tbody class="nhsuk-table__body">

          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell" style="width:20%;">
              Name
            </th>
            <td role="cell" class="nhsuk-table__cell">
              {{ data['message-name-1'] }}
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <a href="move-message-preview">Preview</a>
            </td>
          </tr>

          <!--<tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell" style="width:20%;">
              Name
            </th>
            <td role="cell" class="nhsuk-table__cell">
              {{ data['message-name-1'] }}
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <a href="">Preview</a>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <th role="cell" class="nhsuk-table__cell" style="width:20%;">
              Name
            </th>
            <td role="cell" class="nhsuk-table__cell">
              {{ data['message-name-1'] }}
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <a href="">Preview</a>
            </td>
          </tr>-->

        </tbody>
      </table>

      <h2 class="nhsuk-heading-m">Before you move messages</h2>

      <p>Messages in production will also lock any templates assigned to them.</p>
      <p>You should check that your templates are:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>how you expect them to appear</li>
          <li>free from typo's or spelling mistakes</li>
          <li>signed off by the relevant stakeholders in your team</li>
          <li>assigned to the correct messages</li>
        </ul>

      {{ warningCallout({
        heading: "Important",
        HTML: "
        <p>You cannot change messages that are in production.</p>
        <p>If you need to edit or change a message that is in production, you'll need to replace it with a new message.</p>
          "
      }) }}

      <div class="nhsuk-form-group">

        <a href="folder-messages" class="nhsuk-button nhsuk-button--secondary">Keep in draft</a>

        <a href="folder-messages?messages-draft=0&messages-prod=1" class="nhsuk-button nhsuk-button--warning nhsuk-u-margin-left-3">Move to production</a>

      </div>

    </div>
  </div>
{% endblock %}
